openapi: 3.2.0
info:
  version: 1.4.1
  title: Mailchimp Transactional Exports API
  contact:
    name: API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/transactional.openapi.json
servers:
- url: https://mandrillapp.com/api/1.3
tags:
- name: Exports
paths:
  /exports/info:
    post:
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      summary: View export info
      description: Returns information about an export job. If the export job's state is 'complete', the returned data will include a URL you can use to fetch the results. Every export job produces a zip archive, but the format of the archive is distinct for each job type. The api calls that initiate exports include more details about the output format for that job type.
      operationId: postExportsInfo
      tags:
      - Exports
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: the information about the export
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job - activity, reject, or allowlist
                    example: reject
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:58:10'
                  state:
                    type: string
                    description: the export job's state - waiting, working, complete, error, or expired.
                    example: complete
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is completed.
                    example: https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/activity-2025-04-29_18%3A31%3A05.zip
            application/x-php:
              schema:
                type: object
                description: the information about the export
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job - activity, reject, or allowlist
                    example: reject
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:58:10'
                  state:
                    type: string
                    description: the export job's state - waiting, working, complete, error, or expired.
                    example: complete
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is completed.
                    example: https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/activity-2025-04-29_18%3A31%3A05.zip
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: the information about the export
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job - activity, reject, or allowlist
                    example: reject
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:58:10'
                  state:
                    type: string
                    description: the export job's state - waiting, working, complete, error, or expired.
                    example: complete
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is completed.
                    example: https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/activity-2025-04-29_18%3A31%3A05.zip
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: a valid api key
                id:
                  type: string
                  description: an export job identifier
        required: true
  /exports/list:
    post:
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      summary: List exports
      description: Returns a list of your exports.
      operationId: postExportsList
      tags:
      - Exports
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                description: the account's exports
                items:
                  type: object
                  description: the individual export info
                  properties:
                    id:
                      type: string
                      description: the unique identifier for this Export. Use this identifier when checking the export job's status
                      example: '2025-04-29 18:48:05.63771'
                    created_at:
                      type: string
                      description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                      format: date-time
                      example: '2025-04-29 18:48:05'
                    type:
                      type: string
                      description: the type of the export job - activity, reject, or allowlist
                      example: allowlist
                    finished_at:
                      type: string
                      description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format
                      format: date-time
                      example: '2025-04-29 18:58:10'
                    state:
                      type: string
                      description: the export job's state - waiting, working, complete, error, or expired.
                      example: complete
                    result_url:
                      type: string
                      description: the url for the export job's results, if the job is completed.
                      example: https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/allowlist-2025-04-29_18%3A31%3A05.zip
            application/x-php:
              schema:
                type: array
                description: the account's exports
                items:
                  type: object
                  description: the individual export info
                  properties:
                    id:
                      type: string
                      description: the unique identifier for this Export. Use this identifier when checking the export job's status
                      example: '2025-04-29 18:48:05.63771'
                    created_at:
                      type: string
                      description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                      format: date-time
                      example: '2025-04-29 18:48:05'
                    type:
                      type: string
                      description: the type of the export job - activity, reject, or allowlist
                      example: allowlist
                    finished_at:
                      type: string
                      description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format
                      format: date-time
                      example: '2025-04-29 18:58:10'
                    state:
                      type: string
                      description: the export job's state - waiting, working, complete, error, or expired.
                      example: complete
                    result_url:
                      type: string
                      description: the url for the export job's results, if the job is completed.
                      example: https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/allowlist-2025-04-29_18%3A31%3A05.zip
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the account's exports
                items:
                  type: object
                  description: the individual export info
                  properties:
                    id:
                      type: string
                      description: the unique identifier for this Export. Use this identifier when checking the export job's status
                      example: '2025-04-29 18:48:05.63771'
                    created_at:
                      type: string
                      description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                      format: date-time
                      example: '2025-04-29 18:48:05'
                    type:
                      type: string
                      description: the type of the export job - activity, reject, or allowlist
                      example: allowlist
                    finished_at:
                      type: string
                      description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format
                      format: date-time
                      example: '2025-04-29 18:58:10'
                    state:
                      type: string
                      description: the export job's state - waiting, working, complete, error, or expired.
                      example: complete
                    result_url:
                      type: string
                      description: the url for the export job's results, if the job is completed.
                      example: https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/allowlist-2025-04-29_18%3A31%3A05.zip
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: a valid api key
        required: true
  /exports/rejects:
    post:
      x-custom-config:
        methodNameCamel: rejects
        methodNameSnake: rejects
      summary: Export denylist
      description: 'Begins an export of your rejection denylist. The denylist will be exported to a zip archive containing a single file named rejects.csv that includes the following fields: email, reason, detail, created_at, expires_at, last_event_at, expires_at.'
      operationId: postExportsRejects
      tags:
      - Exports
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: information about the rejects export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job - activity, reject, or whitelist
                    example: reject
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:58:10'
                  state:
                    type: string
                    description: the export job's state - waiting, working, complete, error, or expired.
                    example: waiting
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is completed.
                    example: 'null'
            application/x-php:
              schema:
                type: object
                description: information about the rejects export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job - activity, reject, or whitelist
                    example: reject
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:58:10'
                  state:
                    type: string
                    description: the export job's state - waiting, working, complete, error, or expired.
                    example: waiting
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is completed.
                    example: 'null'
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: information about the rejects export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job - activity, reject, or whitelist
                    example: reject
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:58:10'
                  state:
                    type: string
                    description: the export job's state - waiting, working, complete, error, or expired.
                    example: waiting
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is completed.
                    example: 'null'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: a valid api key
                notify_email:
                  type: string
                  description: an optional email address to notify when the export job has finished.
                  format: email
        required: true
  /exports/whitelist:
    post:
      x-custom-config:
        methodNameCamel: whitelist
        methodNameSnake: whitelist
      summary: Export Allowlist
      description: 'Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv that includes the following fields: email, detail, created_at.'
      operationId: postExportsWhitelist
      tags:
      - Exports
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: information about the allowlist export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job
                    example: allowlist
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run
                    format: date-time
                    example: 'null'
                  state:
                    type: string
                    description: the export job's state
                    example: waiting
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is complete
                    example: 'null'
            application/x-php:
              schema:
                type: object
                description: information about the allowlist export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job
                    example: allowlist
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run
                    format: date-time
                    example: 'null'
                  state:
                    type: string
                    description: the export job's state
                    example: waiting
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is complete
                    example: 'null'
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: information about the allowlist export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job
                    example: allowlist
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run
                    format: date-time
                    example: 'null'
                  state:
                    type: string
                    description: the export job's state
                    example: waiting
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is complete
                    example: 'null'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: a valid api key
                notify_email:
                  type: string
                  description: an optional email address to notify when the export job has finished.
                  format: email
        required: true
  /exports/allowlist:
    post:
      x-custom-config:
        methodNameCamel: allowlist
        methodNameSnake: allowlist
      summary: Export Allowlist
      description: 'Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv that includes the following fields: email, detail, created_at.'
      operationId: postExportsAllowlist
      tags:
      - Exports
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: information about the allowlist export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job
                    example: allowlist
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run
                    format: date-time
                    example: 'null'
                  state:
                    type: string
                    description: the export job's state
                    example: waiting
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is complete
                    example: 'null'
            application/x-php:
              schema:
                type: object
                description: information about the allowlist export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job
                    example: allowlist
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run
                    format: date-time
                    example: 'null'
                  state:
                    type: string
                    description: the export job's state
                    example: waiting
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is complete
                    example: 'null'
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: information about the allowlist export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job
                    example: allowlist
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run
                    format: date-time
                    example: 'null'
                  state:
                    type: string
                    description: the export job's state
                    example: waiting
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is complete
                    example: 'null'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: a valid api key
                notify_email:
                  type: string
                  description: an optional email address to notify when the export job has finished.
                  format: email
        required: true
  /exports/activity:
    post:
      x-custom-config:
        methodNameCamel: activity
        methodNameSnake: activity
      summary: Export activity history
      description: 'Begins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv in the same format as you would be able to export from your account''s activity view. It includes the following fields: Date, Email Address, Sender, Subject, Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom metadata fields, they will be included in the exported data.'
      operationId: postExportsActivity
      tags:
      - Exports
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: information about the activity export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job
                    example: activity
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  state:
                    type: string
                    description: the export job's state
                    example: complete
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is complete
                    example: https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/activity-2025-04-29_18%3A31%3A05.zip
            application/x-php:
              schema:
                type: object
                description: information about the activity export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job
                    example: activity
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  state:
                    type: string
                    description: the export job's state
                    example: complete
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is complete
                    example: https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/activity-2025-04-29_18%3A31%3A05.zip
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: information about the activity export job that was started
                properties:
                  id:
                    type: string
                    description: the unique identifier for this Export. Use this identifier when checking the export job's status
                    example: '2025-04-29 18:48:05.63771'
                  created_at:
                    type: string
                    description: the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  type:
                    type: string
                    description: the type of the export job
                    example: activity
                  finished_at:
                    type: string
                    description: the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run
                    format: date-time
                    example: '2025-04-29 18:48:05'
                  state:
                    type: string
                    description: the export job's state
                    example: complete
                  result_url:
                    type: string
                    description: the url for the export job's results, if the job is complete
                    example: https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/activity-2025-04-29_18%3A31%3A05.zip
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: a valid api key
                notify_email:
                  type: string
                  description: an optional email address to notify when the export job has finished
                  format: email
                date_from:
                  type: string
                  description: start date as a UTC string in YYYY-MM-DD HH:MM:SS format
                  format: date-time
                date_to:
                  type: string
                  description: end date as a UTC string in YYYY-MM-DD HH:MM:SS format
                  format: date-time
                tags:
                  type: array
                  description: an array of tag names to narrow the export to; will match messages that contain ANY of the tags
                  items:
                    type: string
                    description: a tag name
                senders:
                  type: array
                  description: an array of senders to narrow the export to
                  items:
                    type: string
                    description: a sender address
                states:
                  type: array
                  description: an array of message states to narrow the export to; messages with ANY of the states will be included
                  items:
                    type: string
                    description: a message state
                    enum:
                    - sent
                    - rejected
                    - bounced
                    - soft-bounced
                    - spam
                    - unsub
                api_keys:
                  type: array
                  description: an array of api keys to narrow the export to; messsagse sent with ANY of the keys will be included
                  items:
                    type: string
                    description: an API key associated with your account
        required: true
x-doc-structure:
  resources:
    allowlists:
      title: Allowlists
      description: Add, list, or delete from your Rejection Allowlist.
      paths:
      - /allowlists/add
      - /allowlists/list
      - /allowlists/delete
    exports:
      title: Exports
      description: Start an export, or get information on export jobs in progress.
      paths:
      - /exports/info
      - /exports/list
      - /exports/rejects
      - /exports/whitelist
      - /exports/allowlist
      - /exports/activity
    inbound:
      title: Inbound
      description: Manage your inbound domains and routes.
      paths:
      - /inbound/domains
      - /inbound/add-domain
      - /inbound/check-domain
      - /inbound/delete-domain
      - /inbound/routes
      - /inbound/add-route
      - /inbound/update-route
      - /inbound/delete-route
      - /inbound/send-raw
    ips:
      title: IPs
      description: Request and manage Dedicated IPs for your account, and set up reverse DNS.
      paths:
      - /ips/list
      - /ips/info
      - /ips/provision
      - /ips/start-warmup
      - /ips/cancel-warmup
      - /ips/set-pool
      - /ips/delete
      - /ips/list-pools
      - /ips/pool-info
      - /ips/create-pool
      - /ips/delete-pool
      - /ips/check-custom-dns
      - /ips/set-custom-dns
    messages:
      title: Messages
      description: Send, schedule, or get information on your emails.
      paths:
      - /messages/send
      - /messages/send-sms
      - /messages/send-template
      - /messages/send-mc-template
      - /messages/search
      - /messages/search-time-series
      - /messages/info
      - /messages/content
      - /messages/parse
      - /messages/send-raw
      - /messages/list-scheduled
      - /messages/cancel-scheduled
      - /messages/reschedule
    metadata:
      title: Metadata
      description: Manage your custom metadata fields in your account.
      paths:
      - /metadata/list
      - /metadata/add
      - /metadata/update
      - /metadata/delete
    rejects:
      title: Rejects
      description: Add, list, or delete from your Rejection Denylist.
      paths:
      - /rejects/add
      - /rejects/add-sms
      - /rejects/delete
      - /rejects/delete-sms
      - /rejects/list
      - /rejects/list-sms
    senders:
      title: Senders
      description: Manage or get information about your sending domains.
      paths:
      - /senders/list
      - /senders/domains
      - /senders/add-domain
      - /senders/delete-domain
      - /senders/check-domain
      - /senders/verify-domain
      - /senders/info
      - /senders/time-series
    subaccounts:
      title: Subaccounts
      description: Manage your subaccounts, including the abilitiy to pause and resume sending.
      paths:
      - /subaccounts/list
      - /subaccounts/add
      - /subaccounts/info
      - /subaccounts/update
      - /subaccounts/delete
      - /subaccounts/pause
      - /subaccounts/resume
    tags:
      title: Tags
      description: List, delete, or get information on your Tags and their sending statistics.
      paths:
      - /tags/list
      - /tags/delete
      - /tags/info
      - /tags/time-series
      - /tags/all-time-series
    templates:
      title: Templates
      description: Manage templates created via the Mandrill UI or through the /templates endpoint.
      paths:
      - /templates/add
      - /templates/info
      - /templates/update
      - /templates/publish
      - /templates/delete
      - /templates/list
      - /templates/time-series
      - /templates/render
    mctemplates:
      title: Templates (MC)
      description: Manage templates created via the Mailchimp UI.
      paths:
      - /mctemplates/info
      - /mctemplates/list
      - /mctemplates/time-series
      - /mctemplates/render
    urls:
      title: URLs
      description: Manage your tracking domains.
      paths:
      - /urls/add-tracking-domain
      - /urls/check-tracking-domain
      - /urls/delete-tracking-domain
      - /urls/tracking-domains
    users:
      title: Users
      description: Get information about your account, or ping Transactional.
      paths:
      - /users/info
      - /users/ping
      - /users/ping2
      - /users/senders
    webhooks:
      title: Webhooks
      description: Manage the webhooks in your account.
      paths:
      - /webhooks/list
      - /webhooks/add
      - /webhooks/info
      - /webhooks/update
      - /webhooks/delete
