openapi: 3.1.0
info:
  title: Mailchimp Transactional API
  version: 1.0.0
  description: >-
    The Mailchimp Transactional API (formerly Mandrill) enables sending
    personalized, one-to-one transactional emails such as password resets,
    order confirmations, and welcome messages. It provides high-deliverability
    email infrastructure with detailed analytics, templates, and webhook support.
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
    url: https://mailchimp.com/developer/transactional/
  license:
    name: Mailchimp API Use Policy
    url: https://mailchimp.com/legal/api_use/
  termsOfService: https://mailchimp.com/legal/terms/

servers:
- url: https://mandrillapp.com/api/1.0
  description: Mailchimp Transactional (Mandrill) Production API

security:
- apiKey: []

tags:
- name: Allowlists
  description: >-
    Manage the allowlist of email addresses that bypass the rejection
    blacklist.
- name: Exports
  description: Request and download data exports for messages, rejects, and allowlists.
- name: IPs
  description: Manage dedicated IP addresses associated with the account.
- name: Messages
  description: Send and search transactional messages, and retrieve message details.
- name: Metadata
  description: >-
    Manage custom metadata fields that can be attached to messages for
    tracking and filtering.

- name: Rejects
  description: >-
    Manage the rejection blacklist, which prevents delivery to addresses
    that have previously bounced or been reported as spam.
- name: Senders
  description: >-
    Retrieve sender information and statistics for verified sending domains
    and email addresses.
- name: Subaccounts
  description: >-
    Manage subaccounts for organizing sending and reporting within a single
    Mandrill account.
- name: Templates
  description: >-
    Manage reusable email templates stored on the Mandrill server for use
    when sending transactional messages.
- name: Users
  description: Retrieve information about the authenticated Mandrill account.
- name: Webhooks
  description: Manage webhooks that receive event notifications for sent messages.
paths:
  /messages/send:
    post:
      operationId: postMessagesSend
      summary: Mailchimp Send a Transactional Email
      description: >-
        Send a new transactional message through Mandrill. Supports HTML and
        plain-text content, inline images, attachments, merge variables,
        metadata, and per-recipient customization.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - message
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                message:
                  $ref: '#/components/schemas/MessagePayload'
                async:
                  type: boolean
                  description: >-
                    Enable background sending mode optimized for bulk sending.
                    In async mode, the response will not include per-recipient
                    status, and failures will be handled by retry or webhook.
                  default: false
                ip_pool:
                  type: string
                  description: >-
                    The name of the dedicated IP pool that should be used to
                    send this message.
                send_at:
                  type: string
                  format: date-time
                  description: >-
                    Schedule the message for future delivery. The date/time
                    must be in UTC and formatted as YYYY-MM-DD HH:MM:SS.
                    Messages can be scheduled up to 7 days in advance.
            examples:
              PostmessagessendRequestExample:
                summary: Default postMessagesSend request
                x-microcks-default: true
                value:
                  key: example_value
                  message:
                    html: example_value
                    text: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    to:
                    - email: user@example.com
                      name: Example Title
                      type: to
                    headers: example_value
                    important: true
                    track_opens: true
                    track_clicks: true
                    auto_text: true
                    auto_html: true
                    inline_css: true
                    url_strip_qs: https://www.example.com
                    preserve_recipients: true
                    view_content_link: true
                    bcc_address: example_value
                    tracking_domain: example_value
                    signing_domain: example_value
                    return_path_domain: example_value
                    merge: true
                    merge_language: mailchimp
                    global_merge_vars:
                    - name: Example Title
                      content: example_value
                    merge_vars:
                    - rcpt: example_value
                      vars: {}
                    tags:
                    - example_value
                    subaccount: example_value
                    google_analytics_domains:
                    - example_value
                    google_analytics_campaign: example_value
                    metadata: example_value
                    recipient_metadata:
                    - rcpt: example_value
                      values: example_value
                    attachments:
                    - type: example_value
                      name: Example Title
                      content: example_value
                    images:
                    - type: example_value
                      name: Example Title
                      content: example_value
                  async: true
                  ip_pool: example_value
                  send_at: '2026-01-15T10:30:00Z'
      responses:
        '200':
          description: >-
            An array of sending results, one per recipient. Each object
            contains the email address, status, reject reason (if any),
            and the message ID.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SendResult'
              examples:
                Postmessagessend200Example:
                  summary: Default postMessagesSend 200 response
                  x-microcks-default: true
                  value:
                  - email: user@example.com
                    status: sent
                    reject_reason: hard-bounce
                    queued_reason: example_value
                    _id: '500123'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/send-template:
    post:
      operationId: postMessagesSendTemplate
      summary: Mailchimp Send an Email Using a Template
      description: >-
        Send a new transactional message using a stored template. Template
        content blocks can be overridden with the template_content parameter.
        Merge variables in the template are populated from the message object.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - template_name
              - template_content
              - message
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                template_name:
                  type: string
                  description: >-
                    The slug or name of the template stored in Mandrill to
                    use for this message.
                template_content:
                  type: array
                  description: >-
                    An array of objects with name/content pairs for injecting
                    content into editable regions defined in the template
                    using mc:edit attributes.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the mc:edit content block to set.
                      content:
                        type: string
                        description: The HTML content to replace the block with.
                message:
                  $ref: '#/components/schemas/MessagePayload'
                async:
                  type: boolean
                  default: false
                  description: Enable background sending mode.
                ip_pool:
                  type: string
                  description: The name of the dedicated IP pool to use.
                send_at:
                  type: string
                  format: date-time
                  description: Schedule message for future delivery in UTC.
            examples:
              PostmessagessendtemplateRequestExample:
                summary: Default postMessagesSendTemplate request
                x-microcks-default: true
                value:
                  key: example_value
                  template_name: example_value
                  template_content:
                  - name: Example Title
                    content: example_value
                  message:
                    html: example_value
                    text: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    to:
                    - email: user@example.com
                      name: Example Title
                      type: to
                    headers: example_value
                    important: true
                    track_opens: true
                    track_clicks: true
                    auto_text: true
                    auto_html: true
                    inline_css: true
                    url_strip_qs: https://www.example.com
                    preserve_recipients: true
                    view_content_link: true
                    bcc_address: example_value
                    tracking_domain: example_value
                    signing_domain: example_value
                    return_path_domain: example_value
                    merge: true
                    merge_language: mailchimp
                    global_merge_vars:
                    - name: Example Title
                      content: example_value
                    merge_vars:
                    - rcpt: example_value
                      vars: {}
                    tags:
                    - example_value
                    subaccount: example_value
                    google_analytics_domains:
                    - example_value
                    google_analytics_campaign: example_value
                    metadata: example_value
                    recipient_metadata:
                    - rcpt: example_value
                      values: example_value
                    attachments:
                    - type: example_value
                      name: Example Title
                      content: example_value
                    images:
                    - type: example_value
                      name: Example Title
                      content: example_value
                  async: true
                  ip_pool: example_value
                  send_at: '2026-01-15T10:30:00Z'
      responses:
        '200':
          description: An array of sending results, one per recipient.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SendResult'
              examples:
                Postmessagessendtemplate200Example:
                  summary: Default postMessagesSendTemplate 200 response
                  x-microcks-default: true
                  value:
                  - email: user@example.com
                    status: sent
                    reject_reason: hard-bounce
                    queued_reason: example_value
                    _id: '500123'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/search:
    post:
      operationId: postMessagesSearch
      summary: Mailchimp Search Sent Messages
      description: >-
        Search recently sent messages and return matching results. You can
        filter by sending status, sender, tags, recipient, subject, and
        date range. Results are limited to the last 7 days.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                query:
                  type: string
                  description: >-
                    Search terms to filter results. Supports full-text
                    search across message subject and email addresses.
                date_from:
                  type: string
                  format: date-time
                  description: Start date for the search range (UTC).
                date_to:
                  type: string
                  format: date-time
                  description: End date for the search range (UTC).
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags that must be present on matching messages.
                senders:
                  type: array
                  items:
                    type: string
                  description: Sender addresses to filter by.
                api_keys:
                  type: array
                  items:
                    type: string
                  description: API keys to filter by for subaccount isolation.
                limit:
                  type: integer
                  default: 100
                  description: Maximum number of results to return (max 1000).
            examples:
              PostmessagessearchRequestExample:
                summary: Default postMessagesSearch request
                x-microcks-default: true
                value:
                  key: example_value
                  query: example_value
                  date_from: '2026-01-15T10:30:00Z'
                  date_to: '2026-01-15T10:30:00Z'
                  tags:
                  - example_value
                  senders:
                  - example_value
                  api_keys:
                  - example_value
                  limit: 10
      responses:
        '200':
          description: An array of message info objects matching the search criteria.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageInfo'
              examples:
                Postmessagessearch200Example:
                  summary: Default postMessagesSearch 200 response
                  x-microcks-default: true
                  value:
                  - ts: 10
                    _id: '500123'
                    sender: example_value
                    template: example_value
                    subject: example_value
                    email: user@example.com
                    tags:
                    - example_value
                    opens: 10
                    opens_detail:
                    - ts: 10
                      ip: example_value
                      location: example_value
                      ua: example_value
                    clicks: 10
                    clicks_detail:
                    - ts: 10
                      url: https://www.example.com
                      ip: example_value
                      location: example_value
                      ua: example_value
                    state: sent
                    metadata: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/search-time-series:
    post:
      operationId: postMessagesSearchTimeSeries
      summary: Mailchimp Search Message Time Series
      description: >-
        Search the content of recently sent messages and return aggregated
        hourly statistics for matching messages over time.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                query:
                  type: string
                  description: Search terms to filter results.
                date_from:
                  type: string
                  format: date-time
                  description: Start date for the search range (UTC).
                date_to:
                  type: string
                  format: date-time
                  description: End date for the search range (UTC).
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags that must be present on matching messages.
                senders:
                  type: array
                  items:
                    type: string
                  description: Sender addresses to filter by.
            examples:
              PostmessagessearchtimeseriesRequestExample:
                summary: Default postMessagesSearchTimeSeries request
                x-microcks-default: true
                value:
                  key: example_value
                  query: example_value
                  date_from: '2026-01-15T10:30:00Z'
                  date_to: '2026-01-15T10:30:00Z'
                  tags:
                  - example_value
                  senders:
                  - example_value
      responses:
        '200':
          description: An array of time series data points with hourly statistics.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeSeries'
              examples:
                Postmessagessearchtimeseries200Example:
                  summary: Default postMessagesSearchTimeSeries 200 response
                  x-microcks-default: true
                  value:
                  - time: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    unique_opens: 10
                    clicks: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/info:
    post:
      operationId: postMessagesInfo
      summary: Mailchimp Get Message Info
      description: >-
        Get the information for a single recently sent message including
        delivery status, open/click tracking, and metadata.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                id:
                  type: string
                  description: The unique message ID returned from a send call.
            examples:
              PostmessagesinfoRequestExample:
                summary: Default postMessagesInfo request
                x-microcks-default: true
                value:
                  key: example_value
                  id: abc123
      responses:
        '200':
          description: Detailed information about the message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageDetail'
              examples:
                Postmessagesinfo200Example:
                  summary: Default postMessagesInfo 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/content:
    post:
      operationId: postMessagesContent
      summary: Mailchimp Get Message Content
      description: >-
        Get the full content of a recently sent message including the HTML
        body, text body, headers, and attachments.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                id:
                  type: string
                  description: The unique message ID.
            examples:
              PostmessagescontentRequestExample:
                summary: Default postMessagesContent request
                x-microcks-default: true
                value:
                  key: example_value
                  id: abc123
      responses:
        '200':
          description: The full content of the message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContent'
              examples:
                Postmessagescontent200Example:
                  summary: Default postMessagesContent 200 response
                  x-microcks-default: true
                  value:
                    ts: 10
                    _id: '500123'
                    from_email: user@example.com
                    from_name: example_value
                    subject: example_value
                    to:
                      email: user@example.com
                      name: Example Title
                    tags:
                    - example_value
                    headers: example_value
                    text: example_value
                    html: example_value
                    attachments:
                    - name: Example Title
                      type: example_value
                      content: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/parse:
    post:
      operationId: postMessagesParse
      summary: Mailchimp Parse a Raw Mime Message
      description: >-
        Parse the full MIME document for an email message, returning the
        subject, recipients, HTML body, text body, headers, and attachments.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - raw_message
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                raw_message:
                  type: string
                  description: The full MIME document of the message to parse.
            examples:
              PostmessagesparseRequestExample:
                summary: Default postMessagesParse request
                x-microcks-default: true
                value:
                  key: example_value
                  raw_message: example_value
      responses:
        '200':
          description: The parsed message content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsedMessage'
              examples:
                Postmessagesparse200Example:
                  summary: Default postMessagesParse 200 response
                  x-microcks-default: true
                  value:
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    to:
                    - email: user@example.com
                      name: Example Title
                    headers: example_value
                    text: example_value
                    html: example_value
                    attachments:
                    - name: Example Title
                      type: example_value
                      content: example_value
                    images:
                    - name: Example Title
                      type: example_value
                      content: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/send-raw:
    post:
      operationId: postMessagesSendRaw
      summary: Mailchimp Send a Raw Mime Message
      description: >-
        Take a raw MIME document and send it exactly as provided. Mandrill
        will not modify the message content, but will track opens and clicks
        if the appropriate headers are included.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - raw_message
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                raw_message:
                  type: string
                  description: The full MIME document of the message to send.
                from_email:
                  type: string
                  format: email
                  description: >-
                    Override the from address in the raw message. If not
                    specified, the from address in the raw message is used.
                from_name:
                  type: string
                  description: Override the from name in the raw message.
                to:
                  type: array
                  items:
                    type: string
                    format: email
                  description: >-
                    Override the recipients in the raw message. If not
                    provided, recipients from the MIME headers are used.
                async:
                  type: boolean
                  default: false
                  description: Enable background sending mode.
                ip_pool:
                  type: string
                  description: The name of the dedicated IP pool to use.
                send_at:
                  type: string
                  format: date-time
                  description: Schedule message for future delivery in UTC.
                return_path_domain:
                  type: string
                  description: Custom domain for the return-path header.
            examples:
              PostmessagessendrawRequestExample:
                summary: Default postMessagesSendRaw request
                x-microcks-default: true
                value:
                  key: example_value
                  raw_message: example_value
                  from_email: user@example.com
                  from_name: example_value
                  to:
                  - example_value
                  async: true
                  ip_pool: example_value
                  send_at: '2026-01-15T10:30:00Z'
                  return_path_domain: example_value
      responses:
        '200':
          description: An array of sending results, one per recipient.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SendResult'
              examples:
                Postmessagessendraw200Example:
                  summary: Default postMessagesSendRaw 200 response
                  x-microcks-default: true
                  value:
                  - email: user@example.com
                    status: sent
                    reject_reason: hard-bounce
                    queued_reason: example_value
                    _id: '500123'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/list-scheduled:
    post:
      operationId: postMessagesListScheduled
      summary: Mailchimp List Scheduled Messages
      description: >-
        Get a list of messages that are scheduled for future delivery. Messages
        can be scheduled up to 7 days in advance.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                to:
                  type: string
                  format: email
                  description: >-
                    Optional recipient email address to restrict results to
                    messages scheduled for a specific recipient.
            examples:
              PostmessageslistscheduledRequestExample:
                summary: Default postMessagesListScheduled request
                x-microcks-default: true
                value:
                  key: example_value
                  to: example_value
      responses:
        '200':
          description: An array of scheduled message objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledMessage'
              examples:
                Postmessageslistscheduled200Example:
                  summary: Default postMessagesListScheduled 200 response
                  x-microcks-default: true
                  value:
                  - _id: '500123'
                    created_at: '2026-01-15T10:30:00Z'
                    send_at: '2026-01-15T10:30:00Z'
                    from_email: user@example.com
                    to: example_value
                    subject: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/cancel-scheduled:
    post:
      operationId: postMessagesCancelScheduled
      summary: Mailchimp Cancel a Scheduled Message
      description: >-
        Cancel a message that has been scheduled for future delivery. The
        message must not have already been sent.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                id:
                  type: string
                  description: The unique ID of the scheduled message to cancel.
            examples:
              PostmessagescancelscheduledRequestExample:
                summary: Default postMessagesCancelScheduled request
                x-microcks-default: true
                value:
                  key: example_value
                  id: abc123
      responses:
        '200':
          description: The details of the cancelled scheduled message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
              examples:
                Postmessagescancelscheduled200Example:
                  summary: Default postMessagesCancelScheduled 200 response
                  x-microcks-default: true
                  value:
                    _id: '500123'
                    created_at: '2026-01-15T10:30:00Z'
                    send_at: '2026-01-15T10:30:00Z'
                    from_email: user@example.com
                    to: example_value
                    subject: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/reschedule:
    post:
      operationId: postMessagesReschedule
      summary: Mailchimp Reschedule a Message
      description: >-
        Reschedule a message that was previously scheduled for future delivery
        to a new date and time.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              - send_at
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                id:
                  type: string
                  description: The unique ID of the scheduled message to reschedule.
                send_at:
                  type: string
                  format: date-time
                  description: The new date and time to send the message in UTC.
            examples:
              PostmessagesrescheduleRequestExample:
                summary: Default postMessagesReschedule request
                x-microcks-default: true
                value:
                  key: example_value
                  id: abc123
                  send_at: '2026-01-15T10:30:00Z'
      responses:
        '200':
          description: The updated scheduled message details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
              examples:
                Postmessagesreschedule200Example:
                  summary: Default postMessagesReschedule 200 response
                  x-microcks-default: true
                  value:
                    _id: '500123'
                    created_at: '2026-01-15T10:30:00Z'
                    send_at: '2026-01-15T10:30:00Z'
                    from_email: user@example.com
                    to: example_value
                    subject: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/add:
    post:
      operationId: postTemplatesAdd
      summary: Mailchimp Add a New Template
      description: >-
        Create a new template on the Mandrill server. Templates can contain
        merge variables and mc:edit content blocks for dynamic content
        injection at send time.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name for the new template (must be unique).
                from_email:
                  type: string
                  format: email
                  description: Default from address for the template.
                from_name:
                  type: string
                  description: Default from name for the template.
                subject:
                  type: string
                  description: Default subject line for the template.
                code:
                  type: string
                  description: The HTML code for the template with mc:edit regions.
                text:
                  type: string
                  description: Default text part of messages sent with this template.
                publish:
                  type: boolean
                  default: true
                  description: Whether to publish the template immediately.
                labels:
                  type: array
                  items:
                    type: string
                  description: Array of up to 10 labels to organize templates.
            examples:
              PosttemplatesaddRequestExample:
                summary: Default postTemplatesAdd request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
                  from_email: user@example.com
                  from_name: example_value
                  subject: example_value
                  code: example_value
                  text: example_value
                  publish: true
                  labels:
                  - example_value
      responses:
        '200':
          description: The newly created template object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatesadd200Example:
                  summary: Default postTemplatesAdd 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/info:
    post:
      operationId: postTemplatesInfo
      summary: Mailchimp Get Template Info
      description: >-
        Get the details for a specific template, including its code, default
        values, and publish status.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the existing template.
            examples:
              PosttemplatesinfoRequestExample:
                summary: Default postTemplatesInfo request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
      responses:
        '200':
          description: The template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatesinfo200Example:
                  summary: Default postTemplatesInfo 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/update:
    post:
      operationId: postTemplatesUpdate
      summary: Mailchimp Update a Template
      description: >-
        Update an existing template with new values for any of its fields.
        Only the fields you include in the request body will be updated.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the existing template to update.
                from_email:
                  type: string
                  format: email
                  description: Updated default from address.
                from_name:
                  type: string
                  description: Updated default from name.
                subject:
                  type: string
                  description: Updated default subject line.
                code:
                  type: string
                  description: Updated HTML code for the template.
                text:
                  type: string
                  description: Updated default text part.
                publish:
                  type: boolean
                  description: Whether to publish the updated template immediately.
                labels:
                  type: array
                  items:
                    type: string
                  description: Updated array of labels.
            examples:
              PosttemplatesupdateRequestExample:
                summary: Default postTemplatesUpdate request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
                  from_email: user@example.com
                  from_name: example_value
                  subject: example_value
                  code: example_value
                  text: example_value
                  publish: true
                  labels:
                  - example_value
      responses:
        '200':
          description: The updated template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatesupdate200Example:
                  summary: Default postTemplatesUpdate 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/publish:
    post:
      operationId: postTemplatesPublish
      summary: Mailchimp Publish a Template
      description: >-
        Publish the most recent draft of an existing template, making it
        available for sending.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the template to publish.
            examples:
              PosttemplatespublishRequestExample:
                summary: Default postTemplatesPublish request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
      responses:
        '200':
          description: The published template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatespublish200Example:
                  summary: Default postTemplatesPublish 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/delete:
    post:
      operationId: postTemplatesDelete
      summary: Mailchimp Delete a Template
      description: >-
        Permanently delete a template from the account. This action cannot
        be undone.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the template to delete.
            examples:
              PosttemplatesdeleteRequestExample:
                summary: Default postTemplatesDelete request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
      responses:
        '200':
          description: The deleted template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatesdelete200Example:
                  summary: Default postTemplatesDelete 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/list:
    post:
      operationId: postTemplatesList
      summary: Mailchimp List Templates
      description: Get a list of all templates available in the account.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                label:
                  type: string
                  description: >-
                    Optional label to filter results. Only templates with the
                    given label will be returned.
            examples:
              PosttemplateslistRequestExample:
                summary: Default postTemplatesList request
                x-microcks-default: true
                value:
                  key: example_value
                  label: Example Title
      responses:
        '200':
          description: An array of template info objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplateslist200Example:
                  summary: Default postTemplatesList 200 response
                  x-microcks-default: true
                  value:
                  - slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/time-series:
    post:
      operationId: postTemplatesTimeSeries
      summary: Mailchimp Get Template Time Series
      description: >-
        Return the recent sending history for a template, aggregated by
        hourly time slots.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the existing template.
            examples:
              PosttemplatestimeseriesRequestExample:
                summary: Default postTemplatesTimeSeries request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
      responses:
        '200':
          description: An array of time series data for the template.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeSeries'
              examples:
                Posttemplatestimeseries200Example:
                  summary: Default postTemplatesTimeSeries 200 response
                  x-microcks-default: true
                  value:
                  - time: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    unique_opens: 10
                    clicks: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/render:
    post:
      operationId: postTemplatesRender
      summary: Mailchimp Render a Template
      description: >-
        Render a template with the provided merge variables and template
        content, returning the final HTML that would be sent.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - template_name
              - template_content
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                template_name:
                  type: string
                  description: The name of the template to render.
                template_content:
                  type: array
                  description: Content blocks to inject into mc:edit regions.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the content block.
                      content:
                        type: string
                        description: The content to inject.
                merge_vars:
                  type: array
                  description: Merge variables to use during rendering.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The merge variable name.
                      content:
                        type: string
                        description: The merge variable value.
            examples:
              PosttemplatesrenderRequestExample:
                summary: Default postTemplatesRender request
                x-microcks-default: true
                value:
                  key: example_value
                  template_name: example_value
                  template_content:
                  - name: Example Title
                    content: example_value
                  merge_vars:
                  - name: Example Title
                    content: example_value
      responses:
        '200':
          description: The rendered template HTML.
          content:
            application/json:
              schema:
                type: object
                properties:
                  html:
                    type: string
                    description: The rendered HTML of the template.
              examples:
                Posttemplatesrender200Example:
                  summary: Default postTemplatesRender 200 response
                  x-microcks-default: true
                  value:
                    html: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tags/list:
    post:
      operationId: postTagsList
      summary: Mailchimp List Tags
      description: >-
        Get all the tags that have been used in the account, along with
        aggregate sending statistics for each tag.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
            examples:
              PosttagslistRequestExample:
                summary: Default postTagsList request
                x-microcks-default: true
                value:
                  key: example_value
      responses:
        '200':
          description: An array of tag objects with statistics.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagInfo'
              examples:
                Posttagslist200Example:
                  summary: Default postTagsList 200 response
                  x-microcks-default: true
                  value:
                  - tag: example_value
                    reputation: 10
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    clicks: 10
                    unique_opens: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tags/info:
    post:
      operationId: postTagsInfo
      summary: Mailchimp Get Tag Info
      description: >-
        Return more detailed information about a single tag including
        aggregate statistics.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - tag
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                tag:
                  type: string
                  description: The tag name to retrieve information for.
            examples:
              PosttagsinfoRequestExample:
                summary: Default postTagsInfo request
                x-microcks-default: true
                value:
                  key: example_value
                  tag: example_value
      responses:
        '200':
          description: Detailed information about the tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagInfo'
              examples:
                Posttagsinfo200Example:
                  summary: Default postTagsInfo 200 response
                  x-microcks-default: true
                  value:
                    tag: example_value
                    reputation: 10
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    clicks: 10
                    unique_opens: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tags/delete:
    post:
      operationId: postTagsDelete
      summary: Mailchimp Delete a Tag
      description: >-
        Delete a tag permanently. Deleting a tag removes it from all messages
        that have been tagged with it, and permanently removes the tag
        statistics.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - tag
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                tag:
                  type: string
                  description: The tag name to delete.
            examples:
              PosttagsdeleteRequestExample:
                summary: Default postTagsDelete request
                x-microcks-default: true
                value:
                  key: example_value
                  tag: example_value
      responses:
        '200':
          description: The deleted tag object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagInfo'
              examples:
                Posttagsdelete200Example:
                  summary: Default postTagsDelete 200 response
                  x-microcks-default: true
                  value:
                    tag: example_value
                    reputation: 10
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    clicks: 10
                    unique_opens: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tags/time-series:
    post:
      operationId: postTagsTimeSeries
      summary: Mailchimp Get Tag Time Series
      description: >-
        Return the recent sending history for a tag, aggregated by hourly
        time slots.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - tag
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                tag:
                  type: string
                  description: The tag name to retrieve time series for.
            examples:
              PosttagstimeseriesRequestExample:
                summary: Default postTagsTimeSeries request
                x-microcks-default: true
                value:
                  key: example_value
                  tag: example_value
      responses:
        '200':
          description: An array of time series data for the tag.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeSeries'
              examples:
                Posttagstimeseries200Example:
                  summary: Default postTagsTimeSeries 200 response
                  x-microcks-default: true
                  value:
                  - time: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    unique_opens: 10
                    clicks: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tags/all-time-series:
    post:
      operationId: postTagsAllTimeSeries
      summary: Mailchimp Get All Tags Time Series
      description: >-
        Return hourly aggregated statistics for all tags in the account
        over the last 30 days.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
            examples:
              PosttagsalltimeseriesRequestExample:
                summary: Default postTagsAllTimeSeries request
                x-microcks-default: true
                value:
                  key: example_value
      responses:
        '200':
          description: An array of time series data points.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeSeries'
              examples:
                Posttagsalltimeseries200Example:
                  summary: Default postTagsAllTimeSeries 200 response
                  x-microcks-default: true
                  value:
                  - time: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    unique_opens: 10
                    clicks: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /senders/list:
    post:
      operationId: postSendersList
      summary: Mailchimp List Senders
      description: >-
        Get the list of all sender email addresses that have been used in
        the account, with aggregate statistics for each sender.
      tags:
      - Senders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
            examples:
              PostsenderslistRequestExample:
                summary: Default postSendersList request
                x-microcks-default: true
                value:
                  key: example_value
      responses:
        '200':
          description: An array of sender objects with statistics.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SenderInfo'
              examples:
                Postsenderslist200Example:
                  summary: Default postSendersList 200 response
                  x-microcks-default: true
                  value:
                  - address: example_value
                    created_at: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    clicks: 10
                    unique_opens: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /senders/domains:
    post:
      operationId: postSendersDomains
      summary: Mailchimp List Sender Domains
      description: >-
        Get the list of sender domains that have been configured for the
        account, including DKIM and SPF verification status.
      tags:
      - Senders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
            examples:
              PostsendersdomainsRequestExample:
                summary: Default postSendersDomains request
                x-microcks-default: true
                value:
                  key: example_value
      responses:
        '200':
          description: An array of sender domain objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SenderDomain'
              examples:
                Postsendersdomains200Example:
                  summary: Default postSendersDomains 200 response
                  x-microcks-default: true
                  value:
                  - domain: example_value
                    created_at: '2026-01-15T10:30:00Z'
                    last_tested_at: '2026-01-15T10:30:00Z'
                    spf:
                      valid: '500123'
                      valid_after: '2026-01-15T10:30:00Z'
                      error: example_value
                    dkim:
                      valid: '500123'
                      valid_after: '2026-01-15T10:30:00Z'
                      error: example_value
                    verified_at: '2026-01-15T10:30:00Z'
                    valid_signing: true
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /senders/add-domain:
    post:
      operationId: postSendersAddDomain
      summary: Mailchimp Add a Sender Domain
      description: Add a new sender domain to the account for verification.
      tags:
      - Senders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - domain
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                domain:
                  type: string
                  description: The domain name to add.
            examples:
              PostsendersadddomainRequestExample:
                summary: Default postSendersAddDomain request
                x-microcks-default: true
                value:
                  key: example_value
                  domain: example_value
      responses:
        '200':
          description: The newly added domain details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderDomain'
              examples:
                Postsendersadddomain200Example:
                  summary: Default postSendersAddDomain 200 response
                  x-microcks-default: true
                  value:
                    domain: example_value
                    created_at: '2026-01-15T10:30:00Z'
                    last_tested_at: '2026-01-15T10:30:00Z'
                    spf:
                      valid: '500123'
                      valid_after: '2026-01-15T10:30:00Z'
                      error: example_value
                    dkim:
                      valid: '500123'
                      valid_after: '2026-01-15T10:30:00Z'
                      error: example_value
                    verified_at: '2026-01-15T10:30:00Z'
                    valid_signing: true
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /senders/check-domain:
    post:
      operationId: postSendersCheckDomain
      summary: Mailchimp Check a Sender Domain
      description: >-
        Check the DNS settings for a sender domain to verify DKIM and SPF
        configuration status.
      tags:
      - Senders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - domain
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                domain:
                  type: string
                  description: The domain name to check.
            examples:
              PostsenderscheckdomainRequestExample:
                summary: Default postSendersCheckDomain request
                x-microcks-default: true
                value:
                  key: example_value
                  domain: example_value
      responses:
        '200':
          description: The updated domain verification status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderDomain'
              examples:
                Postsenderscheckdomain200Example:
                  summary: Default postSendersCheckDomain 200 response
                  x-microcks-default: true
                  value:
                    domain: example_value
                    created_at: '2026-01-15T10:30:00Z'
                    last_tested_at: '2026-01-15T10:30:00Z'
                    spf:
                      valid: '500123'
                      valid_after: '2026-01-15T10:30:00Z'
                      error: example_value
                    dkim:
                      valid: '500123'
                      valid_after: '2026-01-15T10:30:00Z'
                      error: example_value
                    verified_at: '2026-01-15T10:30:00Z'
                    valid_signing: true
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /senders/verify-domain:
    post:
      operationId: postSendersVerifyDomain
      summary: Mailchimp Verify a Sender Domain
      description: >-
        Send a verification email to the specified mailbox at the domain to
        confirm domain ownership.
      tags:
      - Senders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - domain
              - mailbox
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                domain:
                  type: string
                  description: The domain name to verify.
                mailbox:
                  type: string
                  description: >-
                    The mailbox at the domain to which the verification email
                    will be sent (e.g., postmaster).
            examples:
              PostsendersverifydomainRequestExample:
                summary: Default postSendersVerifyDomain request
                x-microcks-default: true
                value:
                  key: example_value
                  domain: example_value
                  mailbox: example_value
      responses:
        '200':
          description: Verification status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The verification status.
                  domain:
                    type: string
                    description: The domain being verified.
                  email:
                    type: string
                    description: >-
                      The email address where the verification message
                      was sent.
              examples:
                Postsendersverifydomain200Example:
                  summary: Default postSendersVerifyDomain 200 response
                  x-microcks-default: true
                  value:
                    status: example_value
                    domain: example_value
                    email: user@example.com
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /senders/info:
    post:
      operationId: postSendersInfo
      summary: Mailchimp Get Sender Info
      description: >-
        Get detailed information for a single sender address, including
        aggregate sending statistics.
      tags:
      - Senders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - address
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                address:
                  type: string
                  format: email
                  description: The email address of the sender to retrieve info for.
            examples:
              PostsendersinfoRequestExample:
                summary: Default postSendersInfo request
                x-microcks-default: true
                value:
                  key: example_value
                  address: example_value
      responses:
        '200':
          description: The sender details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderInfo'
              examples:
                Postsendersinfo200Example:
                  summary: Default postSendersInfo 200 response
                  x-microcks-default: true
                  value:
                    address: example_value
                    created_at: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    clicks: 10
                    unique_opens: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /senders/time-series:
    post:
      operationId: postSendersTimeSeries
      summary: Mailchimp Get Sender Time Series
      description: >-
        Return the recent sending history for a sender address, aggregated
        by hourly time slots.
      tags:
      - Senders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - address
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                address:
                  type: string
                  format: email
                  description: The sender address for time series data.
            examples:
              PostsenderstimeseriesRequestExample:
                summary: Default postSendersTimeSeries request
                x-microcks-default: true
                value:
                  key: example_value
                  address: example_value
      responses:
        '200':
          description: An array of time series data for the sender.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeSeries'
              examples:
                Postsenderstimeseries200Example:
                  summary: Default postSendersTimeSeries 200 response
                  x-microcks-default: true
                  value:
                  - time: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    unique_opens: 10
                    clicks: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/info:
    post:
      operationId: postUsersInfo
      summary: Mailchimp Get User Info
      description: >-
        Return the information about the API-connected user, including
        username, reputation, hourly quota, and account-level statistics.
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
            examples:
              PostusersinfoRequestExample:
                summary: Default postUsersInfo request
                x-microcks-default: true
                value:
                  key: example_value
      responses:
        '200':
          description: Account information for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
              examples:
                Postusersinfo200Example:
                  summary: Default postUsersInfo 200 response
                  x-microcks-default: true
                  value:
                    username: example_value
                    created_at: '2026-01-15T10:30:00Z'
                    public_id: '500123'
                    reputation: 10
                    hourly_quota: https://www.example.com
                    backlog: 10
                    stats:
                      today:
                        sent: 10
                        hard_bounces: 10
                        soft_bounces: 10
                        rejects: 10
                        complaints: 10
                        unsubs: 10
                        opens: 10
                        unique_opens: 10
                        clicks: 10
                        unique_clicks: 10
                      last_7_days:
                        sent: 10
                        hard_bounces: 10
                        soft_bounces: 10
                        rejects: 10
                        complaints: 10
                        unsubs: 10
                        opens: 10
                        unique_opens: 10
                        clicks: 10
                        unique_clicks: 10
                      last_30_days:
                        sent: 10
                        hard_bounces: 10
                        soft_bounces: 10
                        rejects: 10
                        complaints: 10
                        unsubs: 10
                        opens: 10
                        unique_opens: 10
                        clicks: 10
                        unique_clicks: 10
                      last_60_days:
                        sent: 10
                        hard_bounces: 10
                        soft_bounces: 10
                        rejects: 10
                        complaints: 10
                        unsubs: 10
                        opens: 10
                        unique_opens: 10
                        clicks: 10
                        unique_clicks: 10
                      last_90_days:
                        sent: 10
                        hard_bounces: 10
                        soft_bounces: 10
                        rejects: 10
                        complaints: 10
                        unsubs: 10
                        opens: 10
                        unique_opens: 10
                        clicks: 10
                        unique_clicks: 10
                      all_time:
                        sent: 10
                        hard_bounces: 10
                        soft_bounces: 10
                        rejects: 10
                        complaints: 10
                        unsubs: 10
                        opens: 10
                        unique_opens: 10
                        clicks: 10
                        unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/ping:
    post:
      operationId: postUsersPing
      summary: Mailchimp Ping the Api
      description: >-
        Validate an API key and respond to a ping. Returns the string PONG!
        if the API key is valid.
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
            examples:
              PostuserspingRequestExample:
                summary: Default postUsersPing request
                x-microcks-default: true
                value:
                  key: example_value
      responses:
        '200':
          description: A successful ping response.
          content:
            application/json:
              schema:
                type: string
                example: PONG!
                description: The string PONG! confirming a valid API key.
              examples:
                Postusersping200Example:
                  summary: Default postUsersPing 200 response
                  x-microcks-default: true
                  value: example_value
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/senders:
    post:
      operationId: postUsersSenders
      summary: Mailchimp List Account Senders
      description: >-
        Return the senders that have tried to use this account, both verified
        and unverified.
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
            examples:
              PostuserssendersRequestExample:
                summary: Default postUsersSenders request
                x-microcks-default: true
                value:
                  key: example_value
      responses:
        '200':
          description: An array of sender objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SenderInfo'
              examples:
                Postuserssenders200Example:
                  summary: Default postUsersSenders 200 response
                  x-microcks-default: true
                  value:
                  - address: example_value
                    created_at: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    clicks: 10
                    unique_opens: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /webhooks/list:
    post:
      operationId: postWebhooksList
      summary: Mailchimp List Webhooks
      description: Get the list of all configured webhooks for the account.
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
            examples:
              PostwebhookslistRequestExample:
                summary: Default postWebhooksList request
                x-microcks-default: true
                value:
                  key: example_value
      responses:
        '200':
          description: An array of webhook objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookInfo'
              examples:
                Postwebhookslist200Example:
                  summary: Default postWebhooksList 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    url: https://www.example.com
                    description: A sample description.
                    auth_key: example_value
                    events:
                    - send
                    created_at: '2026-01-15T10:30:00Z'
                    last_sent_at: '2026-01-15T10:30:00Z'
                    batches_sent: 10
                    events_sent: 10
                    last_error: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /webhooks/add:
    post:
      operationId: postWebhooksAdd
      summary: Mailchimp Add a Webhook
      description: >-
        Create a new webhook. Mandrill will attempt a HEAD request to the
        provided URL to verify the webhook endpoint.
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - url
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                url:
                  type: string
                  format: uri
                  description: The URL the webhook should POST event batches to.
                description:
                  type: string
                  description: An optional description of the webhook.
                events:
                  type: array
                  items:
                    type: string
                    enum:
                    - send
                    - hard_bounce
                    - soft_bounce
                    - open
                    - click
                    - spam
                    - unsub
                    - reject
                    - deferral
                  description: >-
                    The message events that should trigger the webhook. If
                    empty, all events will be sent.
            examples:
              PostwebhooksaddRequestExample:
                summary: Default postWebhooksAdd request
                x-microcks-default: true
                value:
                  key: example_value
                  url: https://www.example.com
                  description: A sample description.
                  events:
                  - send
      responses:
        '200':
          description: The newly created webhook details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookInfo'
              examples:
                Postwebhooksadd200Example:
                  summary: Default postWebhooksAdd 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    url: https://www.example.com
                    description: A sample description.
                    auth_key: example_value
                    events:
                    - send
                    created_at: '2026-01-15T10:30:00Z'
                    last_sent_at: '2026-01-15T10:30:00Z'
                    batches_sent: 10
                    events_sent: 10
                    last_error: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /webhooks/info:
    post:
      operationId: postWebhooksInfo
      summary: Mailchimp Get Webhook Info
      description: Get the details for a specific webhook by its unique ID.
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                id:
                  type: integer
[...]
