swagger: '2.0'
info:
  version: 3.0.55
  title: Mailchimp Marketing Abuse Activity API
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json
  description: '

    The Mailchimp Marketing API provides programmatic access to Mailchimp data

    and functionality, allowing developers to build custom features to do

    things like sync email activity and campaign analytics with their

    database, manage audiences and campaigns, and more.'
host: server.api.mailchimp.com
basePath: /3.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/problem+json
security:
- basicAuth: []
tags:
- name: Activity
paths:
  /activity-feed/chimp-chatter:
    get:
      summary: Mailchimp Get Latest Chimp Chatter
      description: Return the Chimp Chatter for this account ordered by most recent.
      parameters:
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      responses:
        '200':
          description: ChimpChatter Collection
          schema:
            type: object
            description: An array of Chimp Chatter messages. There's a maximum of 200 messages present for an account.
            properties:
              chimp_chatter:
                type: array
                description: An array of Chimp Chatter messages. There's a maximum of 200 messages present for an account.
                readOnly: true
                items:
                  type: object
                  title: ChimpChatter
                  description: A Chimp Chatter message
                  properties:
                    title:
                      type: string
                      title: Title
                      readOnly: true
                      example: 1 new subscriber to Your New Campaign!
                    message:
                      type: string
                      title: Message
                      readOnly: true
                      example: People are telling their friends about your campaign!
                    type:
                      type: string
                      title: Type
                      description: The type of activity
                      enum:
                      - lists:new-subscriber
                      - lists:unsubscribes
                      - lists:profile-updates
                      - campaigns:facebook-likes
                      - campaigns:forward-to-friend
                      - lists:imports
                      readOnly: true
                      example: campaigns:forward-to-friend
                    update_time:
                      type: string
                      title: Update Time
                      format: date-time
                      description: The date and time this activity was updated.
                      readOnly: true
                      example: '2017-08-04T11:09:01+00:00'
                    url:
                      type: string
                      title: URL
                      description: URL to a report that includes this activity
                      readOnly: true
                      example: http://dev.mailchimp.com/reports/summary?id=1
                    list_id:
                      type: string
                      title: List ID
                      description: If it exists, list ID for the associated list
                      readOnly: true
                      example: '2017-08-04T11:09:01+00:00'
                    campaign_id:
                      type: string
                      title: Campaign ID
                      description: If it exists, campaign ID for the associated campaign
                      readOnly: true
                      example: '2017-08-04T11:09:01+00:00'
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      tags:
      - Activity
      x-custom-config:
        methodNameSnake: get_chimp_chatter
        methodNameCamel: getChimpChatter
      operationId: getActivityFeedChimpChatter
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lists/{list_id}/activity:
    get:
      summary: Mailchimp List Recent Activity
      description: Get up to the previous 180 days of daily detailed aggregated activity stats for a list, not including Automation activity.
      operationId: getListsIdActivity
      parameters:
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: List Activity
            description: Up to the previous 180 days of daily detailed aggregated activity stats for a specific list. Does not include AutoResponder or Automation activity.
            properties:
              activity:
                type: array
                title: List Activity
                description: Recent list activity.
                items:
                  type: object
                  title: Daily List Activity
                  description: One day's worth of list activity. Doesn't include Automation activity.
                  properties:
                    day:
                      type: string
                      title: Day
                      description: The date for the activity summary.
                      readOnly: true
                    emails_sent:
                      type: integer
                      title: Emails Sent
                      description: The total number of emails sent on the date for the activity summary.
                      readOnly: true
                    unique_opens:
                      type: integer
                      title: Unique Opens
                      description: The number of unique opens.
                      readOnly: true
                    recipient_clicks:
                      type: integer
                      title: Recipient Clicks
                      description: The number of clicks.
                      readOnly: true
                    hard_bounce:
                      type: integer
                      title: Hard Bounces
                      description: The number of hard bounces.
                      readOnly: true
                    soft_bounce:
                      type: integer
                      title: Soft Bounces
                      description: The number of soft bounces
                      readOnly: true
                    subs:
                      type: integer
                      title: Subscribes
                      description: The number of subscribes.
                      readOnly: true
                    unsubs:
                      type: integer
                      title: Unsubscribes
                      description: The number of unsubscribes.
                      readOnly: true
                    other_adds:
                      type: integer
                      title: Other Adds
                      description: The number of subscribers who may have been added outside of the [double opt-in process](https://mailchimp.com/help/about-double-opt-in/), such as imports or API activity.
                      readOnly: true
                    other_removes:
                      type: integer
                      title: Other Removes
                      description: The number of subscribers who may have been removed outside of unsubscribing or reporting an email as spam (for example, deleted subscribers).
                      readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
              list_id:
                type: string
                title: List ID
                description: The unique id for the list.
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Activity
      x-custom-config:
        methodNameSnake: get_list_recent_activity
        methodNameCamel: getListRecentActivity
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lists/{list_id}/members/{subscriber_hash}/activity:
    get:
      summary: Mailchimp View Recent Activity 50
      description: Get the last 50 events of a member's activity on a specific list, including opens, clicks, and unsubscribes.
      operationId: getListsIdMembersIdActivity
      parameters:
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - in: path
        name: subscriber_hash
        x-title: Subscriber Hash
        type: string
        required: true
        description: The MD5 hash of the lowercase version of the list member's email address. This endpoint also accepts a list member's email address or contact_id.
        example: example_value
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - in: query
        name: action
        x-title: Action
        type: array
        required: false
        items:
          type: string
        collectionFormat: csv
        enum:
        - - abuse
        - - bounce
        - - click
        - - open
        - - sent
        - - unsub
        - - ecomm
        description: A comma seperated list of actions to return.
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Member Activity Events
            description: The last 50 member events for a list.
            properties:
              activity:
                type: array
                title: Activity
                description: An array of objects, each representing a member event.
                items:
                  type: object
                  title: Member Activity
                  description: Member activity events.
                  properties:
                    action:
                      type: string
                      title: Action Type
                      description: The type of action recorded for the subscriber.
                    timestamp:
                      type: string
                      title: Timestamp
                      format: date-time
                      description: The date and time recorded for the action.
                    url:
                      type: string
                      title: URL
                      description: For clicks, the URL the subscriber clicked on.
                    type:
                      type: string
                      title: Campaign Type
                      description: The type of campaign that was sent.
                    campaign_id:
                      type: string
                      title: Campaign ID
                      description: The web-based ID for the campaign.
                    title:
                      type: string
                      title: Campaign Title
                      description: If set, the campaign's title.
                    parent_campaign:
                      type: string
                      title: Parent Campaign ID
                      description: The ID of the parent campaign.
              email_id:
                type: string
                title: Email Hash
                description: The MD5 hash of the lowercase version of the list member's email address.
                readOnly: true
              contact_id:
                type: string
                title: Contact ID
                description: As Mailchimp evolves beyond email, you may eventually have contacts without email addresses. While the `email_id` is the MD5 hash of their email address, this `contact_id` is agnostic of contacts inclusion of an email address.
                readOnly: true
              list_id:
                type: string
                title: List ID
                description: The list id.
                readOnly: true
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Activity
      x-custom-config:
        methodNameSnake: get_list_member_activity
        methodNameCamel: getListMemberActivity
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lists/{list_id}/members/{subscriber_hash}/activity-feed:
    get:
      summary: Mailchimp View Recent Activity
      description: Get a member's activity on a specific list, including opens, clicks, and unsubscribes.
      operationId: getListsIdMembersIdActivityFeed
      parameters:
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - in: path
        name: subscriber_hash
        x-title: Subscriber Hash
        type: string
        required: true
        description: The MD5 hash of the lowercase version of the list member's email address. This endpoint also accepts a list member's email address or contact_id.
        example: example_value
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - in: query
        name: activity_filters
        x-title: Activity Filters
        type: array
        required: false
        items:
          type: string
        collectionFormat: csv
        enum:
        - - bounce
        - - click
        - - conversation
        - - ecommerce_signup
        - - event
        - - web_engagement
        - - generic_signup
        - - landing_page_signup
        - - marketing_permission
        - - note
        - - open
        - - order
        - - postcard_sent
        - - sent
        - - signup
        - - squatter_signup
        - - unsub
        - - website_signup
        - - survey_response
        - - sms_bulk_sent
        - - inbox_thread
        - - qbo_payment_link
        - - video_call_transcripts
        description: A comma-separated list of activity filters that correspond to a set of activity types, e.g "?activity_filters=open,bounce,click".
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Member Activity Events
            description: The member activity events for a given member.
            x-hidden: false
            properties:
              activity:
                type: array
                title: Activity
                description: An array of objects, each representing a contact event. There are multiple possible types, see the [activity schema documentation](https://mailchimp.com/developer/marketing/docs/alternative-schemas/#activity-schemas).
                readOnly: true
                items:
                  x-discriminator:
                    propertyName: activity_type
                    type: string
                  x-oneOf:
                  - type: object
                    title: Email Opens
                    description: Activity feed item representing opening an email.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: open
                        enum:
                        - open
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      campaign_id:
                        type: string
                        title: Campaign ID
                        description: The campaign's unique id.
                      campaign_title:
                        type: string
                        title: Campaign Title
                        description: The title of the campaign.
                  - type: object
                    title: Email Clicks
                    description: Activity feed item representing having a link clicked by a contact.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: click
                        enum:
                        - click
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      campaign_id:
                        type: string
                        title: Campaign ID
                        description: The campaign's unique id.
                      campaign_title:
                        type: string
                        title: Campaign Title
                        description: The title of the campaign.
                      link_clicked:
                        type: string
                        title: Link Clicked
                        description: The URL of the link that was clicked.
                  - type: object
                    title: Email Bounced
                    description: Activity feed item representing an email to this contact bouncing.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: bounce
                        enum:
                        - bounce
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      campaign_id:
                        type: string
                        title: Campaign ID
                        description: The campaign's unique id.
                      campaign_title:
                        type: string
                        title: Campaign Title
                        description: The title of the campaign.
                      bounce_type:
                        type: string
                        title: Bounce Type
                        description: The type of bounce.
                        enum:
                        - hard
                        - soft
                      bounce_has_open_activity:
                        type: boolean
                        title: Bounce Has Open Activity
                        description: Indicates if the email associated with this bounce also has open activity on the same campaign.
                  - type: object
                    title: List Unsubscribed
                    description: Activity feed item representing this contact unsubscribing from a list.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: unsub
                        enum:
                        - unsub
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      campaign_id:
                        type: string
                        title: Campaign ID
                        description: The campaign's unique id.
                      campaign_title:
                        type: string
                        title: Campaign Text
                        description: The title of the campaign.
                      is_admin_unsubscribed:
                        type: boolean
                        title: Is Admin Unsubscribed
                        description: Indicates if an admin unsubscribed a contact.
                      unsubscribe_reason:
                        type: string
                        title: Unsubscribe Reason
                        description: Indicates the reason that the contact was unsubscribed.
                  - type: object
                    title: Email Sent
                    description: Activity feed item representing having an email sent to the contact.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: sent
                        enum:
                        - sent
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      campaign_id:
                        type: string
                        title: Campaign ID
                        description: The campaign's unique id.
                      campaign_title:
                        type: string
                        title: Campaign Title
                        description: The title of the campaign.
                  - type: object
                    title: Email Conversation
                    description: Activity feed item representing an individual reply in a conversation.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: conversation
                        enum:
                        - conversation
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      campaign_id:
                        type: string
                        title: Campaign ID
                        description: The campaign's unique id.
                      campaign_title:
                        type: string
                        title: Campaign Title
                        description: The title of the campaign.
                      thread_id:
                        type: string
                        title: Thread ID
                        description: The thread's unique id of the conversation referenced in this event.
                      message_text:
                        type: string
                        title: Message Text
                        description: The body of the message in this conversation.
                      created_by:
                        type: string
                        title: Created By
                        description: The username of the person who created this event.
                      is_user:
                        type: boolean
                        title: Is User
                        description: Indicates that the message created by a user (as opposed to a contact).
                      has_read:
                        type: boolean
                        title: Has Read
                        description: Indicates that the message has been read.
                      from_email:
                        type: string
                        title: From Email
                        description: The email of the contact who sent the reply.
                      avatar_url:
                        type: string
                        title: Avatar URL
                        description: The gravatar URL of the contact who sent the reply.
                  - type: object
                    title: Note
                    description: Activity feed item representing a note on the contact record.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: note
                        enum:
                        - note
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      updated_at_timestamp:
                        type: string
                        title: Updated At Timestamp
                        format: date-time
                        description: The updated at timestamp in ISO8601.
                      note_id:
                        type: string
                        title: Note ID
                        description: The note's unique id.
                      note_text:
                        type: string
                        title: Note Text
                        description: The note's text.
                      created_by:
                        type: string
                        title: Created By
                        description: The person who created the note.
                      avatar_url:
                        type: string
                        title: Avatar URL
                        description: The URL of the contact's profile gravatar image.
                  - type: object
                    title: Marketing Permission
                    description: Activity feed item indicating if a marketing permission was added or updated.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: marketing_permission
                        enum:
                        - marketing_permission
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      marketing_permission_text:
                        type: string
                        title: Marketing Permission Text
                        description: The text describing this marketing permission.
                      updated_by:
                        type: string
                        title: Updated By
                        description: The name of the contact who updated this permission.
                      marketing_permission_opted_in:
                        type: boolean
                        title: Marketing Permission Opted In
                        description: Indicates if the marketing permission is enabled or not.
                  - type: object
                    title: Postcard Sent
                    description: Activity feed item representing a time when a contact was sent a particular postcard.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: postcard_sent
                        enum:
                        - postcard_sent
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      outreach_id:
                        type: string
                        title: Outreach ID
                        description: The outreach's unique id.
                      outreach_title:
                        type: string
                        title: Outreach Title
                        description: The title of the outreach.
                  - type: object
                    title: Squatter Signup
                    description: Activity feed item to representing a contact signing up for the audience from a squatter page.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: squatter_signup
                        enum:
                        - squatter_signup
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      outreach_id:
                        type: string
                        title: Outreach ID
                        description: The outreach's unique id.
                      outreach_title:
                        type: string
                        title: Outreach Title
                        description: The title of the outreach.
                  - type: object
                    title: Website Signup
                    description: Activity feed item to representing a contact signing up for the contact through a website page.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: website_signup
                        enum:
                        - website_signup
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      outreach_id:
                        type: string
                        title: Outreach ID
                        description: The outreach's unique id.
                      outreach_title:
                        type: string
                        title: Outreach Title
                        description: The title of the outreach.
                  - type: object
                    title: Landing Page Signup
                    description: Activity feed item to representing a contact signing up for the list via a landing page.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: landing_page_signup
                        enum:
                        - landing_page_signup
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      outreach_id:
                        type: string
                        title: Outreach ID
                        description: The outreach's unique id.
                      outreach_title:
                        type: string
                        title: Outreach Title
                        description: The title of the outreach.
                  - type: object
                    title: Ecommerce Signup
                    description: Activity feed item to representing a contact signing up for the list via a ecommerce store.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: ecommerce_signup
                        enum:
                        - ecommerce_signup
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      store_name:
                        type: string
                        title: Store Name
                        description: The name of the store.
                  - type: object
                    title: Generic Signup
                    description: Activity feed item that represents a contact signing up for the audience via a generic some generic method (specifically, one we can't link to).
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: generic_signup
                        enum:
                        - generic_signup
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      signup_category:
                        type: string
                        title: Signup Category
                        description: How was this user added to the list.
                  - type: object
                    title: Ecommerce Order
                    description: Activity feed item that represents an order.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: order
                        enum:
                        - order
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      outreach_id:
                        type: string
                        title: Outreach ID
                        description: The outreach's unique id.
                      outreach_type:
                        type: string
                        title: Outreach Type
                        description: The type of outreach that triggered the event.
                      outreach_title:
                        type: string
                        title: Outreach Title
                        description: The title of the outreach.
                      order_id:
                        type: string
                        title: Order ID
                        description: The unique order id.
                      order_total:
                        type: string
                        title: Order Total
                        description: The order total formatted as a string.
                      order_items:
                        type: array
                        title: Order Items
                        description: An array of items that have been ordered.
                        items:
                          type: object
                          title: E-commerce Order Line Item
                          description: Information about a specific order line.
                          properties:
                            id:
                              type: string
                              title: Order Line Item Foreign ID
                              description: A unique identifier for an order line item.
                              readOnly: true
                            product_id:
                              type: string
                              title: Order Line Item Product Foreign ID
                              description: A unique identifier for the product associated with an order line item.
                            product_title:
                              type: string
                              title: Order Line Item Product Title
                              description: The name of the product for an order line item.
                              readOnly: true
                            product_variant_id:
                              type: string
                              title: Order Line Item Product Variant Foreign ID
                              description: A unique identifier for the product variant associated with an order line item.
                            product_variant_title:
                              type: string
                              title: Order Line Item Product Variant Title
                              description: The name of the product variant for an order line item.
                              readOnly: true
                            image_url:
                              type: string
                              title: Product Image URL
                              description: The image URL for a product.
                              readOnly: true
                            quantity:
                              type: integer
                              title: Quantity
                              description: The order line item quantity.
                            price:
                              type: number
                              title: Price
                              description: The order line item price.
                            discount:
                              type: number
                              title: Discount
                              description: The total discount amount applied to a line item.
                            _links:
                              title: Links
                              description: A list of link types and descriptions for the API schema documents.
                              type: array
                              items:
                                type: object
                                title: Resource Link
                                description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                                properties:
                                  rel:
                                    type: string
                                    title: Rel
                                    description: As with an HTML 'rel' attribute, this describes the type of link.
                                    readOnly: true
                                  href:
                                    type: string
                                    title: Href
                                    description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                                    readOnly: true
                                  method:
                                    type: string
                                    title: Method
                                    description: The HTTP method that should be used when accessing the URL defined in 'href'.
                                    enum:
                                    - GET
                                    - POST
                                    - PUT
                                    - PATCH
                                    - DELETE
                                    - OPTIONS
                                    - HEAD
                                    readOnly: true
                                  targetSchema:
                                    type: string
                                    title: Target Schema
                                    description: For GETs, this is a URL representing the schema that the response should conform to.
                                    readOnly: true
                                  schema:
                                    type: string
                                    title: Schema
                                    description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                                    readOnly: true
                              readOnly: true
                      store_name:
                        type: string
                        title: Store Name
                        description: The name of the store for an order.
                      order_url:
                        type: string
                        title: Order URL
                        description: The order URL.
                      integration_platform:
                        type: string
                        title: Integration Platform
                        description: The name of the integration platform this order originated through.
                  - type: object
                    title: Contact Activity Event
                    description: Activity feed item that represents a generic event.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: event
                        enum:
                        - event
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      event_name:
                        type: string
                        title: Event Name
                        description: The name of the event.
                      event_properties:
                        type: array
                        title: Event Properties
                        items:
                          x-skip-validation: true
                          type: string
                        description: An arbitrary datastore containing properties for the given event.
                  - type: object
                    title: Survey response
                    description: Represents when a contact completes and submits a survey
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: survey_response
                        enum:
                        - survey_response
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      survey_id:
                        type: string
                        title: Survey ID
                        description: The survey's unique id.
                      survey_title:
                        type: string
                        title: Survey Title
                        description: The title of the survey.
                  - type: object
                    title: SMS Bulk Sent
                    description: Activity feed item representing an SMS campaign sent to the contact.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: sms_bulk_sent
                        enum:
                        - sms_bulk_sent
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      campaign_id:
                        type: string
                        title: Campaign ID
                        description: The campaign's unique id.
                      campaign_title:
                        type: string
                        title: Campaign Title
                        description: The title of the SMS campaign.
                  - type: object
                    title: Inbox Thread
                    description: Activity feed item representing a thread located in Inbox.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: inbox_thread
                        enum:
                        - inbox_thread
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      id:
                        type: string
                        title: Thread ID
                        description: The ID of the thread.
                      thread_subject:
                        type: string
                        title: Thread Subject
                        description: The subject of the thread.
                      thread_url:
                        type: string
                        title: Thread URL
                        description: The url of the thread.
                      thread_direction:
                        type: string
                        title: Thread Direction
                        description: The direction of the message noting if it is outbound or inbound.
                        enum:
                        - INBOUND
                        - OUTBOUND
                      thread_author:
                        type: string
                        title: Thread Author
                        description: The author of the thread.
                  - type: object
                    title: QBO Payment Link
                    description: Activity feed item representing a payment link from QBO.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: qbo_payment_link
                        enum:
                        - qbo_payment_link
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      id:
                        type: string
                        title: id
                        description: The QuickBooks payment link id.
                      qbo_payment_external_id:
                        type: string
                        title: QBO Payment External ID
                        description: The external QuickBooks payment id.
                      integration_platform:
                        type: string
                        title: Integration Platform
                        description: The platform Mailchimp is integrated with.
                        enum:
                        - quickbooks
                  - type: object
                    title: Video Call Transcripts
                    description: Activity feed item representing a video call transcript.
                    properties:
                      activity_type:
                        type: string
                        description: The type of event activity.
                        x-value: video_call_transcripts
                        enum:
                        - video_call_transcripts
                      created_at_timestamp:
                        type: string
                        title: Created At Timestamp
                        format: date-time
                        description: The created at timestamp in ISO8601.
                      id:
                        type: string
                        title: id
                        description: The id for video call transcripts.
                      scheduled_meeting_start_timestamp:
                        type: string
                        title: Scheduled Meeting Start Timestamp
                        format: date-time
                        description: The Scheduled Meeting Start timestamp in ISO8601.
                      expire_at_timestamp:
                        type: string
                        title: Expire At Timestamp
                        format: date-time
                        description: The Expire At timestamp in ISO8601.
              email_id:
                type: string
                title: Email Hash
                description: The MD5 hash of the lowercase version of the list member's email address.
                readOnly: true
              list_id:
                type: string
                title: List ID
                description: The list id.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Activity
      x-custom-config:
        methodNameSnake: get_list_member_activity_feed
        methodNameCamel: getListMemberActivityFeed
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /reports/{campaign_id}/email-activity:
    get:
      summary: Mailchimp List Email Activity
      description: Get a list of member's subscriber activity in a specific campaign.
      operationId: getReportsIdEmailActivity
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - in: path
        name: campaign_id
        x-title: Campaign ID
        type: string
        required: true
        description: The unique id for the campaign.
        example: '500123'
      - name: since
        x-title: Email Activity since
        in: query
        required: false
        description: 'Restrict results to email activity events that occur after a specific time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        type: string
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Email Activity
            description: A list of member's subscriber activity in a specific campaign.
            properties:
              emails:
                type: array
                items:
                  type: object
                  title: Email Activity
                  description: A list of a member's subscriber activity in a specific campaign, including opens, clicks, and bounces.
                  properties:
                    campaign_id:
                      type: string
                      title: Campaign ID
                      description: The unique id for the campaign.
                      readOnly: true
                    list_id:
                      type: string
                      title: List ID
                      description: The unique id for the list.
                      readOnly: true
                    list_is_active:
                      type: boolean
                      title: List Status
                      description: The status of the list used, namely if it's deleted or disabled.
                      readOnly: true
                    email_id:
                      type: string
                      title: Email Hash
                      description: The MD5 hash of the lowercase version of the list member's email address.
                      readOnly: true
                    email_address:
                      type: string
                      title: Email Address
                      description: Email address for a subscriber.
                      readOnly: true
                    activity:
                      type: array
                      title: Member Activity
                      description: An array of objects, each showing an interaction with the email. Member activity limited to 1,000 open activities and 1,000 click activities per member per campaign.
                      items:
                        type: object
                        title: Member Activity
                        description: A summary of the interaction with the campaign.
                        properties:
                          action:
                            type: string
                            title: Action
                            description: 'One of the following actions: ''open'', ''click'', or ''bounce'''
                          type:
                            type: string
                            title: Type
                            description: 'If the action is a ''bounce'', the type of bounce received: ''hard'', ''soft''.'
                          timestamp:
                            type: string
                            title: Timestamp
                            description: The date and time recorded for the action in ISO 8601 format.
                            format: date-time
                          url:
                            type: string
                            title: URL
                            description: If the action is a 'click', the URL on which the member clicked.
                          ip:
                            type: string
                            title: IP
                            description: The IP address recorded for the action.
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
                title: Sent To
                description: An array of members that were sent the campaign.
              campaign_id:
                type: string
                title: Campaign ID
                description: The unique id for the sent campaign.
                readOnly: true
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Activity
      x-custom-config:
        methodNameSnake: get_email_activity_for_campaign
        methodNameCamel: getEmailActivityForCampaign
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /reports/{campaign_id}/email-activity/{subscriber_hash}:
    get:
      summary: Mailchimp Get Subscriber Email Activity
      description: Get a specific list member's activity in a campaign including opens, clicks, and bounces.
      operationId: getReportsIdEmailActivityId
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - in: path
        name: campaign_id
        x-title: Campaign ID
        type: string
        required: true
        description: The unique id for the campaign.
        example: '500123'
      - in: path
        name: subscriber_hash
        x-title: Subscriber Hash
        type: string
        required: true
        description: The MD5 hash of the lowercase version of the list member's email address.
        example: example_value
      - name: since
        x-title: Email Activity since
        in: query
        required: false
        description: 'Restrict results to email activity events that occur after a specific time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        type: string
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Email Activity
            description: A list of a member's subscriber activity in a specific campaign, including opens, clicks, and bounces.
            properties:
              campaign_id:
                type: string
                title: Campaign ID
                description: The unique id for the campaign.
                readOnly: true
              list_id:
                type: string
                title: List ID
                description: The unique id for the list.
                readOnly: true
              list_is_active:
                type: boolean
                title: List Status
                description: The status of the list used, namely if it's deleted or disabled.
                readOnly: true
              email_id:
                type: string
                title: Email Hash
                description: The MD5 hash of the lowercase version of the list member's email address.
                readOnly: true
              email_address:
                type: string
                title: Email Address
                description: Email address for a subscriber.
                readOnly: true
              activity:
                type: array
                title: Member Activity
                description: An array of objects, each showing an interaction with the email. Member activity limited to 1,000 open activities and 1,000 click activities per member per campaign.
                items:
                  type: object
                  title: Member Activity
                  description: A summary of the interaction with the campaign.
                  properties:
                    action:
                      type: string
                      title: Action
                      description: 'One of the following actions: ''open'', ''click'', or ''bounce'''
                    type:
                      type: string
                      title: Type
                      description: 'If the action is a ''bounce'', the type of bounce received: ''hard'', ''soft''.'
                    timestamp:
                      type: string
                      title: Timestamp
                      description: The date and time recorded for the action in ISO 8601 format.
                      format: date-time
                    url:
                      type: string
                      title: URL
                      description: If the action is a 'click', the URL on which the member clicked.
                    ip:
                      type: string
                      title: IP
                      description: The IP address recorded for the action.
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Activity
      x-custom-config:
        methodNameSnake: get_email_activity_for_subscriber
        methodNameCamel: getEmailActivityForSubscriber
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /reports/{campaign_id}/ecommerce-product-activity:
    get:
      description: Get breakdown of product activity for a campaign
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - in: path
        name: campaign_id
        x-title: Campaign ID
        type: string
        required: true
        description: The unique id for the campaign.
        example: '500123'
      - name: sort_field
        x-title: Sort By Field
        description: Returns files sorted by the specified field.
        in: query
        required: false
        type: string
        enum:
        - title
        - total_revenue
        - total_purchased
        example: example_value
      responses:
        '200':
          description: Ecommerce Product Activity Instance
          schema:
            type: object
            description: A collection of ecommerce products.
            properties:
              products:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    sku:
                      type: string
                    image_url:
                      type: string
                    total_revenue:
                      type: number
                    total_purchased:
                      type: number
                    currency_code:
                      type: string
                    recommendation_total:
                      type: integer
                    recommendation_purchased:
                      type: integer
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
[...]
