swagger: '2.0'
info:
  version: 3.0.55
  title: Mailchimp Marketing Abuse Segments API
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json
  description: '

    The Mailchimp Marketing API provides programmatic access to Mailchimp data

    and functionality, allowing developers to build custom features to do

    things like sync email activity and campaign analytics with their

    database, manage audiences and campaigns, and more.'
host: server.api.mailchimp.com
basePath: /3.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/problem+json
security:
- basicAuth: []
tags:
- name: Segments
paths:
  /lists/{list_id}/segments:
    get:
      summary: Mailchimp List Segments
      description: Get information about all available segments for a specific list.
      operationId: previewASegment
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: type
        x-title: Segment Type
        in: query
        required: false
        description: Limit results based on segment type.
        type: string
        example: example_value
      - name: since_created_at
        x-title: Since Created At
        in: query
        description: 'Restrict results to segments created after the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: '2026-01-15T10:30:00Z'
      - name: before_created_at
        x-title: Before Created At
        in: query
        description: 'Restrict results to segments created before the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: '2026-01-15T10:30:00Z'
      - name: include_cleaned
        in: query
        x-title: Include Cleaned
        description: Include cleaned members in response
        required: false
        type: boolean
        x-example: false
        example: example_value
      - name: include_transactional
        in: query
        x-title: Include Transactional
        description: Include transactional members in response
        required: false
        type: boolean
        x-example: false
        example: example_value
      - name: include_unsubscribed
        in: query
        x-title: Include Unsubscribed
        description: Include unsubscribed members in response
        required: false
        type: boolean
        x-example: false
        example: example_value
      - name: since_updated_at
        x-title: Since Updated At
        in: query
        description: 'Restrict results to segments update after the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: '2026-01-15T10:30:00Z'
      - name: before_updated_at
        x-title: Before Updated At
        in: query
        description: 'Restrict results to segments update before the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: '2026-01-15T10:30:00Z'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Collection of Segments
            description: A list of available segments.
            properties:
              segments:
                type: array
                items:
                  type: object
                  title: List
                  description: Information about a specific segment.
                  properties:
                    id:
                      type: integer
                      title: Segment ID
                      description: The unique id for the segment.
                      readOnly: true
                    name:
                      type: string
                      title: Segment Name
                      description: The name of the segment.
                    member_count:
                      type: integer
                      title: Member Count
                      description: The number of active subscribers currently included in the segment.
                      readOnly: true
                    type:
                      type: string
                      title: Type
                      description: The type of segment. Static segments are now known as tags. Learn more about [tags](https://mailchimp.com/help/getting-started-tags?utm_source=mc-api&utm_medium=docs&utm_campaign=apidocs).
                      readOnly: true
                      enum:
                      - saved
                      - static
                      - fuzzy
                    created_at:
                      type: string
                      title: Date Created
                      description: The date and time the segment was created in ISO 8601 format.
                      readOnly: true
                      format: date-time
                    updated_at:
                      type: string
                      title: Date Updated
                      description: The date and time the segment was last updated in ISO 8601 format.
                      format: date-time
                      readOnly: true
                    options:
                      type: object
                      title: Conditions
                      description: The conditions of the segment. Static segments (tags) and fuzzy segments don't have conditions.
                      properties:
                        match:
                          type: string
                          title: Match
                          description: Match type.
                          enum:
                          - any
                          - all
                        conditions:
                          type: array
                          title: Segment Type
                          description: Segment match conditions. There are multiple possible types, see the [condition types documentation](https://mailchimp.com/developer/marketing/docs/alternative-schemas/#segment-condition-schemas).
                          items:
                            x-discriminator:
                              type: string
                              propertyName: condition_type
                            x-oneOf:
                            - type: object
                              title: Aim Segment
                              description: Segment by interaction with a specific campaign.
                              properties:
                                condition_type:
                                  type: string
                                  x-value: Aim
                                  enum:
                                  - Aim
                                field:
                                  type: string
                                  enum:
                                  - aim
                                  title: Segment Field
                                  description: Segment by interaction with a specific campaign.
                                  example: aim
                                op:
                                  type: string
                                  enum:
                                  - open
                                  - click
                                  - sent
                                  - noopen
                                  - noclick
                                  - nosent
                                  title: Segment Operator
                                  description: 'The status of the member with regard to their campaign interaction. One of the following: opened, clicked, was sent, didn''t open, didn''t click, or was not sent.'
                                  example: open
                                value:
                                  type: string
                                  title: Segment Data
                                  description: Either the web id value for a specific campaign or 'any' to account for subscribers who have/have not interacted with any campaigns.
                                  example: any
                            - type: object
                              title: Automation Segment
                              description: Segment by interaction with an Automation workflow.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: Automation
                                  enum:
                                  - Automation
                                field:
                                  type: string
                                  enum:
                                  - automation
                                  title: Segment Field
                                  description: Segment by interaction with an Automation workflow.
                                  example: automation
                                op:
                                  type: string
                                  enum:
                                  - started
                                  - completed
                                  - not_started
                                  - not_completed
                                  title: Segment Operator
                                  description: 'The status of the member with regard to the automation workflow. One of the following: has started the workflow, has completed the workflow, has not started the workflow, or has not completed the workflow.'
                                  example: started
                                value:
                                  type: string
                                  title: Segment Data
                                  description: The web id for the automation workflow to segment against.
                                  example: '2135217'
                            - type: object
                              title: Poll Activity Segment
                              description: Segment by poll activity.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: CampaignPoll
                                  enum:
                                  - CampaignPoll
                                field:
                                  type: string
                                  enum:
                                  - poll
                                  title: Segment Field
                                  description: Segment by poll activity.
                                  example: poll
                                op:
                                  type: string
                                  enum:
                                  - member
                                  - notmember
                                  title: Segment Operator
                                  description: Members have/have not interacted with a specific poll in a Mailchimp email.
                                  example: member
                                value:
                                  type: number
                                  title: Segment Operator
                                  description: The id for the poll.
                                  example: 409
                            - type: object
                              title: Conversation Segment
                              description: Segment by interaction with a campaign via Conversations.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: Conversation
                                  enum:
                                  - Conversation
                                field:
                                  type: string
                                  enum:
                                  - conversation
                                  title: Segment Field
                                  description: Segment by interaction with a campaign via Conversations.
                                  example: conversation
                                op:
                                  type: string
                                  enum:
                                  - member
                                  - notmember
                                  title: Segment Operator
                                  description: 'The status of a member''s interaction with a conversation. One of the following: has replied or has not replied.'
                                  example: member
                                value:
                                  type: string
                                  title: Segment Data
                                  description: The web id value for a specific campaign or 'any' to account for subscribers who have/have not interacted with any campaigns.
                                  example: any
                            - type: object
                              title: Date Segment
                              description: Segment by a specific date field.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: Date
                                  enum:
                                  - Date
                                field:
                                  type: string
                                  enum:
                                  - timestamp_opt
                                  - info_changed
                                  - ecomm_date
                                  title: Segment Field
                                  description: 'The type of date field to segment on: The opt-in time for a signup, the date the subscriber was last updated, or the date of their last ecomm purchase.'
                                  example: timestamp_opt
                                op:
                                  type: string
                                  enum:
                                  - greater
                                  - less
                                  - is
                                  - not
                                  - blank
                                  - blank_not
                                  - within
                                  - notwithin
                                  title: Segment Operator
                                  description: 'When the event took place:  Before, after, is a specific date, is not a specific date, is blank, or is not blank.'
                                  example: greater
                                value:
                                  type: string
                                  title: Segment Data
                                  description: 'What type of data to segment on: a specific date, a specific campaign, or the last campaign sent.'
                                  example: date
                                extra:
                                  type: string
                                  title: Segment Extra Value
                                  description: When segmenting on 'date' or 'campaign', the date for the segment formatted as YYYY-MM-DD or the web id for the campaign.
                                  example: '2015-01-30'
                            - type: object
                              title: Email Client Segment
                              description: Segment by use of a particular email client.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: EmailClient
                                  enum:
                                  - EmailClient
                                field:
                                  type: string
                                  enum:
                                  - email_client
                                  title: Segment Field
                                  description: Segment by use of a particular email client.
                                  example: email_client
                                op:
                                  type: string
                                  enum:
                                  - client_is
                                  - client_not
                                  title: Segment Operator
                                  description: The operation to determine whether we select clients that match the value, or clients that do not match the value.
                                  example: client_is
                                value:
                                  type: string
                                  title: Segment Data
                                  description: The name of the email client.
                                  example: Gmail
                            - type: object
                              title: Language Segment
                              description: Segment by language.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: Language
                                  enum:
                                  - Language
                                field:
                                  type: string
                                  enum:
                                  - language
                                  title: Segment Field
                                  description: Segmenting based off of a subscriber's language.
                                  example: language
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  title: Segment Operator
                                  description: Whether the member's language is or is not set to a specific language.
                                  example: is
                                value:
                                  type: string
                                  title: Segment Data
                                  description: A two-letter language identifier.
                                  example: en
                            - type: object
                              title: Member Rating Segment
                              description: Segment by member rating.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: MemberRating
                                  enum:
                                  - MemberRating
                                field:
                                  type: string
                                  enum:
                                  - rating
                                  title: Segment Field
                                  description: Segment by member rating.
                                  example: rating
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  - greater
                                  - less
                                  title: Segment Operator
                                  description: Members who have have a rating that is/not exactly a given number or members who have a rating greater/less than a given number.
                                  example: greater
                                value:
                                  type: number
                                  title: Segment Operator
                                  description: The star rating number to segment against.
                                  example: 4
                            - type: object
                              title: Signup Source Segment
                              description: Segment by signup source.
                              required:
                              - field
                              - condition_type
                              - op
                              properties:
                                condition_type:
                                  type: string
                                  enum:
                                  - SignupSource
                                  x-value: SignupSource
                                  title: Type
                                field:
                                  type: string
                                  enum:
                                  - source
                                  title: Segment Field
                                  example: source
                                op:
                                  type: string
                                  enum:
                                  - source_is
                                  - source_not
                                  title: Segment Operator
                                  description: Whether the member's signup source was/was not a particular value.
                                  example: source_is
                                value:
                                  type: string
                                  title: Segment Data
                                  description: The signup source.
                                  example: List Import
                            - type: object
                              title: Survey Monkey Segment
                              description: Segment by interaction with a SurveyMonkey survey.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: SurveyMonkey
                                  enum:
                                  - SurveyMonkey
                                field:
                                  type: string
                                  enum:
                                  - survey_monkey
                                  title: Segment Field
                                  description: Segment by interaction with a SurveyMonkey survey.
                                  example: survey_monkey
                                op:
                                  type: string
                                  enum:
                                  - started
                                  - completed
                                  - not_started
                                  - not_completed
                                  title: Segment Operator
                                  description: 'The status of the member with regard to the survey.One of the following: has started the survey, has completed the survey, has not started the survey, or has not completed the survey.'
                                  example: started
                                value:
                                  type: string
                                  title: Survey ID
                                  description: The unique ID of the survey monkey survey.
                                  example: '32179586'
                            - type: object
                              title: VIP Segment
                              description: Segment by VIP status.
                              required:
                              - field
                              - op
                              properties:
                                condition_type:
                                  type: string
                                  x-value: VIP
                                  enum:
                                  - VIP
                                field:
                                  type: string
                                  enum:
                                  - gmonkey
                                  title: Segment Field
                                  description: Segment by VIP status.
                                  example: gmonkey
                                op:
                                  type: string
                                  enum:
                                  - member
                                  - notmember
                                  title: Segment Operator
                                  description: Whether the member is or is not marked as VIP.
                                  example: member
                            - type: object
                              title: Interests Segment
                              description: Segment by an interest group merge field.
                              properties:
                                condition_type:
                                  type: string
                                  x-value: Interests
                                  enum:
                                  - Interests
                                field:
                                  type: string
                                  title: Segment Field
                                  description: Segmenting based on interest group information. This should start with 'interests-' followed by the grouping id. Ex. 'interests-123'.
                                  example: interests-123
                                op:
                                  type: string
                                  enum:
                                  - interestcontains
                                  - interestcontainsall
                                  - interestnotcontains
                                  title: Segment Operator
                                  description: Whether the member is a part of one, all, or none of the groups.
                                  example: interestcontains
                                value:
                                  type: array
                                  title: Segment Value
                                  description: An array containing strings, each representing a group id.
                                  items:
                                    type: string
                                    example:
                                    - '44401'
                                    - '44405'
                                    - '44409'
                            - type: object
                              title: Ecommerce Category Segment
                              description: Segment by purchases in specific items or categories.
                              properties:
                                condition_type:
                                  type: string
                                  x-value: EcommCategory
                                  enum:
                                  - EcommCategory
                                field:
                                  type: string
                                  enum:
                                  - ecomm_cat
                                  - ecomm_prod
                                  title: Segment Field
                                  description: Segment by purchases in specific items or categories.
                                  example: ecomm_cat
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  - contains
                                  - notcontain
                                  - starts
                                  - ends
                                  title: Segment Operator
                                  description: A member who has purchased from a category/specific item that is/is not a specific name, where the category/item name contains/doesn't contain a specific phrase or string, or a category/item name that starts/ends with a string.
                                  example: is
                                value:
                                  type: string
                                  title: Segment Data
                                  description: The ecommerce category/item information.
                                  example: Product
                            - type: object
                              title: Ecommerce Number Segment
                              description: Segment by average spent total, number of orders, total number of products purchased, or average number of products per order.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: EcommNumber
                                  enum:
                                  - EcommNumber
                                field:
                                  type: string
                                  enum:
                                  - ecomm_spent_avg
                                  - ecomm_orders
                                  - ecomm_prod_all
                                  - ecomm_avg_ord
                                  title: Segment Field
                                  description: Segment by average spent total, number of orders, total number of products purchased, or average number of products per order.
                                  example: ecomm_orders
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  - greater
                                  - less
                                  title: Segment Operator
                                  description: Members who have spent exactly, have not spent exactly, spent more, or spent less than the segment value.
                                  example: greater
                                value:
                                  type: number
                                  title: Segment Operator
                                  description: Members who have spent exactly, have not spent exactly, spent more, or spent less than this amount.
                                  example: 42
                            - type: object
                              title: Ecommerce Purchased Segment
                              description: Segment by whether someone has purchased anything.
                              properties:
                                condition_type:
                                  type: string
                                  x-value: EcommPurchased
                                  enum:
                                  - EcommPurchased
                                field:
                                  type: string
                                  enum:
                                  - ecomm_purchased
                                  title: Segment Field
                                  description: Segment by whether someone has purchased anything.
                                  example: ecomm_purchased
                                op:
                                  type: string
                                  enum:
                                  - member
                                  - notmember
                                  title: Segment Operator
                                  description: Members who have have ('member') or have not ('notmember') purchased.
                                  example: member
                            - type: object
                              title: Ecommerce Spent Segment
                              description: Segment by amount spent on a single order or across all orders.
                              properties:
                                condition_type:
                                  type: string
                                  x-value: EcommSpent
                                  enum:
                                  - EcommSpent
                                field:
                                  type: string
                                  enum:
                                  - ecomm_spent_one
                                  - ecomm_spent_all
                                  title: Segment Field
                                  description: Segment by amount spent on a single order or across all orders.
                                  example: ecomm_spent_one
                                op:
                                  type: string
                                  enum:
                                  - greater
                                  - less
                                  title: Segment Operator
                                  description: Members who have spent 'more' or 'less' than then specified value.
                                  example: greater
                                value:
                                  type: integer
                                  title: Segment Data
                                  description: The total amount a member spent.
                                  example: 42
                            - type: object
                              title: Ecommerce Purchased Store Segment
                              description: Segment by purchases from a specific store.
                              properties:
                                condition_type:
                                  type: string
                                  x-value: EcommStore
                                  enum:
                                  - EcommStore
                                field:
                                  type: string
                                  enum:
                                  - ecomm_store
                                  title: Segment Field
                                  description: Segment by purchases from a specific store.
                                  example: ecomm_store
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  title: Segment Operator
                                  description: Members who have or have not purchased from a specific store.
                                  example: is
                                value:
                                  type: string
                                  title: Segment Operator
                                  description: The store id to segment against.
                                  example: '289'
                            - type: object
                              title: Goal Activity Segment
                              description: Segment by Goal activity.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: GoalActivity
                                  enum:
                                  - GoalActivity
                                field:
                                  type: string
                                  enum:
                                  - goal
                                  title: Segment Field
                                  description: Segment by Goal activity.
                                  example: goal
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - goal_not
                                  - contains
                                  - goal_notcontain
                                  - starts
                                  - ends
                                  title: Segment Operator
                                  description: Whether the website URL is/not exactly, contains/doesn't contain, starts with/ends with a string.
                                  example: is
                                value:
                                  type: string
                                  title: Segment Value
                                  description: The URL to check Goal activity against.
                            - type: object
                              title: Goal Timestamp Segment
                              description: Segment by most recent interaction with a website.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: GoalTimestamp
                                  enum:
                                  - GoalTimestamp
                                field:
                                  type: string
                                  enum:
                                  - goal_last_visited
                                  title: Segment Field
                                  description: Segment by most recent interaction with a website.
                                  example: goal_last_visited
                                op:
                                  type: string
                                  enum:
                                  - greater
                                  - less
                                  - is
                                  title: Segment Operator
                                  description: Whether the website activity happened after, before, or at a given timestamp.
                                  example: greater
                                value:
                                  type: string
                                  title: Segment Value
                                  description: The date to check Goal activity against.
                                  example: '2015-07-20 19:45:21'
                            - type: object
                              title: Similar Subscribers Segment Member Segment
                              description: Segment by similar subscribers.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: FuzzySegment
                                  enum:
                                  - FuzzySegment
                                field:
                                  type: string
                                  enum:
                                  - fuzzy_segment
                                  title: Segment Field
                                  description: Segment by similar subscribers.
                                  example: fuzzy_segment
                                op:
                                  type: string
                                  enum:
                                  - fuzzy_is
                                  - fuzzy_not
                                  title: Segment Operator
                                  description: Members who are/are not apart of a 'similar subscribers' segment.
                                  example: fuzzy_is
                                value:
                                  type: number
                                  title: Segment Operator
                                  description: The id for the 'similar subscribers' segment.
                                  example: 48433
                            - type: object
                              title: Static Segment Member Segment
                              description: Segment by a given static segment.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: StaticSegment
                                  enum:
                                  - StaticSegment
                                field:
                                  type: string
                                  enum:
                                  - static_segment
                                  title: Segment Field
                                  description: Segment by a given static segment.
                                  example: static_segment
                                op:
                                  type: string
                                  enum:
                                  - static_is
                                  - static_not
                                  title: Segment Operator
                                  description: Members who are/are not apart of a static segment.
                                  example: static_is
                                value:
                                  type: number
                                  title: Segment Operator
                                  description: The id for the static segment.
                                  example: 48433
                            - type: object
                              title: Location-Based Segment
                              description: Segment by a specific country or US state.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: IPGeoCountryState
                                  enum:
                                  - IPGeoCountryState
                                field:
                                  type: string
                                  enum:
                                  - ipgeo
                                  title: Segment Field
                                  description: Segmenting subscribers who are within a specific location.
                                  example: ipgeo
                                op:
                                  type: string
                                  enum:
                                  - ipgeocountry
                                  - ipgeonotcountry
                                  - ipgeostate
                                  - ipgeonotstate
                                  title: Segment Operator
                                  description: Segment members who are within a specific country or US state.
                                  example: ipgeocountry
                                value:
                                  type: string
                                  title: Segment Data
                                  description: The two-letter country code or US state abbreviation.
                                  example: US
                            - type: object
                              title: Geolocation Segment
                              description: Segment by a specific geographic region.
                              required:
                              - field
                              - op
                              - value
                              - addr
                              - lat
                              - lng
                              properties:
                                condition_type:
                                  type: string
                                  x-value: IPGeoIn
                                  enum:
                                  - IPGeoIn
                                field:
                                  type: string
                                  enum:
                                  - ipgeo
                                  title: Segment Field
                                  description: Segmenting subscribers who are within a specific location.
                                  example: ipgeo
                                op:
                                  type: string
                                  enum:
                                  - ipgeoin
                                  - ipgeonotin
                                  title: Segment Operator
                                  description: Segment members who are within a specific geographic region.
                                  example: ipgeoin
                                value:
                                  type: integer
                                  title: Segment Data
                                  description: The radius of the target location.
                                  example: 42
                                addr:
                                  type: string
                                  title: Segment Location Address
                                  description: The address of the target location.
                                  example: Atlanta, GA, USA
                                lat:
                                  type: string
                                  title: Segment Location Latitude
                                  description: The latitude of the target location.
                                  example: '33.7489954'
                                lng:
                                  type: string
                                  title: Segment Location Longitude
                                  description: The longitude of the target location.
                                  example: '-84.3879824'
                            - type: object
                              title: US Zip Code Segment
                              description: Segment by a specific US ZIP code.
                              required:
                              - field
                              - op
                              - value
                              - extra
                              properties:
                                condition_type:
                                  type: string
                                  x-value: IPGeoInZip
                                  enum:
                                  - IPGeoInZip
                                field:
                                  type: string
                                  enum:
                                  - ipgeo
                                  title: Segment Field
                                  description: Segmenting subscribers who are within a specific location.
                                  example: ipgeo
                                op:
                                  type: string
                                  enum:
                                  - ipgeoinzip
                                  title: Segment Operator
                                  description: Segment members who are within a specific US zip code.
                                  example: ipgeoinzip
                                value:
                                  type: integer
                                  title: Segment Data
                                  description: The radius of the target location.
                                  example: 25
                                extra:
                                  type: integer
                                  title: Extra Data
                                  description: The zip code to segment against.
                                  example: 30318
                            - type: object
                              title: Unknown Location-Based Segment
                              description: Segment members whose location information is unknown.
                              required:
                              - field
                              - op
                              properties:
                                condition_type:
                                  type: string
                                  x-value: IPGeoUnknown
                                  enum:
                                  - IPGeoUnknown
                                field:
                                  type: string
                                  enum:
                                  - ipgeo
                                  title: Segment Field
                                  description: Segmenting subscribers who are within a specific location.
                                  example: ipgeo
                                op:
                                  type: string
                                  enum:
                                  - ipgeounknown
                                  title: Segment Operator
                                  description: Segment members for which location information is unknown.
                                  example: ipgeounknown
                            - type: object
                              title: Zip Code Location-Based Segment
                              description: Segment by a specific US ZIP code.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: IPGeoZip
                                  enum:
                                  - IPGeoZip
                                field:
                                  type: string
                                  enum:
                                  - ipgeo
                                  title: Segment Field
                                  description: Segmenting subscribers who are within a specific location.
                                  example: ipgeo
                                op:
                                  type: string
                                  enum:
                                  - ipgeoiszip
                                  - ipgeonotzip
                                  title: Segment Operator
                                  description: Segment members who are/are not within a specific US zip code.
                                  example: ipgeonotzip
                                value:
                                  type: integer
                                  title: Segment Data
                                  description: The 5-digit zip code.
                                  example: 30318
                            - type: object
                              title: Social Profiles Age Segment
                              description: Segment by age ranges in Social Profiles data.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: SocialAge
                                  enum:
                                  - SocialAge
                                field:
                                  type: string
                                  enum:
                                  - social_age
                                  title: Segment Field
                                  description: Segment by age ranges in Social Profiles data.
                                  example: social_age
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  title: Segment Operator
                                  description: Members who are/not the exact criteria listed.
                                  example: is
                                value:
                                  type: string
                                  enum:
                                  - 18-24
                                  - 25-34
                                  - 35-54
                                  - 55+
                                  title: Segment Operator
                                  description: The age range to segment.
                                  example: 35-54
                            - type: object
                              title: Social Profiles Gender Segment
                              description: Segment by listed gender in Social Profiles data.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: SocialGender
                                  enum:
                                  - SocialGender
                                field:
                                  type: string
                                  enum:
                                  - social_gender
                                  title: Segment Field
                                  description: Segment by listed gender in Social Profiles data.
                                  example: social_gender
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  title: Segment Operator
                                  description: Members who are/not the exact criteria listed.
                                  example: is
                                value:
                                  type: string
                                  enum:
                                  - male
                                  - female
                                  title: Segment Operator
                                  description: The Social Profiles gender to segment.
                                  example: female
                            - type: object
                              title: Social Profiles Influence Segment
                              description: Segment by influence rating in Social Profiles data.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: SocialInfluence
                                  enum:
                                  - SocialInfluence
                                field:
                                  type: string
                                  enum:
                                  - social_influence
                                  title: Segment Field
                                  description: Segment by influence rating in Social Profiles data.
                                  example: social_influence
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  - greater
                                  - less
                                  title: Segment Operator
                                  description: Members who have a rating that is/not or greater/less than the rating provided.
                                  example: greater
                                value:
                                  type: number
                                  title: Segment Operator
                                  description: The Social Profiles influence rating to segment.
                                  example: 2
                            - type: object
                              title: Social Profiles Social Network Segment
                              description: Segment by social network in Social Profiles data.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: SocialNetworkMember
                                  enum:
                                  - SocialNetworkMember
                                field:
                                  type: string
                                  enum:
                                  - social_network
                                  title: Segment Field
                                  description: Segment by social network in Social Profiles data.
                                  example: social_network
                                op:
                                  type: string
                                  enum:
                                  - member
                                  - notmember
                                  title: Segment Operator
                                  description: Members who are/not on a given social network.
                                  example: member
                                value:
                                  type: string
                                  enum:
                                  - twitter
                                  - facebook
                                  - linkedin
                                  - flickr
                                  - foursquare
                                  - lastfm
                                  - myspace
                                  - quora
                                  - vimeo
                                  - yelp
                                  - youtube
                                  title: Segment Operator
                                  description: The social network to segment against.
                                  example: twitter
                            - type: object
                              title: Social Profiles Social Network Follow Segment
                              description: Segment by social network in Social Profiles data.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: SocialNetworkFollow
                                  enum:
                                  - SocialNetworkFollow
                                field:
                                  type: string
                                  enum:
                                  - social_network
                                  title: Segment Field
                                  description: Segment by social network in Social Profiles data.
                                  example: social_network
                                op:
                                  type: string
                                  enum:
                                  - follow
                                  - notfollow
                                  title: Segment Operator
                                  description: Members who are/not following a linked account on a given social network.
                                  example: follow
                                value:
                                  type: string
                                  enum:
                                  - twitter_follow
                                  title: Segment Operator
                                  description: The social network to segment against.
                                  example: twitter_follow
                            - type: object
                              title: Address Merge Field Segment
                              description: Segment by an address-type merge field.
                              required:
                              - field
                              - op
                              properties:
                                condition_type:
                                  type: string
                                  x-value: AddressMerge
                                  enum:
                                  - AddressMerge
                                field:
                                  type: string
                                  title: Segment Field
                                  description: An address-type merge field to segment.
                                  example: MMERGE3
                                op:
                                  type: string
                                  enum:
                                  - contains
                                  - notcontain
                                  - blank
                                  - blank_not
                                  title: Segment Operator
                                  description: Whether the member's address merge field contains/does not contain a value or is/is not blank.
                                  example: contains
                                value:
                                  type: string
                                  title: Segment Value
                                  description: The value to segment a text merge field with.
                                  example: Atlanta
                            - type: object
                              title: Address/Zip Merge Field Segment
                              description: Segment by an address-type merge field within a given distance.
                              required:
                              - field
                              - op
                              - value
                              - extra
                              properties:
                                condition_type:
                                  type: string
                                  x-value: ZipMerge
                                  enum:
                                  - ZipMerge
                                field:
                                  type: string
                                  title: Segment Field
                                  description: An address or zip-type merge field to segment.
                                  example: MMERGE2
                                op:
                                  type: string
                                  enum:
                                  - geoin
                                  title: Segment Operator
                                  description: Whether the member's address merge field is within a given distance from a city or zip.
                                  example: geoin
                                value:
                                  type: string
                                  title: Segment Value
                                  description: The distance from the city/zip.
                                  example: '25'
                                extra:
                                  type: string
                                  title: Segment Extra
                                  description: The city or the zip being used to segment against.
                                  example: '30318'
                            - type: object
                              title: Birthday Merge Field Segment
                              description: Segment by a contact's birthday.
                              required:
                              - field
                              - op
                              properties:
                                condition_type:
                                  type: string
                                  x-value: BirthdayMerge
                                  enum:
                                  - BirthdayMerge
                                field:
                                  type: string
                                  title: Segment Field
                                  description: A date merge field to segment.
                                  example: MMERGE4
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  - blank
                                  - blank_not
                                  title: Segment Operator
                                  description: Whether the member's birthday merge information is/is not a certain date or is/is not blank.
                                  example: is
                                value:
                                  type: string
                                  title: Segment Value
                                  description: A date to segment against (mm/dd).
                                  example: 01/30
                            - type: object
                              title: Date Merge Field Segment
                              description: Segment by a given date merge field.
                              required:
                              - field
                              - op
                              properties:
                                condition_type:
                                  type: string
                                  x-value: DateMerge
                                  enum:
                                  - DateMerge
                                field:
                                  type: string
                                  title: Segment Field
                                  description: A date merge field to segment.
                                  example: MMERGE5
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  - less
                                  - blank
                                  - blank_not
                                  - greater
                                  title: Segment Operator
                                  description: Whether the member's merge information is/is not, is greater/less than a value or is/is not blank.
                                  example: is
                                value:
                                  type: string
                                  title: Segment Value
                                  description: A date to segment against.
                                  example: 01/30/2015
                            - type: object
                              title: Dropdown/Radio Merge Field Segment
                              description: An individual segment condition
                              required:
                              - field
                              - op
                              properties:
                                condition_type:
                                  type: string
                                  x-value: SelectMerge
                                  enum:
                                  - SelectMerge
                                field:
                                  type: string
                                  title: Segment Field
                                  description: A merge field to segment.
                                  example: MMERGE6
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  - blank
                                  - blank_not
                                  - notcontain
                                  - contains
                                  title: Segment Operator
                                  description: Whether the member's merge information is/is not a value or is/is not blank.
                                  example: is
                                value:
                                  type: string
                                  title: Segment Value
                                  description: The value to segment a text merge field with.
                                  example: Second Choice
                            - type: object
                              title: Text or Number Merge Field Segment
                              description: Segment by a given text or number merge field.
                              required:
                              - field
                              - op
                              properties:
                                condition_type:
                                  type: string
                                  x-value: TextMerge
                                  enum:
                                  - TextMerge
                                field:
                                  type: string
                                  title: Segment Field
                                  description: A text or number merge field to segment.
                                  example: MMERGE7
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  - contains
                                  - notcontain
                                  - starts
                                  - ends
                                  - greater
                                  - less
                                  - blank
                                  - blank_not
                                  title: Segment Operator
                                  description: Whether the member's merge information is/is not, contains/does not contain, starts/ends with, or is greater/less than a value
                                  example: contains
                                value:
                                  type: string
                                  title: Segment Value
                                  description: The value to segment a text or number merge field with.
                                  example: Freddie's Jokes
                            - type: object
                              title: Email Segment
                              description: Segment by email address.
                              required:
                              - field
                              - op
                              properties:
                                condition_type:
                                  type: string
                                  x-value: EmailAddress
                                  enum:
                                  - EmailAddress
                                field:
                                  type: string
                                  enum:
                                  - merge0
                                  - EMAIL
                                  title: Segment Field
                                  description: Segmenting based off of a subscriber's email address.
                                  example: EMAIL
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  - contains
                                  - notcontain
                                  - starts
                                  - ends
                                  - greater
                                  - less
                                  title: Segment Operator
                                  description: Whether the email address is/not exactly, contains/doesn't contain, starts/ends with a string.
                                value:
                                  type: string
                                  title: Segment Value
                                  description: The value to compare the email against.
                                  example: urist.mcvankab@freddiesjokes.com
                            - type: object
                              title: Predicted Gender Segment
                              description: Segment by predicted gender.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: PredictedGender
                                  enum:
                                  - PredictedGender
                                field:
                                  type: string
                                  enum:
                                  - predicted_gender
                                  title: Segment Field
                                  description: Segment by predicted gender.
                                op:
                                  type: string
                                  enum:
                                  - is
                                  - not
                                  title: Segment Operator
                                  description: Members who are/not the exact criteria listed.
                                  example: is
                                value:
                                  type: string
                                  enum:
                                  - male
                                  - female
                                  title: Segment Operator
                                  description: The predicted gender to segment.
                                  example: female
                            - type: object
                              title: Predicted Age Segment
                              description: Segment by predicted age.
                              required:
                              - field
                              - op
                              - value
                              properties:
                                condition_type:
                                  type: string
                                  x-value: PredictedAge
                                  enum:
                                  - PredictedAge
                                field:
                                  type: string
                                  enum:
                                  - predicted_age_range
                                  title: Segment Field
                                  description: Segment by predicted age.
                                op:
                                  type: string
                                  enum:
                                  - is
                                  title: Segment Operator
                                  description: Members who are/not the exact criteria listed.
                                  example: is
                                value:
                                  type: string
                                  enum:
                                  - 18-24
                                  - 25-34
                                  - 35-44
                                  - 45-54
                                  - 55-64
                                  - 65+
                                  title: Segment Operator
                                  description: The predicted age to segment.
                                  example: female
                            - type: object
                              title: New Subscribers Prebuilt Segment
                              description: Segment by when people subscribed.
                              properties:
                                condition_type:
                                  type: string
                                  x-value: NewSubscribers
                                  enum:
                                  - NewSubscribers
                                field:
                                  type: string
                                  enum:
                                  - timestamp_opt
                                  title: Segment Field
                                  description: Segment by when people subscribed.
                                op:
                                  type: string
                                  enum:
                                  - date_within
                                  title: Segment Operator
                                  description: Whe the event took place, namely within a time frame.
                                value:
                                  type: string
                                  title: Segment Data
                                  description: 'What type of data to segment on: a specific date, a specific campaign, or the last campaign sent.'
                    list_id:
                      type: string
                      title: List ID
                      description: The list id.
                      readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
                title: Lists
                description: An array of objects, each representing a list segment.
              list_id:
                type: string
                title: List ID
                description: The list id.
                readOnly: true
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Segments
      x-custom-config:
        methodNameSnake: list_segments
        methodNameCamel: listSegments
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Mailchimp Add Segment
      description: Create a new segment in a specific list.
      operationId: postListsIdSegments
      parameters:
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: body
        in: body
        required: true
        schema:
          type: object
          title: List
          description: Information about a specific list segment.
          required:
          - name
          properties:
            name:
              type: string
              title: Segment Name
              description: The name of the segment.
            static_segment:
              type: array
              title: Static Segment
              description: An array of emails to be used for a static segment. Any emails provided that are not present on the list will be ignored. Passing an empty array will create a static segment without any subscribers. This field cannot be provided with the options field.
              items:
                type: string
            options:
              type: object
              title: Conditions
              description: The [conditions of the segment](https://mailchimp.com/help/save-and-manage-segments/). Static and fuzzy segments don't have conditions.
              properties:
                match:
                  type: string
                  title: Match
                  description: Match type.
                  enum:
                  - any
                  - all
                conditions:
                  type: array
                  title: Segment Type
                  description: Segment match conditions. There are multiple possible types, see the [condition types documentation](https://mailchimp.com/developer/marketing/docs/alternative-schemas/#segment-condition-schemas).
                  items:
                    x-discriminator:
                      type: string
                      propertyName: condition_type
                    x-oneOf:
                    - type: object
                      title: Aim Segment
                      description: Segment by interaction with a specific campaign.
                      properties:
                        condition_type:
                          type: string
                          x-value: Aim
                          enum:
                          - Aim
                        field:
                          type: string
                          enum:
                          - aim
                          title: Segment Field
                          description: Segment by interaction with a specific campaign.
                          example: aim
                        op:
                          type: string
                          enum:
                          - open
                          - click
                          - sent
                          - noopen
                          - noclick
                          - nosent
                          title: Segment Operator
                          description: 'The status of the member with regard to their campaign interaction. One of the following: opened, clicked, was sent, didn''t open, didn''t click, or was not sent.'
                          example: open
                        value:
                          type: string
                          title: Segment Data
                          description: Either the web id value for a specific campaign or 'any' to account for subscribers who have/have not interacted with any campaigns.
                          example: any
                    - type: object
                      title: Automation Segment
                      description: Segment by interaction with an Automation workflow.
                      required:
                      - field
                      - op
                      - value
                      properties:
                        condition_type:
                          type: string
                          x-value: Automation
                          enum:
                          - Automation
                        field:
                          type: string
                          enum:
                          - automation
                          title: Segment Field
                          description: Segment by interaction with an Automation workflow.
                          example: automation
                        op:
                          type: string
                          enum:
                          - started
                          - completed
                          - not_started
                          - not_completed
                          title: Segment Operator
                          description: 'The status of the member with regard to the automation workflow. One of the following: has started the workflow, has completed the workflow, has not started the workflow, or has not completed the workflow.'
                          example: started
                        value:
                          type: string
                          title: Segment Data
                          description: The web id for the automation workflow to segment against.
                          example: '2135217'
                    - type: object
                      title: Poll Activity Segment
                      description: Segment by poll activity.
                      required:
                      - field
                      - op
                      - value
                      properties:
                        condition_type:
                          type: string
                          x-value: CampaignPoll
                          enum:
                          - CampaignPoll
                        field:
                          type: string
                          enum:
                          - poll
                          title: Segment Field
                          description: Segment by poll activity.
                          example: poll
                        op:
                          type: string
                          enum:
                          - member
                          - notmember
                          title: Segment Operator
                          description: Members have/have not interacted with a specific poll in a Mailchimp email.
                          example: member
                        value:
                          type: number
                          title: Segment Operator
                          description: The id for the poll.
                          example: 409
                    - type: object
                      title: Conversation Segment
                      description: Segment by interaction with a campaign via Conversations.
                      required:
                      - field
                      - op
                      - value
                      properties:
                        condition_type:
                          type: string
                          x-value: Conversation
                          enum:
                          - Conversation
                        field:
                          type: string
                          enum:
                          - conversation
                          title: Segment Field
                          description: Segment by interaction with a campaign via Conversations.
                          example: conversation
                        op:
                          type: string
                          enum:
                          - member
                          - notmember
                          title: Segment Operator
                          description: 'The status of a member''s interaction with a conversation. One of the following: has replied or has not replied.'
                          example: member
                        value:
                          type: string
                          title: Segment Data
                          description: The web id value for a specific campaign or 'any' to account for subscribers who have/have not interacted with any campaigns.
                          example: any
                    - type: object
                      title: Date Segment
                      description: Segment by a specific date field.
                      required:
                      - field
                      - op
                      - value
                      properties:
                        condition_type:
                          type: string
                          x-value: Date
                          enum:
                          - Date
                        field:
                          type: string
                          enum:
                          - timestamp_opt
                          - info_changed
                          - ecomm_date
                          title: Segment Field
                          description: 'The type of date field to segment on: The opt-in time for a signup, the date the subscriber was last updated, or the date of their last ecomm purchase.'
                          example: timestamp_opt
                        op:
                          type: string
                          enum:
                          - greater
                          - less
                          - is
                          - not
                          - blank
                          - blank_not
                          - within
                          - notwithin
                          title: Segment Operator
                          description: 'When the event took place:  Before, after, is a specific date, is not a specific date, is blank, or is not blank.'
                          example: greater
                        value:
                          type: string
                          title: Segment Data
                          description: 'What type of data to segment on: a specific date, a specific campaign, or the last campaign sent.'
                          example: date
[...]
