swagger: '2.0'
info:
  version: 3.0.55
  title: Mailchimp Marketing Abuse Landing API
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json
  description: '

    The Mailchimp Marketing API provides programmatic access to Mailchimp data

    and functionality, allowing developers to build custom features to do

    things like sync email activity and campaign analytics with their

    database, manage audiences and campaigns, and more.'
host: server.api.mailchimp.com
basePath: /3.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/problem+json
security:
- basicAuth: []
tags:
- name: Landing
paths:
  /landing-pages:
    get:
      description: Get all landing pages.
      operationId: getAllLandingPages
      parameters:
      - name: sort_dir
        x-title: Sort Direction
        description: Determines the order direction for sorted results.
        in: query
        required: false
        type: string
        enum:
        - ASC
        - DESC
        example: example_value
      - name: sort_field
        x-title: Sort By Field
        description: Returns files sorted by the specified field.
        in: query
        required: false
        type: string
        enum:
        - created_at
        - updated_at
        example: example_value
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      responses:
        '200':
          description: Landing Pages Collection
          schema:
            type: object
            description: A collection of landing pages.
            properties:
              landing_pages:
                type: array
                description: The landing pages on the account
                items:
                  type: object
                  title: Landing Page
                  description: A summary of an individual landing page's settings and content.
                  properties:
                    id:
                      type: string
                      title: Landing Page ID
                      description: A string that uniquely identifies this landing page.
                      readOnly: true
                      example: 030092c2e1f0
                    name:
                      type: string
                      title: Landing Page Name
                      description: The name of this landing page.
                      readOnly: false
                    title:
                      type: string
                      title: Landing Page title
                      description: The title of this landing page seen in the browser's title bar.
                      readOnly: false
                    description:
                      type: string
                      title: Landing Page description
                      description: The description of this landing page.
                      readOnly: false
                    template_id:
                      type: integer
                      title: Landing Page template_id
                      description: The template_id of this landing page.
                      readOnly: true
                    status:
                      type: string
                      title: Landing Page status
                      description: The status of this landing page.
                      enum:
                      - published
                      - unpublished
                      - draft
                      readOnly: true
                    list_id:
                      type: string
                      title: Landing Page list id
                      description: The list's ID associated with this landing page.
                      example: fde02ad86b
                      readOnly: false
                    store_id:
                      type: string
                      title: Store ID
                      description: The ID of the store associated with this landing page.
                      readOnly: false
                    web_id:
                      type: integer
                      title: Landing Page Web ID
                      description: The ID used in the Mailchimp web application.
                    created_by_source:
                      type: string
                      title: Created By Source
                      description: Created by mobile or web
                      readOnly: true
                    url:
                      type: string
                      title: Published url
                      description: The url of the published landing page.
                      readOnly: true
                    created_at:
                      type: string
                      title: Created At
                      description: The time this landing page was created.
                      format: date-time
                      readOnly: true
                    published_at:
                      type: string
                      title: Published at
                      description: The time this landing page was published.
                      format: date-time
                      readOnly: true
                    unpublished_at:
                      type: string
                      title: Unpublished at
                      description: The time this landing page was unpublished.
                      format: date-time
                      readOnly: true
                    updated_at:
                      type: string
                      title: Updated_at
                      description: The time this landing page was updated at.
                      format: date-time
                      readOnly: true
                    tracking:
                      type: object
                      title: Tracking Settings
                      description: The tracking settings applied to this landing page.
                      properties:
                        track_with_mailchimp:
                          type: boolean
                          title: Track with Mailchimp
                          description: Use cookies to track unique visitors and calculate overall conversion rate. Learn more [here](https://mailchimp.com/help/use-track-mailchimp/).
                        enable_restricted_data_processing:
                          type: boolean
                          title: Enable restricted data processing
                          description: Google offers restricted data processing in connection with the California Consumer Privacy Act (CCPA) to restrict how Google uses certain identifiers and other data processed in the provision of its services. You can learn more about Google's restricted data processing within Google Ads [here](https://privacy.google.com/businesses/rdp/).
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: get_all
        methodNameCamel: getAll
      summary: Mailchimp List Landing Pages
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Mailchimp Add Landing Page
      description: Create a new Mailchimp landing page.
      parameters:
      - name: body
        in: body
        description: ''
        required: true
        schema:
          type: object
          title: Landing Page
          description: A summary of an individual page's properties.
          properties:
            name:
              type: string
              title: Landing Page Name
              description: The name of this landing page.
            title:
              type: string
              title: Landing Page title
              description: The title of this landing page seen in the browser's title bar.
            description:
              type: string
              title: Landing Page description
              description: The description of this landing page.
            store_id:
              type: string
              title: Store ID
              description: The ID of the store associated with this landing page.
            list_id:
              type: string
              title: Landing Page list id
              description: The list's ID associated with this landing page.
            type:
              type: string
              title: Landing Page Template Type
              description: The type of template the landing page has.
              enum:
              - signup
              - product
              example: signup
            template_id:
              type: integer
              title: Landing Page template_id
              description: The template_id of this landing page.
              example: 1001
            tracking:
              type: object
              title: Tracking Settings
              description: The tracking settings applied to this landing page.
              properties:
                track_with_mailchimp:
                  type: boolean
                  title: Track with Mailchimp
                  description: Use cookies to track unique visitors and calculate overall conversion rate. Learn more [here](https://mailchimp.com/help/use-track-mailchimp/).
                enable_restricted_data_processing:
                  type: boolean
                  title: Enable restricted data processing
                  description: Google offers restricted data processing in connection with the California Consumer Privacy Act (CCPA) to restrict how Google uses certain identifiers and other data processed in the provision of its services. You can learn more about Google's restricted data processing within Google Ads [here](https://privacy.google.com/businesses/rdp/).
        example: example_value
      - in: query
        name: use_default_list
        x-title: Use Default List
        type: boolean
        required: false
        description: Will create the Landing Page using the account's Default List instead of requiring a list_id.
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Landing Page
            description: A summary of an individual landing page's settings and content.
            properties:
              id:
                type: string
                title: Landing Page ID
                description: A string that uniquely identifies this landing page.
                readOnly: true
                example: 030092c2e1f0
              name:
                type: string
                title: Landing Page Name
                description: The name of this landing page.
                readOnly: false
              title:
                type: string
                title: Landing Page title
                description: The title of this landing page seen in the browser's title bar.
                readOnly: false
              description:
                type: string
                title: Landing Page description
                description: The description of this landing page.
                readOnly: false
              template_id:
                type: integer
                title: Landing Page template_id
                description: The template_id of this landing page.
                readOnly: true
              status:
                type: string
                title: Landing Page status
                description: The status of this landing page.
                enum:
                - published
                - unpublished
                - draft
                readOnly: true
              list_id:
                type: string
                title: Landing Page list id
                description: The list's ID associated with this landing page.
                example: fde02ad86b
                readOnly: false
              store_id:
                type: string
                title: Store ID
                description: The ID of the store associated with this landing page.
                readOnly: false
              web_id:
                type: integer
                title: Landing Page Web ID
                description: The ID used in the Mailchimp web application.
              created_by_source:
                type: string
                title: Created By Source
                description: Created by mobile or web
                readOnly: true
              url:
                type: string
                title: Published url
                description: The url of the published landing page.
                readOnly: true
              created_at:
                type: string
                title: Created At
                description: The time this landing page was created.
                format: date-time
                readOnly: true
              published_at:
                type: string
                title: Published at
                description: The time this landing page was published.
                format: date-time
                readOnly: true
              unpublished_at:
                type: string
                title: Unpublished at
                description: The time this landing page was unpublished.
                format: date-time
                readOnly: true
              updated_at:
                type: string
                title: Updated_at
                description: The time this landing page was updated at.
                format: date-time
                readOnly: true
              tracking:
                type: object
                title: Tracking Settings
                description: The tracking settings applied to this landing page.
                properties:
                  track_with_mailchimp:
                    type: boolean
                    title: Track with Mailchimp
                    description: Use cookies to track unique visitors and calculate overall conversion rate. Learn more [here](https://mailchimp.com/help/use-track-mailchimp/).
                  enable_restricted_data_processing:
                    type: boolean
                    title: Enable restricted data processing
                    description: Google offers restricted data processing in connection with the California Consumer Privacy Act (CCPA) to restrict how Google uses certain identifiers and other data processed in the provision of its services. You can learn more about Google's restricted data processing within Google Ads [here](https://privacy.google.com/businesses/rdp/).
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: create
        methodNameCamel: create
      operationId: postAllLandingPages
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /landing-pages/{page_id}:
    get:
      summary: Mailchimp Get Landing Page Info
      description: Get information about a specific page.
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - in: path
        name: page_id
        x-title: Landing Page unique ID
        type: string
        required: true
        description: The unique id for the page.
        example: '500123'
      responses:
        '200':
          description: Landing Pages Instance
          schema:
            type: object
            title: Landing Page
            description: A summary of an individual landing page's settings and content.
            properties:
              id:
                type: string
                title: Landing Page ID
                description: A string that uniquely identifies this landing page.
                readOnly: true
                example: 030092c2e1f0
              name:
                type: string
                title: Landing Page Name
                description: The name of this landing page.
                readOnly: false
              title:
                type: string
                title: Landing Page title
                description: The title of this landing page seen in the browser's title bar.
                readOnly: false
              description:
                type: string
                title: Landing Page description
                description: The description of this landing page.
                readOnly: false
              template_id:
                type: integer
                title: Landing Page template_id
                description: The template_id of this landing page.
                readOnly: true
              status:
                type: string
                title: Landing Page status
                description: The status of this landing page.
                enum:
                - published
                - unpublished
                - draft
                readOnly: true
              list_id:
                type: string
                title: Landing Page list id
                description: The list's ID associated with this landing page.
                example: fde02ad86b
                readOnly: false
              store_id:
                type: string
                title: Store ID
                description: The ID of the store associated with this landing page.
                readOnly: false
              web_id:
                type: integer
                title: Landing Page Web ID
                description: The ID used in the Mailchimp web application.
              created_by_source:
                type: string
                title: Created By Source
                description: Created by mobile or web
                readOnly: true
              url:
                type: string
                title: Published url
                description: The url of the published landing page.
                readOnly: true
              created_at:
                type: string
                title: Created At
                description: The time this landing page was created.
                format: date-time
                readOnly: true
              published_at:
                type: string
                title: Published at
                description: The time this landing page was published.
                format: date-time
                readOnly: true
              unpublished_at:
                type: string
                title: Unpublished at
                description: The time this landing page was unpublished.
                format: date-time
                readOnly: true
              updated_at:
                type: string
                title: Updated_at
                description: The time this landing page was updated at.
                format: date-time
                readOnly: true
              tracking:
                type: object
                title: Tracking Settings
                description: The tracking settings applied to this landing page.
                properties:
                  track_with_mailchimp:
                    type: boolean
                    title: Track with Mailchimp
                    description: Use cookies to track unique visitors and calculate overall conversion rate. Learn more [here](https://mailchimp.com/help/use-track-mailchimp/).
                  enable_restricted_data_processing:
                    type: boolean
                    title: Enable restricted data processing
                    description: Google offers restricted data processing in connection with the California Consumer Privacy Act (CCPA) to restrict how Google uses certain identifiers and other data processed in the provision of its services. You can learn more about Google's restricted data processing within Google Ads [here](https://privacy.google.com/businesses/rdp/).
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: get_page
        methodNameCamel: getPage
      operationId: getLandingPageId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Mailchimp Update Landing Page
      description: Update a landing page.
      parameters:
      - in: path
        name: page_id
        x-title: Landing Page unique ID
        type: string
        required: true
        description: The unique id for the page.
        example: '500123'
      - name: body
        in: body
        description: ''
        required: true
        schema:
          type: object
          title: Landing Page
          description: A summary of an individual page's properties.
          properties:
            name:
              type: string
              title: Landing Page Name
              description: The name of this landing page.
            title:
              type: string
              title: Landing Page title
              description: The title of this landing page seen in the browser's title bar.
            description:
              type: string
              title: Landing Page description
              description: The description of this landing page.
            store_id:
              type: string
              title: Store ID
              description: The ID of the store associated with this landing page.
            list_id:
              type: string
              title: Landing Page list id
              description: The list's ID associated with this landing page.
            tracking:
              type: object
              title: Tracking Settings
              description: The tracking settings applied to this landing page.
              properties:
                track_with_mailchimp:
                  type: boolean
                  title: Track with Mailchimp
                  description: Use cookies to track unique visitors and calculate overall conversion rate. Learn more [here](https://mailchimp.com/help/use-track-mailchimp/).
                enable_restricted_data_processing:
                  type: boolean
                  title: Enable restricted data processing
                  description: Google offers restricted data processing in connection with the California Consumer Privacy Act (CCPA) to restrict how Google uses certain identifiers and other data processed in the provision of its services. You can learn more about Google's restricted data processing within Google Ads [here](https://privacy.google.com/businesses/rdp/).
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Landing Page
            description: A summary of an individual landing page's settings and content.
            properties:
              id:
                type: string
                title: Landing Page ID
                description: A string that uniquely identifies this landing page.
                readOnly: true
                example: 030092c2e1f0
              name:
                type: string
                title: Landing Page Name
                description: The name of this landing page.
                readOnly: false
              title:
                type: string
                title: Landing Page title
                description: The title of this landing page seen in the browser's title bar.
                readOnly: false
              description:
                type: string
                title: Landing Page description
                description: The description of this landing page.
                readOnly: false
              template_id:
                type: integer
                title: Landing Page template_id
                description: The template_id of this landing page.
                readOnly: true
              status:
                type: string
                title: Landing Page status
                description: The status of this landing page.
                enum:
                - published
                - unpublished
                - draft
                readOnly: true
              list_id:
                type: string
                title: Landing Page list id
                description: The list's ID associated with this landing page.
                example: fde02ad86b
                readOnly: false
              store_id:
                type: string
                title: Store ID
                description: The ID of the store associated with this landing page.
                readOnly: false
              web_id:
                type: integer
                title: Landing Page Web ID
                description: The ID used in the Mailchimp web application.
              created_by_source:
                type: string
                title: Created By Source
                description: Created by mobile or web
                readOnly: true
              url:
                type: string
                title: Published url
                description: The url of the published landing page.
                readOnly: true
              created_at:
                type: string
                title: Created At
                description: The time this landing page was created.
                format: date-time
                readOnly: true
              published_at:
                type: string
                title: Published at
                description: The time this landing page was published.
                format: date-time
                readOnly: true
              unpublished_at:
                type: string
                title: Unpublished at
                description: The time this landing page was unpublished.
                format: date-time
                readOnly: true
              updated_at:
                type: string
                title: Updated_at
                description: The time this landing page was updated at.
                format: date-time
                readOnly: true
              tracking:
                type: object
                title: Tracking Settings
                description: The tracking settings applied to this landing page.
                properties:
                  track_with_mailchimp:
                    type: boolean
                    title: Track with Mailchimp
                    description: Use cookies to track unique visitors and calculate overall conversion rate. Learn more [here](https://mailchimp.com/help/use-track-mailchimp/).
                  enable_restricted_data_processing:
                    type: boolean
                    title: Enable restricted data processing
                    description: Google offers restricted data processing in connection with the California Consumer Privacy Act (CCPA) to restrict how Google uses certain identifiers and other data processed in the provision of its services. You can learn more about Google's restricted data processing within Google Ads [here](https://privacy.google.com/businesses/rdp/).
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: update_page
        methodNameCamel: updatePage
      operationId: patchLandingPageId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Mailchimp Delete Landing Page
      description: Delete a landing page.
      parameters:
      - in: path
        name: page_id
        x-title: Landing Page unique ID
        type: string
        required: true
        description: The unique id for the page.
        example: '500123'
      responses:
        '204':
          description: Empty Response
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: delete_page
        methodNameCamel: deletePage
      operationId: deleteLandingPageId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /landing-pages/{page_id}/actions/publish:
    post:
      summary: Mailchimp Publish Landing Page
      description: Publish a landing page that is in draft, unpublished, or has been previously published and edited.
      parameters:
      - in: path
        name: page_id
        x-title: Landing Page unique ID
        type: string
        required: true
        description: The unique id for the page.
        example: '500123'
      responses:
        '204':
          description: Empty Response
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: publish_page
        methodNameCamel: publishPage
      operationId: postLandingPageIdActionsPublish
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /landing-pages/{page_id}/actions/unpublish:
    post:
      summary: Mailchimp Unpublish Landing Page
      description: Unpublish a landing page that is in draft or has been published.
      parameters:
      - in: path
        name: page_id
        x-title: Landing Page unique ID
        type: string
        required: true
        description: The unique id for the page.
        example: '500123'
      responses:
        '204':
          description: Empty Response
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: unpublish_page
        methodNameCamel: unpublishPage
      operationId: postLandingPageIdActionsUnpublish
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /landing-pages/{page_id}/content:
    get:
      summary: Mailchimp Get Landing Page Content
      description: Get the the HTML for your landing page.
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - in: path
        name: page_id
        x-title: Landing Page unique ID
        type: string
        required: true
        description: The unique id for the page.
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Landing Page Content
            description: The HTML content for a landing page.
            properties:
              html:
                type: string
                title: Landing Page HTML
                description: The raw HTML for the landing page.
              json:
                type: string
                title: Landing Page JSON
                description: The JSON Structure for the landing page
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: get_page_content
        methodNameCamel: getPageContent
      operationId: getLandingPageIdContent
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /reporting/landing-pages/{outreach_id}:
    get:
      description: Get report of a landing page.
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - in: path
        name: outreach_id
        x-title: Outreach ID
        type: string
        required: true
        description: The outreach id.
        example: '500123'
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      responses:
        '200':
          description: Landing Page Report Instance
          schema:
            type: object
            title: Landing Page Report
            description: A summary of an individual landing page's settings and content.
            properties:
              id:
                type: string
                title: Landing Page ID
                description: A string that uniquely identifies this landing page.
                readOnly: true
                example: 00dfc2e1f0
              name:
                type: string
                title: Name
                description: The name of this landing page the user will see.
                readOnly: true
              title:
                type: string
                title: Title
                description: The name of the landing page the user's customers will see.
                readOnly: true
              url:
                type: string
                title: Url
                description: The landing page url.
                readOnly: true
              published_at:
                type: string
                title: Published At
                description: The time this landing page was published.
                format: date-time
                readOnly: true
              unpublished_at:
                type: string
                title: Unpublished At
                description: The time this landing page was unpublished.
                format: date-time
                readOnly: true
              status:
                type: string
                title: Status
                description: The status of the landing page.
                readOnly: true
              list_id:
                type: string
                title: List Id
                description: The list id connected to this landing page.
                readOnly: true
              visits:
                type: integer
                title: Visits
                description: The number of visits to this landing pages.
                readOnly: true
              unique_visits:
                type: integer
                title: Unique Visits
                description: The number of unique visits to this landing pages.
                readOnly: true
              subscribes:
                type: integer
                title: Subscribes
                description: The number of subscribes to this landing pages.
                readOnly: true
              clicks:
                type: integer
                title: Clicks
                description: The number of clicks to this landing pages.
                readOnly: true
              conversion_rate:
                type: number
                title: Conversion rate
                description: The percentage of people who visited your landing page and were added to your list.
                readOnly: true
              timeseries:
                type: object
                properties:
                  daily_stats:
                    type: object
                    title: Daily clicks and visits data
                    description: The clicks and visits data from the last seven days.
                    readOnly: true
                    properties:
                      clicks:
                        type: array
                        title: Clicks
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              title: Date
                              readOnly: true
                              example: '2018-04-25'
                            val:
                              type: integer
                              title: Value
                              readOnly: true
                              example: 13
                      visits:
                        type: array
                        title: Visits
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              title: Date
                              readOnly: true
                              example: '2018-04-25'
                            val:
                              type: integer
                              title: Value
                              readOnly: true
                              example: 11
                      unique_visits:
                        type: array
                        title: Unique Visits
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              title: Date
                              readOnly: true
                              example: '2018-04-25'
                            val:
                              type: integer
                              title: Value
                              readOnly: true
                              example: 1
                  weekly_stats:
                    type: object
                    title: Weekly clicks and visits data
                    description: The clicks and visits data from the last five weeks.
                    readOnly: true
                    properties:
                      clicks:
                        type: array
                        title: Clicks
                        description: The total number of clicks in a week.
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              title: Date
                              readOnly: true
                              example: '2018-04-25'
                            val:
                              type: integer
                              title: Value
                              readOnly: true
                              example: 23
                      visits:
                        type: array
                        title: Visits
                        description: The total number of visits in a week.
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              title: Date
                              readOnly: true
                              example: '2018-04-25'
                            val:
                              type: integer
                              title: Value
                              readOnly: true
                              example: 49
                      unique_visits:
                        type: array
                        title: Unique Visits
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              title: Date
                              readOnly: true
                              example: '2018-04-25'
                            val:
                              type: integer
                              title: Value
                              readOnly: true
                              example: 1
              ecommerce:
                type: object
                properties:
                  total_revenue:
                    type: number
                    title: Total Revenue
                    description: The total revenue of this landing page.
                    readOnly: true
                  currency_code:
                    type: string
                    title: Currency code
                    description: The user's currency code.
                    readOnly: true
                  total_orders:
                    type: integer
                    title: Total Orders
                    description: The total number of orders associated with this landing page.
                    readOnly: true
                  average_order_revenue:
                    type: number
                    title: Average Order Revenue
                    description: The average order revenue of this landing page.
                    readOnly: true
              web_id:
                type: integer
                title: Landing Page Web ID
                description: The ID used in the Mailchimp web application.
                readOnly: true
                example: 33345484
              list_name:
                type: string
                title: List Name
                description: List Name
                readOnly: true
                example: Test List
              signup_tags:
                type: array
                title: Signup Tags
                description: A list of tags associated to the landing page.
                readOnly: true
                items:
                  type: object
                  title: Tag
                  properties:
                    tag_id:
                      type: integer
                      title: Tag ID
                      description: The unique id for the tag.
                      readOnly: true
                    tag_name:
                      type: string
                      title: Tag Name
                      description: The name of the tag.
                      readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: get_landing_page_report
        methodNameCamel: getLandingPageReport
      summary: Mailchimp Get Landing Page Report
      operationId: getReportingLandingPagesId
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /reporting/landing-pages:
    get:
      description: Get reports of landing pages.
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      responses:
        '200':
          description: List of Landing Page Report Instances
          schema:
            type: object
            description: A collection of landing pages.
            properties:
              landing_pages:
                type: array
                items:
                  type: object
                  title: Landing Page Report
                  description: A summary of an individual landing page's settings and content.
                  properties:
                    id:
                      type: string
                      title: Landing Page ID
                      description: A string that uniquely identifies this landing page.
                      readOnly: true
                      example: 00dfc2e1f0
                    name:
                      type: string
                      title: Name
                      description: The name of this landing page the user will see.
                      readOnly: true
                    title:
                      type: string
                      title: Title
                      description: The name of the landing page the user's customers will see.
                      readOnly: true
                    url:
                      type: string
                      title: Url
                      description: The landing page url.
                      readOnly: true
                    published_at:
                      type: string
                      title: Published At
                      description: The time this landing page was published.
                      format: date-time
                      readOnly: true
                    unpublished_at:
                      type: string
                      title: Unpublished At
                      description: The time this landing page was unpublished.
                      format: date-time
                      readOnly: true
                    status:
                      type: string
                      title: Status
                      description: The status of the landing page.
                      readOnly: true
                    list_id:
                      type: string
                      title: List Id
                      description: The list id connected to this landing page.
                      readOnly: true
                    visits:
                      type: integer
                      title: Visits
                      description: The number of visits to this landing pages.
                      readOnly: true
                    unique_visits:
                      type: integer
                      title: Unique Visits
                      description: The number of unique visits to this landing pages.
                      readOnly: true
                    subscribes:
                      type: integer
                      title: Subscribes
                      description: The number of subscribes to this landing pages.
                      readOnly: true
                    clicks:
                      type: integer
                      title: Clicks
                      description: The number of clicks to this landing pages.
                      readOnly: true
                    conversion_rate:
                      type: number
                      title: Conversion rate
                      description: The percentage of people who visited your landing page and were added to your list.
                      readOnly: true
                    timeseries:
                      type: object
                      properties:
                        daily_stats:
                          type: object
                          title: Daily clicks and visits data
                          description: The clicks and visits data from the last seven days.
                          readOnly: true
                          properties:
                            clicks:
                              type: array
                              title: Clicks
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                    title: Date
                                    readOnly: true
                                    example: '2018-04-25'
                                  val:
                                    type: integer
                                    title: Value
                                    readOnly: true
                                    example: 13
                            visits:
                              type: array
                              title: Visits
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                    title: Date
                                    readOnly: true
                                    example: '2018-04-25'
                                  val:
                                    type: integer
                                    title: Value
                                    readOnly: true
                                    example: 11
                            unique_visits:
                              type: array
                              title: Unique Visits
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                    title: Date
                                    readOnly: true
                                    example: '2018-04-25'
                                  val:
                                    type: integer
                                    title: Value
                                    readOnly: true
                                    example: 1
                        weekly_stats:
                          type: object
                          title: Weekly clicks and visits data
                          description: The clicks and visits data from the last five weeks.
                          readOnly: true
                          properties:
                            clicks:
                              type: array
                              title: Clicks
                              description: The total number of clicks in a week.
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                    title: Date
                                    readOnly: true
                                    example: '2018-04-25'
                                  val:
                                    type: integer
                                    title: Value
                                    readOnly: true
                                    example: 23
                            visits:
                              type: array
                              title: Visits
                              description: The total number of visits in a week.
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                    title: Date
                                    readOnly: true
                                    example: '2018-04-25'
                                  val:
                                    type: integer
                                    title: Value
                                    readOnly: true
                                    example: 49
                            unique_visits:
                              type: array
                              title: Unique Visits
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                    title: Date
                                    readOnly: true
                                    example: '2018-04-25'
                                  val:
                                    type: integer
                                    title: Value
                                    readOnly: true
                                    example: 1
                    ecommerce:
                      type: object
                      properties:
                        total_revenue:
                          type: number
                          title: Total Revenue
                          description: The total revenue of this landing page.
                          readOnly: true
                        currency_code:
                          type: string
                          title: Currency code
                          description: The user's currency code.
                          readOnly: true
                        total_orders:
                          type: integer
                          title: Total Orders
                          description: The total number of orders associated with this landing page.
                          readOnly: true
                        average_order_revenue:
                          type: number
                          title: Average Order Revenue
                          description: The average order revenue of this landing page.
                          readOnly: true
                    web_id:
                      type: integer
                      title: Landing Page Web ID
                      description: The ID used in the Mailchimp web application.
                      readOnly: true
                      example: 33345484
                    list_name:
                      type: string
                      title: List Name
                      description: List Name
                      readOnly: true
                      example: Test List
                    signup_tags:
                      type: array
                      title: Signup Tags
                      description: A list of tags associated to the landing page.
                      readOnly: true
                      items:
                        type: object
                        title: Tag
                        properties:
                          tag_id:
                            type: integer
                            title: Tag ID
                            description: The unique id for the tag.
                            readOnly: true
                          tag_name:
                            type: string
                            title: Tag Name
                            description: The name of the tag.
                            readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      tags:
      - Landing
      x-custom-config:
        methodNameSnake: get_landing_page_reports_all
        methodNameCamel: getLandingPageReportsAll
      summary: Mailchimp List Landing Pages Reports
      operationId: getReportingLandingPages
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
securityDefinitions:
  basicAuth:
    type: basic
externalDocs:
  description: Learn more with the full Mailchimp API documentation.
  url: https://mailchimp.com/developer/marketing/
x-doc-structure:
  resources:
    root:
      title: API Root
      description: The API root resource links to all other resources available in the API. Calling the root directory also returns details about the Mailchimp user account.
      paths:
      - /
      subResources: []
    chimp-chatter:
      title: Chimp Chatter Activity
      description: Get the latest Chimp Chatter activity from your account.
      paths:
      - /activity-feed/chimp-chatter
    authorized-apps:
      title: Authorized Apps
      description: Manage registered, connected apps for your Mailchimp account with the Authorized Apps endpoints.
      paths:
      - /authorized-apps
      - /authorized-apps/{app_id}
    automation:
      title: Automations
      description: Mailchimp's classic automations feature lets you build a series of emails that send to subscribers when triggered by a specific date, activity, or event. Use the API to manage Automation workflows, emails, and queues. Does not include Customer Journeys.
      paths:
      - /automations
      - /automations/{workflow_id}
      - /automations/{workflow_id}/actions/start-all-emails
      - /automations/{workflow_id}/actions/pause-all-emails
      - /automations/{workflow_id}/actions/archive
      subResources:
      - automation-email
      - automation-removed-subscribers
    automation-email:
      title: Emails
      description: Manage individual emails in a classic automation workflow.
      paths:
      - /automations/{workflow_id}/emails
      - /automations/{workflow_id}/emails/{workflow_email_id}
      - /automations/{workflow_id}/emails/{workflow_email_id}/actions/pause
      - /automations/{workflow_id}/emails/{workflow_email_id}/actions/start
      subResources:
      - automation-email-queue
    automation-email-queue:
      title: Queue
      description: Manage list member queues for classic automation emails.
      paths:
      - /automations/{workflow_id}/emails/{workflow_email_id}/queue
      - /automations/{workflow_id}/emails/{workflow_email_id}/queue/{subscriber_hash}
      subResources: []
    automation-removed-subscribers:
      title: Removed Subscribers
      description: Remove subscribers from a classic automation workflow.
      paths:
      - /automations/{workflow_id}/removed-subscribers
      - /automations/{workflow_id}/removed-subscribers/{subscriber_hash}
      subResources: []
    batch-operations:
      title: Batch Operations
      description: Use batch operations to complete multiple operations with a single call.
      paths:
      - /batches
      - /batches/{batch_id}
    batch-webhooks:
      title: Batch Webhooks
      description: 'Manage webhooks for batch operations. '
      paths:
      - /batch-webhooks
      - /batch-webhooks/{batch_webhook_id}
    account-exports:
      title: Account Exports
      description: Generate a new export or download a finished export.
      paths:
      - /account-exports
      - /account-exports/{export_id}
    campaigns:
      title: Campaigns
      description: Campaigns are how you send emails to your Mailchimp list. Use the Campaigns API calls to manage campaigns in your Mailchimp account.
      paths:
      - /campaigns
      - /campaigns/{campaign_id}
      - /campaigns/{campaign_id}/actions/cancel-send
      - /campaigns/{campaign_id}/actions/send
      - /campaigns/{campaign_id}/actions/schedule
      - /campaigns/{campaign_id}/actions/unschedule
      - /campaigns/{campaign_id}/actions/pause
      - /campaigns/{campaign_id}/actions/resume
      - /campaigns/{campaign_id}/actions/replicate
      - /campaigns/{campaign_id}/actions/test
      - /campaigns/{campaign_id}/actions/create-resend
      subResources:
      - campaign-feedback
      - campaign-checklist
      - campaign-content
    campaign-feedback:
      title: Feedback
      description: Post comments, reply to team feedback, and send test emails while you're working together on a Mailchimp campaign.
      paths:
      - /campaigns/{campaign_id}/feedback
[...]
