swagger: '2.0'
info:
  version: 3.0.55
  title: Mailchimp Marketing Abuse Members API
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json
  description: '

    The Mailchimp Marketing API provides programmatic access to Mailchimp data

    and functionality, allowing developers to build custom features to do

    things like sync email activity and campaign analytics with their

    database, manage audiences and campaigns, and more.'
host: server.api.mailchimp.com
basePath: /3.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/problem+json
security:
- basicAuth: []
tags:
- name: Members
paths:
  /lists/{list_id}/segments/{segment_id}/members:
    get:
      summary: Mailchimp List Members in Segment
      description: Get information about members in a saved segment.
      operationId: getListsIdSegmentsIdMembers
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: segment_id
        x-title: Segment ID
        in: path
        description: The unique id for the segment.
        required: true
        type: string
        example: '500123'
      - name: include_cleaned
        in: query
        x-title: Include Cleaned
        description: Include cleaned members in response
        required: false
        type: boolean
        x-example: false
        example: example_value
      - name: include_transactional
        in: query
        x-title: Include Transactional
        description: Include transactional members in response
        required: false
        type: boolean
        x-example: false
        example: example_value
      - name: include_unsubscribed
        in: query
        x-title: Include Unsubscribed
        description: Include unsubscribed members in response
        required: false
        type: boolean
        x-example: false
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Segment Members
            description: View members in a specific list segment.
            properties:
              members:
                type: array
                items:
                  type: object
                  title: List Members
                  description: Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.
                  properties:
                    id:
                      type: string
                      title: Email ID
                      description: The MD5 hash of the lowercase version of the list member's email address.
                      readOnly: true
                    email_address:
                      type: string
                      title: Email Address
                      description: Email address for a subscriber.
                      readOnly: true
                    full_name:
                      type: string
                      title: Full Name
                      description: The contact's full name.
                      readOnly: true
                    unique_email_id:
                      type: string
                      title: Unique Email ID
                      description: An identifier for the address across all of Mailchimp.
                      readOnly: true
                    email_type:
                      type: string
                      title: Email Type
                      description: Type of email this member asked to get ('html' or 'text').
                    status:
                      type: string
                      title: Status
                      description: Subscriber's current status.
                      enum:
                      - subscribed
                      - unsubscribed
                      - cleaned
                      - pending
                      - transactional
                    merge_fields:
                      type: object
                      title: Merge Fields
                      description: A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.
                      additionalProperties:
                        description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
                    interests:
                      type: object
                      title: Subscriber Interests
                      description: The key of this object's properties is the ID of the interest in question.
                      additionalProperties:
                        type: boolean
                        title: Interest Value
                        description: Keys are interest IDs, values are booleans that describe whether the list member is in that group or not.
                    stats:
                      type: object
                      title: Subscriber Stats
                      description: Open and click rates for this subscriber.
                      readOnly: true
                      properties:
                        avg_open_rate:
                          type: number
                          title: Average Open Rate
                          description: A subscriber's average open rate.
                          readOnly: true
                        avg_click_rate:
                          type: number
                          title: Average Click Rate
                          description: A subscriber's average clickthrough rate.
                          readOnly: true
                    ip_signup:
                      type: string
                      title: Signup IP
                      description: IP address the subscriber signed up from.
                      readOnly: true
                    timestamp_signup:
                      type: string
                      title: Signup Timestamp
                      description: The date and time the subscriber signed up for the list in ISO 8601 format.
                      format: date-time
                      readOnly: true
                    ip_opt:
                      type: string
                      title: Opt-in IP
                      description: The IP address the subscriber used to confirm their opt-in status.
                      readOnly: true
                    timestamp_opt:
                      type: string
                      title: Opt-in Timestamp
                      description: The date and time the subscriber confirmed their opt-in status in ISO 8601 format.
                      readOnly: true
                      format: date-time
                    member_rating:
                      type: integer
                      title: Member Rating
                      description: Star rating for this member, between 1 and 5.
                      readOnly: true
                    last_changed:
                      type: string
                      title: Last Changed Date
                      description: The date and time the member's info was last changed in ISO 8601 format.
                      readOnly: true
                      format: date-time
                    language:
                      type: string
                      title: Language
                      description: If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/).
                    vip:
                      type: boolean
                      title: VIP
                      description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
                    email_client:
                      type: string
                      title: Email Client
                      description: The list member's email client.
                      readOnly: true
                    location:
                      type: object
                      title: Location
                      description: Subscriber location information.
                      properties:
                        latitude:
                          type: number
                          title: Latitude
                          description: The location latitude.
                        longitude:
                          type: number
                          title: Longitude
                          description: The location longitude.
                        gmtoff:
                          type: integer
                          title: GMT Offset
                          description: The time difference in hours from GMT.
                          readOnly: true
                        dstoff:
                          type: integer
                          title: DST Offset
                          description: The offset for timezones where daylight saving time is observed.
                          readOnly: true
                        country_code:
                          type: string
                          title: Country Code
                          description: The unique code for the location country.
                          readOnly: true
                        timezone:
                          type: string
                          title: Timezone
                          description: The timezone for the location.
                          readOnly: true
                    last_note:
                      type: object
                      title: Notes
                      description: The most recent Note added about this member.
                      readOnly: true
                      properties:
                        note_id:
                          type: integer
                          title: Note ID
                          description: The note id.
                          readOnly: true
                        created_at:
                          type: string
                          title: Created Time
                          description: The date and time the note was created in ISO 8601 format.
                          format: date-time
                          readOnly: true
                        created_by:
                          type: string
                          title: Author
                          description: The author of the note.
                          readOnly: true
                        note:
                          type: string
                          title: Note
                          description: The content of the note.
                          readOnly: true
                    list_id:
                      type: string
                      title: List ID
                      description: The list id.
                      readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
                title: Members
                description: An array of objects, each representing a specific list member.
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Members
      x-custom-config:
        methodNameSnake: get_segment_members_list
        methodNameCamel: getSegmentMembersList
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Mailchimp Add Member to Segment
      description: Add a member to a static segment.
      operationId: postListsIdSegmentsIdMembers
      parameters:
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: segment_id
        x-title: Segment ID
        in: path
        description: The unique id for the segment.
        required: true
        type: string
        example: '500123'
      - name: body
        in: body
        description: ''
        required: true
        schema:
          type: object
          required:
          - email_address
          properties:
            email_address:
              type: string
              title: Email Address
              description: Email address for a subscriber.
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: List Members
            description: Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.
            properties:
              id:
                type: string
                title: Email ID
                description: The MD5 hash of the lowercase version of the list member's email address.
                readOnly: true
              email_address:
                type: string
                title: Email Address
                description: Email address for a subscriber.
                readOnly: true
              full_name:
                type: string
                title: Full Name
                description: The contact's full name.
                readOnly: true
              unique_email_id:
                type: string
                title: Unique Email ID
                description: An identifier for the address across all of Mailchimp.
                readOnly: true
              email_type:
                type: string
                title: Email Type
                description: Type of email this member asked to get ('html' or 'text').
              status:
                type: string
                title: Status
                description: Subscriber's current status.
                enum:
                - subscribed
                - unsubscribed
                - cleaned
                - pending
                - transactional
              merge_fields:
                type: object
                title: Merge Fields
                description: A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.
                additionalProperties:
                  description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
              interests:
                type: object
                title: Subscriber Interests
                description: The key of this object's properties is the ID of the interest in question.
                additionalProperties:
                  type: boolean
                  title: Interest Value
                  description: Keys are interest IDs, values are booleans that describe whether the list member is in that group or not.
              stats:
                type: object
                title: Subscriber Stats
                description: Open and click rates for this subscriber.
                readOnly: true
                properties:
                  avg_open_rate:
                    type: number
                    title: Average Open Rate
                    description: A subscriber's average open rate.
                    readOnly: true
                  avg_click_rate:
                    type: number
                    title: Average Click Rate
                    description: A subscriber's average clickthrough rate.
                    readOnly: true
              ip_signup:
                type: string
                title: Signup IP
                description: IP address the subscriber signed up from.
                readOnly: true
              timestamp_signup:
                type: string
                title: Signup Timestamp
                description: The date and time the subscriber signed up for the list in ISO 8601 format.
                format: date-time
                readOnly: true
              ip_opt:
                type: string
                title: Opt-in IP
                description: The IP address the subscriber used to confirm their opt-in status.
                readOnly: true
              timestamp_opt:
                type: string
                title: Opt-in Timestamp
                description: The date and time the subscriber confirmed their opt-in status in ISO 8601 format.
                readOnly: true
                format: date-time
              member_rating:
                type: integer
                title: Member Rating
                description: Star rating for this member, between 1 and 5.
                readOnly: true
              last_changed:
                type: string
                title: Last Changed Date
                description: The date and time the member's info was last changed in ISO 8601 format.
                readOnly: true
                format: date-time
              language:
                type: string
                title: Language
                description: If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/).
              vip:
                type: boolean
                title: VIP
                description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
              email_client:
                type: string
                title: Email Client
                description: The list member's email client.
                readOnly: true
              location:
                type: object
                title: Location
                description: Subscriber location information.
                properties:
                  latitude:
                    type: number
                    title: Latitude
                    description: The location latitude.
                  longitude:
                    type: number
                    title: Longitude
                    description: The location longitude.
                  gmtoff:
                    type: integer
                    title: GMT Offset
                    description: The time difference in hours from GMT.
                    readOnly: true
                  dstoff:
                    type: integer
                    title: DST Offset
                    description: The offset for timezones where daylight saving time is observed.
                    readOnly: true
                  country_code:
                    type: string
                    title: Country Code
                    description: The unique code for the location country.
                    readOnly: true
                  timezone:
                    type: string
                    title: Timezone
                    description: The timezone for the location.
                    readOnly: true
              last_note:
                type: object
                title: Notes
                description: The most recent Note added about this member.
                readOnly: true
                properties:
                  note_id:
                    type: integer
                    title: Note ID
                    description: The note id.
                    readOnly: true
                  created_at:
                    type: string
                    title: Created Time
                    description: The date and time the note was created in ISO 8601 format.
                    format: date-time
                    readOnly: true
                  created_by:
                    type: string
                    title: Author
                    description: The author of the note.
                    readOnly: true
                  note:
                    type: string
                    title: Note
                    description: The content of the note.
                    readOnly: true
              list_id:
                type: string
                title: List ID
                description: The list id.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Members
      x-custom-config:
        methodNameSnake: create_segment_member
        methodNameCamel: createSegmentMember
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lists/{list_id}/segments/{segment_id}/members/{subscriber_hash}:
    delete:
      summary: Mailchimp Remove List Member From Segment
      description: Remove a member from the specified static segment.
      operationId: deleteListsIdSegmentsIdMembersId
      parameters:
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: segment_id
        x-title: Segment ID
        in: path
        description: The unique id for the segment.
        required: true
        type: string
        example: '500123'
      - in: path
        name: subscriber_hash
        x-title: Subscriber Hash
        type: string
        required: true
        description: The MD5 hash of the lowercase version of the list member's email address.
        example: example_value
      responses:
        '204':
          description: Empty Response
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Members
      x-custom-config:
        methodNameSnake: remove_segment_member
        methodNameCamel: removeSegmentMember
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lists/{list_id}/members:
    get:
      summary: Mailchimp List Members Info
      description: Get information about members in a specific Mailchimp list.
      operationId: getListsIdMembers
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: email_type
        x-title: Email Type
        in: query
        required: false
        description: The email type.
        type: string
        example: user@example.com
      - name: status
        x-title: Subscriber Status
        in: query
        required: false
        description: The subscriber's status.
        type: string
        enum:
        - subscribed
        - unsubscribed
        - cleaned
        - pending
        - transactional
        - archived
        example: example_value
      - name: since_timestamp_opt
        x-title: Since Timestamp Opt
        in: query
        description: 'Restrict results to subscribers who opted-in after the set timeframe. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: example_value
      - name: before_timestamp_opt
        x-title: Before Timestamp Opt
        in: query
        description: 'Restrict results to subscribers who opted-in before the set timeframe. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: example_value
      - name: since_last_changed
        x-title: Since Last Changed
        in: query
        description: 'Restrict results to subscribers whose information changed after the set timeframe. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: example_value
      - name: before_last_changed
        x-title: Before Last Changed
        in: query
        description: 'Restrict results to subscribers whose information changed before the set timeframe. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: example_value
      - name: unique_email_id
        x-title: Unique Email ID
        in: query
        description: A unique identifier for the email address across all Mailchimp lists.
        required: false
        type: string
        example: user@example.com
      - name: vip_only
        x-title: VIP Only
        in: query
        description: A filter to return only the list's VIP members. Passing `true` will restrict results to VIP list members, passing `false` will return all list members.
        required: false
        type: boolean
        example: example_value
      - name: interest_category_id
        x-title: Interest Category ID
        in: query
        description: The unique id for the interest category.
        required: false
        type: string
        example: '500123'
      - name: interest_ids
        x-title: Interest Ids
        in: query
        required: false
        description: Used to filter list members by interests. Must be accompanied by interest_category_id and interest_match. The value must be a comma separated list of interest ids present for any supplied interest categories.
        type: string
        example: example_value
      - name: interest_match
        x-title: Interest Match
        in: query
        required: false
        enum:
        - any
        - all
        - none
        description: Used to filter list members by interests. Must be accompanied by interest_category_id and interest_ids. "any" will match a member with any of the interest supplied, "all" will only match members with every interest supplied, and "none" will match members without any of the interest supplied.
        type: string
        example: example_value
      - name: sort_field
        x-title: Sort By Field
        description: Returns files sorted by the specified field.
        in: query
        required: false
        type: string
        enum:
        - timestamp_opt
        - timestamp_signup
        - last_changed
        example: example_value
      - name: sort_dir
        x-title: Sort Direction
        description: Determines the order direction for sorted results.
        in: query
        required: false
        type: string
        enum:
        - ASC
        - DESC
        example: example_value
      - name: since_last_campaign
        x-title: Since Last Campaign
        in: query
        required: false
        description: Filter subscribers by those subscribed/unsubscribed/pending/cleaned since last email campaign send. Member status is required to use this filter.
        type: boolean
        example: example_value
      - name: unsubscribed_since
        x-title: Unsubscribed Since
        in: query
        required: false
        description: Filter subscribers by those unsubscribed since a specific date. Using any status other than unsubscribed with this filter will result in an error.
        type: string
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: List Members
            description: Manage members of a specific Mailchimp list, including currently subscribed, unsubscribed, and bounced members.
            properties:
              members:
                type: array
                items:
                  type: object
                  title: List Members
                  description: Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.
                  properties:
                    id:
                      type: string
                      title: Email ID
                      description: The MD5 hash of the lowercase version of the list member's email address.
                      readOnly: true
                    email_address:
                      type: string
                      title: Email Address
                      description: Email address for a subscriber.
                    unique_email_id:
                      type: string
                      title: Unique Email ID
                      description: An identifier for the address across all of Mailchimp.
                      readOnly: true
                    contact_id:
                      type: string
                      title: Contact ID
                      description: As Mailchimp evolves beyond email, you may eventually have contacts without email addresses. While the `id` is the MD5 hash of their email address, this `contact_id` is agnostic of contacts inclusion of an email address.
                      readOnly: true
                    full_name:
                      type: string
                      title: Full Name
                      description: The contact's full name.
                      readOnly: true
                    web_id:
                      type: integer
                      title: Member Web ID
                      description: The ID used in the Mailchimp web application. View this member in your Mailchimp account at `https://{dc}.admin.mailchimp.com/lists/members/view?id={web_id}`.
                      readOnly: true
                    email_type:
                      type: string
                      title: Email Type
                      description: Type of email this member asked to get ('html' or 'text').
                    status:
                      type: string
                      title: Status
                      description: Subscriber's current status.
                      enum:
                      - subscribed
                      - unsubscribed
                      - cleaned
                      - pending
                      - transactional
                      - archived
                    unsubscribe_reason:
                      type: string
                      title: Unsubscribe Reason
                      description: A subscriber's reason for unsubscribing.
                    consents_to_one_to_one_messaging:
                      type: boolean
                      title: Messaging Consent
                      description: Indicates whether a contact consents to 1:1 messaging.
                      readOnly: true
                    sms_phone_number:
                      type: string
                      title: SMS Phone Number
                      description: A US phone number for SMS contact.
                    sms_subscription_status:
                      type: string
                      title: SMS Subscription Status
                      description: The status of an SMS subscription.
                      enum:
                      - subscribed
                      - unsubscribed
                      - nonsubscribed
                      - pending
                    sms_subscription_last_updated:
                      type: string
                      title: SMS Subscription Last Update
                      description: The datetime when the SMS subscription was last updated
                    merge_fields:
                      type: object
                      title: Merge Fields
                      description: A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.
                      additionalProperties:
                        description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
                    interests:
                      type: object
                      title: Subscriber Interests
                      description: The key of this object's properties is the ID of the interest in question.
                      additionalProperties:
                        type: boolean
                        title: Interest Value
                        description: Keys are interest IDs, values are booleans that describe whether the list member is in that group or not.
                    stats:
                      type: object
                      title: Subscriber Stats
                      description: Open and click rates for this subscriber.
                      readOnly: true
                      properties:
                        avg_open_rate:
                          type: number
                          title: Average Open Rate
                          description: A subscriber's average open rate.
                          readOnly: true
                        avg_click_rate:
                          type: number
                          title: Average Click Rate
                          description: A subscriber's average clickthrough rate.
                          readOnly: true
                        ecommerce_data:
                          type: object
                          title: Ecommerce Stats
                          description: Ecommerce stats for the list member if the list is attached to a store.
                          readOnly: true
                          properties:
                            total_revenue:
                              type: number
                              title: Total Revenue
                              description: The total revenue the list member has brought in.
                              readOnly: true
                            number_of_orders:
                              type: number
                              title: Total Number of Orders
                              description: The total number of orders placed by the list member.
                              readOnly: true
                            currency_code:
                              type: string
                              title: Currency
                              description: The three-letter ISO 4217 code for the currency that the store accepts.
                              readOnly: true
                              example: USD
                    ip_signup:
                      type: string
                      title: Signup IP
                      description: IP address the subscriber signed up from.
                      readOnly: true
                    timestamp_signup:
                      type: string
                      title: Signup Timestamp
                      description: The date and time the subscriber signed up for the list in ISO 8601 format.
                      format: date-time
                      readOnly: true
                    ip_opt:
                      type: string
                      title: Opt-in IP
                      description: The IP address the subscriber used to confirm their opt-in status.
                      readOnly: true
                    timestamp_opt:
                      type: string
                      title: Opt-in Timestamp
                      description: The date and time the subscriber confirmed their opt-in status in ISO 8601 format.
                      readOnly: true
                      format: date-time
                    member_rating:
                      type: integer
                      title: Member Rating
                      description: Star rating for this member, between 1 and 5.
                      readOnly: true
                    last_changed:
                      type: string
                      title: Last Changed Date
                      description: The date and time the member's info was last changed in ISO 8601 format.
                      readOnly: true
                      format: date-time
                    language:
                      type: string
                      title: Language
                      description: If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/).
                    vip:
                      type: boolean
                      title: VIP
                      description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
                    email_client:
                      type: string
                      title: Email Client
                      description: The list member's email client.
                      readOnly: true
                    location:
                      type: object
                      title: Location
                      description: Subscriber location information.
                      properties:
                        latitude:
                          type: number
                          title: Latitude
                          description: The location latitude.
                        longitude:
                          type: number
                          title: Longitude
                          description: The location longitude.
                        gmtoff:
                          type: integer
                          title: GMT Offset
                          description: The time difference in hours from GMT.
                          readOnly: true
                        dstoff:
                          type: integer
                          title: DST Offset
                          description: The offset for timezones where daylight saving time is observed.
                          readOnly: true
                        country_code:
                          type: string
                          title: Country Code
                          description: The unique code for the location country.
                          readOnly: true
                        timezone:
                          type: string
                          title: Timezone
                          description: The timezone for the location.
                          readOnly: true
                        region:
                          type: string
                          title: Region
                          description: The region for the location.
                          readOnly: true
                    marketing_permissions:
                      type: array
                      title: Marketing Permissions
                      description: The marketing permissions for the subscriber.
                      items:
                        type: object
                        title: Marketing Permission
                        description: A single marketing permission a subscriber has either opted-in to or opted-out of.
                        properties:
                          marketing_permission_id:
                            type: string
                            title: Marketing Permission ID
                            description: The id for the marketing permission on the list
                          text:
                            type: string
                            title: Marketing Permission Text
                            description: The text of the marketing permission.
                          enabled:
                            type: boolean
                            title: Enabled
                            description: If the subscriber has opted-in to the marketing permission.
                    last_note:
                      type: object
                      title: Notes
                      description: The most recent Note added about this member.
                      readOnly: true
                      properties:
                        note_id:
                          type: integer
                          title: Note ID
                          description: The note id.
                          readOnly: true
                        created_at:
                          type: string
                          title: Created Time
                          description: The date and time the note was created in ISO 8601 format.
                          format: date-time
                          readOnly: true
                        created_by:
                          type: string
                          title: Author
                          description: The author of the note.
                          readOnly: true
                        note:
                          type: string
                          title: Note
                          description: The content of the note.
                          readOnly: true
                    source:
                      type: string
                      title: Subscriber Source
                      description: The source from which the subscriber was added to this list.
                      readOnly: true
                    tags_count:
                      type: integer
                      title: Tags Count
                      description: The number of tags applied to this member.
                      readOnly: true
                    tags:
                      type: array
                      title: Tags
                      description: Returns up to 50 tags applied to this member. To retrieve all tags see [Member Tags](https://mailchimp.com/developer/marketing/api/list-member-tags/).
                      readOnly: false
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            title: Tag ID
                            description: The tag id.
                            readOnly: true
                          name:
                            type: string
                            title: Tag Name
                            description: The name of the tag
                            readOnly: true
                    list_id:
                      type: string
                      title: List ID
                      description: The list id.
                      readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
                title: Members
                description: An array of objects, each representing a specific list member.
              list_id:
                type: string
                title: List ID
                description: The list id.
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Members
      x-custom-config:
        methodNameSnake: get_list_members_info
        methodNameCamel: getListMembersInfo
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Mailchimp Add Member to List
      description: Add a new member to the list.
      operationId: postListsIdMembers
      parameters:
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: skip_merge_validation
        x-title: Skip Merge Validation
        in: query
        description: If skip_merge_validation is true, member data will be accepted without merge field values, even if the merge field is usually required. This defaults to false.
        required: false
        type: boolean
        example: example_value
      - name: body
        in: body
        description: ''
        required: true
        schema:
          type: object
          title: Add List Members
          description: Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.
          required:
          - email_address
          - status
          properties:
            email_address:
              type: string
              title: Email Address
              description: Email address for a subscriber.
            email_type:
              type: string
              title: Email Type
              description: Type of email this member asked to get ('html' or 'text').
            status:
              type: string
              title: Status
              description: Subscriber's current status.
              enum:
              - subscribed
              - unsubscribed
              - cleaned
              - pending
              - transactional
            merge_fields:
              type: object
              title: Merge Fields
              description: A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.
              additionalProperties:
                description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
            interests:
              type: object
              title: Subscriber Interests
              description: The key of this object's properties is the ID of the interest in question.
              additionalProperties:
                type: boolean
                title: Interest Value
                description: Keys are interest IDs, values are booleans that describe whether the list member is in that group or not.
            language:
              type: string
              title: Language
              description: If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/).
            vip:
              type: boolean
              title: VIP
              description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
            location:
              type: object
              title: Location
              description: Subscriber location information.
              properties:
                latitude:
                  type: number
                  title: Latitude
                  description: The location latitude.
                longitude:
                  type: number
                  title: Longitude
                  description: The location longitude.
            marketing_permissions:
              type: array
              title: Marketing Permissions
              description: The marketing permissions for the subscriber.
              items:
                type: object
                title: Marketing Permission
                description: A single marketing permission a subscriber has either opted-in to or opted-out of.
                properties:
                  marketing_permission_id:
                    type: string
                    title: Marketing Permission ID
                    description: The id for the marketing permission on the list
                  enabled:
                    type: boolean
                    title: Enabled
                    description: If the subscriber has opted-in to the marketing permission.
            ip_signup:
              type: string
              title: Signup IP
              description: IP address the subscriber signed up from.
            timestamp_signup:
              type: string
              title: Signup Timestamp
              description: The date and time the subscriber signed up for the list in ISO 8601 format.
              format: date-time
            ip_opt:
              type: string
              title: Opt-in IP
              description: The IP address the subscriber used to confirm their opt-in status.
            timestamp_opt:
              type: string
              title: Opt-in Timestamp
              description: The date and time the subscriber confirmed their opt-in status in ISO 8601 format.
              format: date-time
            tags:
              type: array
              title: Tags on a member
              description: The tags that are associated with a member.
              items:
                type: string
                description: The name of the tag that will be associated with this member.
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: List Members
            description: Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.
            properties:
              id:
                type: string
                title: Email ID
                description: The MD5 hash of the lowercase version of the list member's email address.
                readOnly: true
              email_address:
                type: string
                title: Email Address
                description: Email address for a subscriber.
              unique_email_id:
                type: string
                title: Unique Email ID
                description: An identifier for the address across all of Mailchimp.
                readOnly: true
              contact_id:
                type: string
                title: Contact ID
                description: As Mailchimp evolves beyond email, you may eventually have contacts without email addresses. While the `id` is the MD5 hash of their email address, this `contact_id` is agnostic of contacts inclusion of an email address.
                readOnly: true
              full_name:
                type: string
                title: Full Name
                description: The contact's full name.
                readOnly: true
              web_id:
                type: integer
                title: Member Web ID
                description: The ID used in the Mailchimp web application. View this member in your Mailchimp account at `https://{dc}.admin.mailchimp.com/lists/members/view?id={web_id}`.
                readOnly: true
              email_type:
                type: string
                title: Email Type
                description: Type of email this member asked to get ('html' or 'text').
              status:
                type: string
                title: Status
                description: Subscriber's current status.
                enum:
                - subscribed
                - unsubscribed
                - cleaned
                - pending
                - transactional
                - archived
              unsubscribe_reason:
                type: string
                title: Unsubscribe Reason
                description: A subscriber's reason for unsubscribing.
              consents_to_one_to_one_messaging:
                type: boolean
                title: Messaging Consent
                description: Indicates whether a contact consents to 1:1 messaging.
                readOnly: true
              sms_phone_number:
                type: string
                title: SMS Phone Number
                description: A US phone number for SMS contact.
              sms_subscription_status:
                type: string
                title: SMS Subscription Status
                description: The status of an SMS subscription.
                enum:
                - subscribed
                - unsubscribed
                - nonsubscribed
                - pending
              sms_subscription_last_updated:
                type: string
                title: SMS Subscription Last Update
                description: The datetime when the SMS subscription was last updated
              merge_fields:
                type: object
                title: Merge Fields
                description: A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.
                additionalProperties:
                  description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
              interests:
                type: object
                title: Subscriber Interests
                description: The key of this object's properties is the ID of the interest in question.
                additionalProperties:
                  type: boolean
                  title: Interest Value
                  description: Keys are interest IDs, values are booleans that describe whether the list member is in that group or not.
              stats:
                type: object
                title: Subscriber Stats
                description: Open and click rates for this subscriber.
                readOnly: true
                properties:
                  avg_open_rate:
                    type: number
                    title: Average Open Rate
                    description: A subscriber's average open rate.
                    readOnly: true
                  avg_click_rate:
                    type: number
                    title: Average Click Rate
                    description: A subscriber's average clickthrough rate.
                    readOnly: true
                  ecommerce_data:
                    type: object
                    title: Ecommerce Stats
                    description: Ecommerce stats for the list member if the list is attached to a store.
                    readOnly: true
                    properties:
                      total_revenue:
                        type: number
                        title: Total Revenue
                        description: The total revenue the list member has brought in.
                        readOnly: true
                      number_of_orders:
                        type: number
                        title: Total Number of Orders
                        description: The total number of orders placed by the list member.
                        readOnly: true
                      currency_code:
                        type: string
                        title: Currency
                        description: The three-letter ISO 4217 code for the currency that the store accepts.
                        readOnly: true
                        example: USD
              ip_signup:
                type: string
                title: Signup IP
                description: IP address the subscriber signed up from.
                readOnly: true
              timestamp_signup:
                type: string
                title: Signup Timestamp
                description: The date and time the subscriber signed up for the list in ISO 8601 format.
                format: date-time
                readOnly: true
              ip_opt:
                type: string
                title: Opt-in IP
                description: The IP address the subscriber used to confirm their opt-in status.
                readOnly: true
              timestamp_opt:
                type: string
                title: Opt-in Timestamp
                description: The date and time the subscriber confirmed their opt-in status in ISO 8601 format.
                readOnly: true
                format: date-time
              member_rating:
                type: integer
                title: Member Rating
                description: Star rating for this member, between 1 and 5.
                readOnly: true
              last_changed:
                type: string
                title: Last Changed Date
                description: The date and time the member's info was last changed in ISO 8601 format.
                readOnly: true
                format: date-time
              language:
                type: string
                title: Language
                description: If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/).
              vip:
                type: boolean
                title: VIP
                description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
              email_client:
                type: string
                title: Email Client
                description: The list member's email client.
                readOnly: true
              location:
                type: object
                title: Location
                description: Subscriber location information.
                properties:
                  latitude:
                    type: number
                    title: Latitude
                    description: The location latitude.
                  longitude:
                    type: number
                    title: Longitude
                    description: The location longitude.
                  gmtoff:
                    type: integer
                    title: GMT Offset
                    description: The time difference in hours from GMT.
                    readOnly: true
                  dstoff:
                    type: integer
                    title: DST Offset
                    description: The offset for timezones where daylight saving time is observed.
                    readOnly: true
                  country_code:
                    type: string
                    title: Country Code
                    description: The unique code for the location country.
                    readOnly: true
                  timezone:
                    type: string
                    title: Timezone
                    description: The timezone for the location.
                    readOnly: true
                  region:
                    type: string
                    title: Region
                    description: The region for the location.
                    readOnly: true
              marketing_permissions:
                type: array
                title: Marketing Permissions
                description: The marketing permissions for the subscriber.
                items:
                  type: object
                  title: Marketing Permission
                  description: A single marketing permission a subscriber has either opted-in to or opted-out of.
                  properties:
                    marketing_permission_id:
                      type: string
                      title: Marketing Permission ID
                      description: The id for the marketing permission on the list
                    text:
                      type: string
                      title: Marketing Permission Text
                      description: The text of the marketing permission.
                    enabled:
                      type: boolean
                      title: Enabled
                      description: If the subscriber has opted-in to the marketing permission.
              last_note:
                type: object
                title: Notes
                description: The most recent Note added about this member.
                readOnly: true
                properties:
                  note_id:
                    type: integer
                    title: Note ID
                    description: The note id.
                    readOnly: true
                  created_at:
                    type: string
                    title: Created Time
                    description: The date and time the note was created in ISO 8601 format.
                    format: date-time
                    readOnly: true
                  created_by:
                    type: string
                    title: Author
                    description: The author of the note.
                    readOnly: true
                  note:
                    type: string
                    title: Note
                    description: The content of the note.
                    readOnly: true
              source:
                type: string
                title: Subscriber Source
                description: The source from which the subscriber was added to this list.
                readOnly: true
              tags_count:
                type: integer
                title: Tags Count
                description: The number of tags applied to this member.
                readOnly: true
              tags:
                type: array
                title: Tags
                description: Returns up to 50 tags applied to this member. To retrieve all tags see [Member Tags](https://mailchimp.com/developer/marketing/api/list-member-tags/).
                readOnly: false
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      title: Tag ID
                      description: The tag id.
                      readOnly: true
                    name:
                      type: string
                      title: Tag Name
                      description: The name of the tag
                      readOnly: true
              list_id:
                type: string
                title: List ID
                description: The list id.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Members
      x-custom-config:
        methodNameSnake: add_list_member
        methodNameCamel: addListMember
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lists/{list_id}/members/{subscriber_hash}:
    get:
      summary: Mailchimp Get Member Info
      description: Get information about a specific list member, including a currently subscribed, unsubscribed, or bounced member.
      operationId: getListsIdMembersId
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - in: path
        name: subscriber_hash
        x-title: Subscriber Hash
        type: string
        required: true
        description: The MD5 hash of the lowercase version of the list member's email address. This endpoint also accepts a list member's email address or contact_id.
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: List Members
            description: Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.
            properties:
              id:
                type: string
                title: Email ID
                description: The MD5 hash of the lowercase version of the list member's email address.
                readOnly: true
              email_address:
                type: string
                title: Email Address
                description: Email address for a subscriber.
              unique_email_id:
                type: string
                title: Unique Email ID
                description: An identifier for the address across all of Mailchimp.
                readOnly: true
              contact_id:
                type: string
                title: Contact ID
                description: As Mailchimp evolves beyond email, you may eventually have contacts without email addresses. While the `id` is the MD5 hash of their email address, this `contact_id` is agnostic of contacts inclusion of an email address.
                readOnly: true
              full_name:
                type: string
                title: Full Name
                description: The contact's full name.
                readOnly: true
              web_id:
                type: integer
                title: Member Web ID
                description: The ID used in the Mailchimp web application. View this member in your Mailchimp account at `https://{dc}.admin.mailchimp.com/lists/members/view?id={web_id}`.
                readOnly: true
              email_type:
                type: string
                title: Email Type
                description: Type of email this member asked to get ('html' or 'text').
              status:
                type: string
                title: Status
                description: Subscriber's current status.
                enum:
                - subscribed
                - unsubscribed
                - cleaned
                - pending
                - transactional
                - archived
              unsubscribe_reason:
                type: string
                title: Unsubscribe Reason
                description: A subscriber's reason for unsubscribing.
              consents_to_one_to_one_messaging:
                type: boolean
                title: Messaging Consent
                description: Indicates whether a contact consents to 1:1 messaging.
                readOnly: true
              sms_phone_number:
                type: string
                title: SMS Phone Number
                description: A US phone number for SMS contact.
              sms_subscription_status:
                type: string
                title: SMS Subscription Status
                description: The status of an SMS subscription.
                enum:
                - subscribed
                - unsubscribed
                - nonsubscribed
                - pending
              sms_subscription_last_updated:
                type: string
                title: SMS Subscription Last Update
                description: The datetime when the SMS subscription was last updated
              merge_fields:
                type: object
                title: Merge Fields
                description: A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.
                additionalProperties:
                  description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
              interests:
                type: object
                title: Subscriber Interests
                description: The key of this object's properties is the ID of the interest in question.
                additionalProperties:
                  type: boolean
                  title: Interest Value
                  description: Keys are interest IDs, values are booleans that describe whether the list member is in that group or not.
              stats:
                type: object
                title: Subscriber Stats
                description: Open and click rates for this subscriber.
                readOnly: true
                properties:
                  avg_open_rate:
                    type: number
                    title: Average Open Rate
                    description: A subscriber's average open rate.
                    readOnly: true
                  avg_click_rate:
                    type: number
                    title: Average Click Rate
                    description: A subscriber's average clickthrough rate.
                    readOnly: true
                  ecommerce_data:
                    type: object
                    title: Ecommerce Stats
                    description: Ecommerce stats for the list member if the list is attached to a store.
                    readOnly: true
                    properties:
                      total_revenue:
                        type: number
                        title: Total Revenue
                        description: The total revenue the list member has brought in.
                        readOnly: true
                      number_of_orders:
                        type: number
                        title: Total Number of Orders
                        description: The total number of orders placed by the list member.
                        readOnly: true
                      currency_code:
                        type: string
                        title: Currency
                        description: The three-letter ISO 4217 code for the currency that the store accepts.
                        readOnly: true
                        example: USD
              ip_signup:
                type: string
                title: Signup IP
                description: IP address the subscriber signed up from.
                readOnly: true
              timestamp_signup:
                type: string
                title: Signup Timestamp
                description: The date and time the subscriber signed up for the list in ISO 8601 format.
                format: date-time
                readOnly: true
              ip_opt:
                type: string
                title: Opt-in IP
                description: The IP address the subscriber used to confirm their opt-in status.
                readOnly: true
              timestamp_opt:
                type: string
                title: Opt-in Timestamp
                description: The date and time the subscriber confirmed their opt-in status in ISO 8601 format.
                readOnly: true
                format: date-time
              member_rating:
                type: integer
                title: Member Rating
                description: Star rating for this member, between 1 and 5.
                readOnly: true
              last_changed:
                type: string
                title: Last Changed Date
                description: The date and time the member's info was last changed in ISO 8601 format.
                readOnly: true
                format: date-time
              language:
                type: string
                title: Language
                description: If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/).
              vip:
                type: boolean
                title: VIP
                description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
              email_client:
                type: string
                title: Email Client
                description: The list member's email client.
                readOnly: true
              location:
                type: object
                title: Location
                description: Subscriber location information.
                properties:
                  latitude:
                    type: number
                    title: Latitude
                    description: The location latitude.
                  longitude:
                    type: number
                    title: Longitude
                    description: The location longitude.
                  gmtoff:
                    type: integer
                    title: GMT Offset
                    description: The time difference in hours from GMT.
                    readOnly: true
                  dstoff:
                    type: integer
                    title: DST Offset
                    description: The offset for timezones where daylight saving time is observed.
                    readOnly: true
                  country_code:
                    type: string
                    title: Country Code
                    description: The unique code for the location country.
                    readOnly: true
                  timezone:
                    type: string
                    title: Timezone
                    description: The timezone for the location.
                    readOnly: true
                  region:
                    type: string
                    title: Region
                    description: The region for the location.
                    readOnly: true
              marketing_permissions:
                type: array
                title: Marketing Permissions
                description: The marketing permissions for the subscriber.
                items:
                  type: object
                  title: Marketing Permission
                  description: A single marketing permission a subscriber has either opted-in to or opted-out of.
                  properties:
                    marketing_permission_id:
                      type: string
                      title: Marketing Permission ID
                      description: The id for the marketing permission on the list
                    text:
                      type: string
                      title: Marketing Permission Text
                      description: The text of the marketing permission.
                    enabled:
                      type: boolean
                      title: Enabled
                      description: If the subscriber has opted-in to the marketing permission.
              last_note:
                type: object
                title: Notes
                description: The most recent Note added about this member.
                readOnly: true
                properties:
                  note_id:
                    type: integer
                    title: Note ID
                    description: The note id.
                    readOnly: true
                  created_at:
                    type: string
                    title: Created Time
                    description: The date and time the note was created in ISO 8601 format.
                    format: date-time
                    readOnly: true
                  created_by:
                    type: string
                    title: Author
                    description: The author of the note.
                    readOnly: true
                  note:
                    type: string
                    title: Note
                    description: The content of the note.
                    readOnly: true
              source:
                type: string
                title: Subscriber Source
                description: The source from which the subscriber was added to this list.
                readOnly: true
              tags_count:
[...]
