swagger: '2.0'
info:
  version: 3.0.55
  title: Mailchimp Marketing Abuse Templates API
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json
  description: '

    The Mailchimp Marketing API provides programmatic access to Mailchimp data

    and functionality, allowing developers to build custom features to do

    things like sync email activity and campaign analytics with their

    database, manage audiences and campaigns, and more.'
host: server.api.mailchimp.com
basePath: /3.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/problem+json
security:
- basicAuth: []
tags:
- name: Templates
paths:
  /templates:
    get:
      summary: Mailchimp List Templates
      description: Get a list of an account's available templates.
      operationId: getTemplates
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - name: created_by
        x-title: Created By
        in: query
        description: The Mailchimp account user who created the template.
        required: false
        type: string
        example: example_value
      - name: since_date_created
        x-title: Since Date Created
        in: query
        description: 'Restrict the response to templates created after the set date. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: example_value
      - name: before_date_created
        x-title: Before Date Created
        in: query
        description: 'Restrict the response to templates created before the set date. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        required: false
        type: string
        example: example_value
      - name: type
        x-title: Template Type
        in: query
        required: false
        description: Limit results based on template type.
        type: string
        example: example_value
      - name: category
        x-title: Category
        in: query
        description: Limit results based on category.
        required: false
        type: string
        example: example_value
      - name: folder_id
        x-title: Folder ID
        in: query
        description: The unique folder id.
        required: false
        type: string
        example: '500123'
      - name: sort_field
        x-title: Sort By Field
        description: Returns user templates sorted by the specified field.
        in: query
        required: false
        type: string
        enum:
        - date_created
        - date_edited
        - name
        example: example_value
      - name: content_type
        x-title: Content Type
        in: query
        required: false
        description: Limit results based on how the template's content is put together. Only templates of type `user` can be filtered by `content_type`. If you want to retrieve saved templates created with the legacy email editor, then filter `content_type` to `template`. If you'd rather pull your saved templates for the new editor, filter to `multichannel`. For code your own templates, filter to `html`.
        type: string
        enum:
        - html
        - template
        - multichannel
        example: example_value
      - name: sort_dir
        x-title: Sort Direction
        description: Determines the order direction for sorted results.
        in: query
        required: false
        type: string
        enum:
        - ASC
        - DESC
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Templates
            description: A list an account's available templates.
            properties:
              templates:
                type: array
                items:
                  type: object
                  title: Template Instance
                  description: Information about a specific template.
                  properties:
                    id:
                      type: integer
                      title: Template ID
                      description: The individual id for the template.
                      readOnly: true
                    type:
                      type: string
                      title: Template Type
                      description: The type of template (user, base, or gallery).
                      readOnly: true
                    name:
                      type: string
                      title: Template Name
                      description: The name of the template.
                    drag_and_drop:
                      type: boolean
                      title: Drag and Drop
                      description: Whether the template uses the drag and drop editor.
                      readOnly: true
                    responsive:
                      type: boolean
                      title: Responsive
                      description: Whether the template contains media queries to make it responsive.
                      readOnly: true
                    category:
                      type: string
                      title: Template Category
                      description: If available, the category the template is listed in.
                      readOnly: true
                    date_created:
                      type: string
                      title: Date Created
                      description: The date and time the template was created in ISO 8601 format.
                      format: date-time
                      readOnly: true
                    date_edited:
                      type: string
                      title: Date Edited
                      description: The date and time the template was edited in ISO 8601 format.
                      format: date-time
                      readOnly: true
                    created_by:
                      type: string
                      title: Created By
                      description: The login name for template's creator.
                      readOnly: true
                    edited_by:
                      type: string
                      title: Edited By
                      description: The login name who last edited the template.
                      readOnly: true
                    active:
                      type: boolean
                      title: Active
                      description: User templates are not 'deleted,' but rather marked as 'inactive.' Returns whether the template is still active.
                      readOnly: true
                    folder_id:
                      type: string
                      title: Folder ID
                      description: The id of the folder the template is currently in.
                    thumbnail:
                      type: string
                      title: Template Thumbnail
                      description: If available, the URL for a thumbnail of the template.
                      readOnly: true
                    share_url:
                      type: string
                      title: Share URL
                      description: The URL used for [template sharing](https://mailchimp.com/help/share-a-template/).
                      readOnly: true
                    content_type:
                      type: string
                      title: Content Type
                      description: How the template's content is put together.
                      enum:
                      - template
                      - multichannel
                      - html
                      readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
                title: User Templates
                description: All of an account's saved or custom templates.
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Templates
      x-custom-config:
        methodNameSnake: list
        methodNameCamel: list
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Mailchimp Add Template
      description: Create a new template for the account. Only Classic templates are supported.
      operationId: postTemplates
      parameters:
      - in: body
        name: body
        description: ''
        required: true
        schema:
          type: object
          title: Template Instance
          description: Information about a specific template.
          required:
          - name
          - html
          properties:
            name:
              type: string
              title: Template Name
              description: The name of the template.
              example: Freddie's Jokes
            folder_id:
              type: string
              title: Folder ID
              description: The id of the folder the template is currently in.
              example: a4b830b
            html:
              type: string
              title: Template HTML
              description: The raw HTML for the template. We  support the Mailchimp [Template Language](https://mailchimp.com/help/getting-started-with-mailchimps-template-language/) in any HTML code passed via the API.
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Template Instance
            description: Information about a specific template.
            properties:
              id:
                type: integer
                title: Template ID
                description: The individual id for the template.
                readOnly: true
              type:
                type: string
                title: Template Type
                description: The type of template (user, base, or gallery).
                readOnly: true
              name:
                type: string
                title: Template Name
                description: The name of the template.
              drag_and_drop:
                type: boolean
                title: Drag and Drop
                description: Whether the template uses the drag and drop editor.
                readOnly: true
              responsive:
                type: boolean
                title: Responsive
                description: Whether the template contains media queries to make it responsive.
                readOnly: true
              category:
                type: string
                title: Template Category
                description: If available, the category the template is listed in.
                readOnly: true
              date_created:
                type: string
                title: Date Created
                description: The date and time the template was created in ISO 8601 format.
                format: date-time
                readOnly: true
              date_edited:
                type: string
                title: Date Edited
                description: The date and time the template was edited in ISO 8601 format.
                format: date-time
                readOnly: true
              created_by:
                type: string
                title: Created By
                description: The login name for template's creator.
                readOnly: true
              edited_by:
                type: string
                title: Edited By
                description: The login name who last edited the template.
                readOnly: true
              active:
                type: boolean
                title: Active
                description: User templates are not 'deleted,' but rather marked as 'inactive.' Returns whether the template is still active.
                readOnly: true
              folder_id:
                type: string
                title: Folder ID
                description: The id of the folder the template is currently in.
              thumbnail:
                type: string
                title: Template Thumbnail
                description: If available, the URL for a thumbnail of the template.
                readOnly: true
              share_url:
                type: string
                title: Share URL
                description: The URL used for [template sharing](https://mailchimp.com/help/share-a-template/).
                readOnly: true
              content_type:
                type: string
                title: Content Type
                description: How the template's content is put together.
                enum:
                - template
                - multichannel
                - html
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Templates
      x-custom-config:
        methodNameSnake: create
        methodNameCamel: create
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/{template_id}:
    get:
      summary: Mailchimp Get Template Info
      description: Get information about a specific template.
      operationId: getTemplatesId
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: template_id
        x-title: Template ID
        in: path
        description: The unique id for the template.
        required: true
        type: string
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Template Instance
            description: Information about a specific template.
            properties:
              id:
                type: integer
                title: Template ID
                description: The individual id for the template.
                readOnly: true
              type:
                type: string
                title: Template Type
                description: The type of template (user, base, or gallery).
                readOnly: true
              name:
                type: string
                title: Template Name
                description: The name of the template.
              drag_and_drop:
                type: boolean
                title: Drag and Drop
                description: Whether the template uses the drag and drop editor.
                readOnly: true
              responsive:
                type: boolean
                title: Responsive
                description: Whether the template contains media queries to make it responsive.
                readOnly: true
              category:
                type: string
                title: Template Category
                description: If available, the category the template is listed in.
                readOnly: true
              date_created:
                type: string
                title: Date Created
                description: The date and time the template was created in ISO 8601 format.
                format: date-time
                readOnly: true
              date_edited:
                type: string
                title: Date Edited
                description: The date and time the template was edited in ISO 8601 format.
                format: date-time
                readOnly: true
              created_by:
                type: string
                title: Created By
                description: The login name for template's creator.
                readOnly: true
              edited_by:
                type: string
                title: Edited By
                description: The login name who last edited the template.
                readOnly: true
              active:
                type: boolean
                title: Active
                description: User templates are not 'deleted,' but rather marked as 'inactive.' Returns whether the template is still active.
                readOnly: true
              folder_id:
                type: string
                title: Folder ID
                description: The id of the folder the template is currently in.
              thumbnail:
                type: string
                title: Template Thumbnail
                description: If available, the URL for a thumbnail of the template.
                readOnly: true
              share_url:
                type: string
                title: Share URL
                description: The URL used for [template sharing](https://mailchimp.com/help/share-a-template/).
                readOnly: true
              content_type:
                type: string
                title: Content Type
                description: How the template's content is put together.
                enum:
                - template
                - multichannel
                - html
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Templates
      x-custom-config:
        methodNameSnake: get_template
        methodNameCamel: getTemplate
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Mailchimp Update Template
      description: Update the name, HTML, or `folder_id` of an existing template.
      operationId: patchTemplatesId
      parameters:
      - name: template_id
        x-title: Template ID
        in: path
        description: The unique id for the template.
        required: true
        type: string
        example: '500123'
      - in: body
        name: body
        description: ''
        required: true
        schema:
          type: object
          title: Template Instance
          description: Information about a specific template.
          required:
          - name
          - html
          properties:
            name:
              type: string
              title: Template Name
              description: The name of the template.
              example: Freddie's Jokes
            folder_id:
              type: string
              title: Folder ID
              description: The id of the folder the template is currently in.
              example: a4b830b
            html:
              type: string
              title: Template HTML
              description: The raw HTML for the template. We  support the Mailchimp [Template Language](https://mailchimp.com/help/getting-started-with-mailchimps-template-language/) in any HTML code passed via the API.
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Template Instance
            description: Information about a specific template.
            properties:
              id:
                type: integer
                title: Template ID
                description: The individual id for the template.
                readOnly: true
              type:
                type: string
                title: Template Type
                description: The type of template (user, base, or gallery).
                readOnly: true
              name:
                type: string
                title: Template Name
                description: The name of the template.
              drag_and_drop:
                type: boolean
                title: Drag and Drop
                description: Whether the template uses the drag and drop editor.
                readOnly: true
              responsive:
                type: boolean
                title: Responsive
                description: Whether the template contains media queries to make it responsive.
                readOnly: true
              category:
                type: string
                title: Template Category
                description: If available, the category the template is listed in.
                readOnly: true
              date_created:
                type: string
                title: Date Created
                description: The date and time the template was created in ISO 8601 format.
                format: date-time
                readOnly: true
              date_edited:
                type: string
                title: Date Edited
                description: The date and time the template was edited in ISO 8601 format.
                format: date-time
                readOnly: true
              created_by:
                type: string
                title: Created By
                description: The login name for template's creator.
                readOnly: true
              edited_by:
                type: string
                title: Edited By
                description: The login name who last edited the template.
                readOnly: true
              active:
                type: boolean
                title: Active
                description: User templates are not 'deleted,' but rather marked as 'inactive.' Returns whether the template is still active.
                readOnly: true
              folder_id:
                type: string
                title: Folder ID
                description: The id of the folder the template is currently in.
              thumbnail:
                type: string
                title: Template Thumbnail
                description: If available, the URL for a thumbnail of the template.
                readOnly: true
              share_url:
                type: string
                title: Share URL
                description: The URL used for [template sharing](https://mailchimp.com/help/share-a-template/).
                readOnly: true
              content_type:
                type: string
                title: Content Type
                description: How the template's content is put together.
                enum:
                - template
                - multichannel
                - html
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Templates
      x-custom-config:
        methodNameSnake: update_template
        methodNameCamel: updateTemplate
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Mailchimp Delete Template
      description: Delete a specific template.
      operationId: deleteTemplatesId
      parameters:
      - name: template_id
        x-title: Template ID
        in: path
        description: The unique id for the template.
        required: true
        type: string
        example: '500123'
      responses:
        '204':
          description: Empty Response
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Templates
      x-custom-config:
        methodNameSnake: delete_template
        methodNameCamel: deleteTemplate
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/{template_id}/default-content:
    get:
      summary: Mailchimp View Default Content
      description: Get the sections that you can edit in a template, including each section's default content.
      operationId: getTemplatesIdDefaultContent
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: template_id
        x-title: Template ID
        in: path
        description: The unique id for the template.
        required: true
        type: string
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Template Default Content
            description: Default content for a template.
            properties:
              sections:
                type: object
                title: Sections
                description: The sections that you can edit in the template, including each section's default content.
                additionalProperties:
                  description: The default content for the sections that you can edit in the template.
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Templates
      x-custom-config:
        methodNameSnake: get_default_content_for_template
        methodNameCamel: getDefaultContentForTemplate
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/add:
    post:
      operationId: postTemplatesAdd
      summary: Mailchimp Add a New Template
      description: Create a new template on the Mandrill server. Templates can contain merge variables and mc:edit content blocks for dynamic content injection at send time.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name for the new template (must be unique).
                from_email:
                  type: string
                  format: email
                  description: Default from address for the template.
                from_name:
                  type: string
                  description: Default from name for the template.
                subject:
                  type: string
                  description: Default subject line for the template.
                code:
                  type: string
                  description: The HTML code for the template with mc:edit regions.
                text:
                  type: string
                  description: Default text part of messages sent with this template.
                publish:
                  type: boolean
                  default: true
                  description: Whether to publish the template immediately.
                labels:
                  type: array
                  items:
                    type: string
                  description: Array of up to 10 labels to organize templates.
            examples:
              PosttemplatesaddRequestExample:
                summary: Default postTemplatesAdd request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
                  from_email: user@example.com
                  from_name: example_value
                  subject: example_value
                  code: example_value
                  text: example_value
                  publish: true
                  labels:
                  - example_value
      responses:
        '200':
          description: The newly created template object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatesadd200Example:
                  summary: Default postTemplatesAdd 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/info:
    post:
      operationId: postTemplatesInfo
      summary: Mailchimp Get Template Info
      description: Get the details for a specific template, including its code, default values, and publish status.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the existing template.
            examples:
              PosttemplatesinfoRequestExample:
                summary: Default postTemplatesInfo request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
      responses:
        '200':
          description: The template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatesinfo200Example:
                  summary: Default postTemplatesInfo 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/update:
    post:
      operationId: postTemplatesUpdate
      summary: Mailchimp Update a Template
      description: Update an existing template with new values for any of its fields. Only the fields you include in the request body will be updated.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the existing template to update.
                from_email:
                  type: string
                  format: email
                  description: Updated default from address.
                from_name:
                  type: string
                  description: Updated default from name.
                subject:
                  type: string
                  description: Updated default subject line.
                code:
                  type: string
                  description: Updated HTML code for the template.
                text:
                  type: string
                  description: Updated default text part.
                publish:
                  type: boolean
                  description: Whether to publish the updated template immediately.
                labels:
                  type: array
                  items:
                    type: string
                  description: Updated array of labels.
            examples:
              PosttemplatesupdateRequestExample:
                summary: Default postTemplatesUpdate request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
                  from_email: user@example.com
                  from_name: example_value
                  subject: example_value
                  code: example_value
                  text: example_value
                  publish: true
                  labels:
                  - example_value
      responses:
        '200':
          description: The updated template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatesupdate200Example:
                  summary: Default postTemplatesUpdate 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/publish:
    post:
      operationId: postTemplatesPublish
      summary: Mailchimp Publish a Template
      description: Publish the most recent draft of an existing template, making it available for sending.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the template to publish.
            examples:
              PosttemplatespublishRequestExample:
                summary: Default postTemplatesPublish request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
      responses:
        '200':
          description: The published template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatespublish200Example:
                  summary: Default postTemplatesPublish 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/delete:
    post:
      operationId: postTemplatesDelete
      summary: Mailchimp Delete a Template
      description: Permanently delete a template from the account. This action cannot be undone.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the template to delete.
            examples:
              PosttemplatesdeleteRequestExample:
                summary: Default postTemplatesDelete request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
      responses:
        '200':
          description: The deleted template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplatesdelete200Example:
                  summary: Default postTemplatesDelete 200 response
                  x-microcks-default: true
                  value:
                    slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/list:
    post:
      operationId: postTemplatesList
      summary: Mailchimp List Templates
      description: Get a list of all templates available in the account.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                label:
                  type: string
                  description: Optional label to filter results. Only templates with the given label will be returned.
            examples:
              PosttemplateslistRequestExample:
                summary: Default postTemplatesList request
                x-microcks-default: true
                value:
                  key: example_value
                  label: Example Title
      responses:
        '200':
          description: An array of template info objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateInfo'
              examples:
                Posttemplateslist200Example:
                  summary: Default postTemplatesList 200 response
                  x-microcks-default: true
                  value:
                  - slug: example_value
                    name: Example Title
                    labels:
                    - example_value
                    code: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    text: example_value
                    publish_name: example_value
                    publish_code: example_value
                    publish_subject: example_value
                    publish_from_email: user@example.com
                    publish_from_name: example_value
                    publish_text: example_value
                    published_at: '2026-01-15T10:30:00Z'
                    created_at: '2026-01-15T10:30:00Z'
                    updated_at: '2026-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/time-series:
    post:
      operationId: postTemplatesTimeSeries
      summary: Mailchimp Get Template Time Series
      description: Return the recent sending history for a template, aggregated by hourly time slots.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - name
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                name:
                  type: string
                  description: The name of the existing template.
            examples:
              PosttemplatestimeseriesRequestExample:
                summary: Default postTemplatesTimeSeries request
                x-microcks-default: true
                value:
                  key: example_value
                  name: Example Title
      responses:
        '200':
          description: An array of time series data for the template.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeSeries'
              examples:
                Posttemplatestimeseries200Example:
                  summary: Default postTemplatesTimeSeries 200 response
                  x-microcks-default: true
                  value:
                  - time: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    unique_opens: 10
                    clicks: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /templates/render:
    post:
      operationId: postTemplatesRender
      summary: Mailchimp Render a Template
      description: Render a template with the provided merge variables and template content, returning the final HTML that would be sent.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - template_name
              - template_content
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                template_name:
                  type: string
                  description: The name of the template to render.
                template_content:
                  type: array
                  description: Content blocks to inject into mc:edit regions.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the content block.
                      content:
                        type: string
                        description: The content to inject.
                merge_vars:
                  type: array
                  description: Merge variables to use during rendering.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The merge variable name.
                      content:
                        type: string
                        description: The merge variable value.
            examples:
              PosttemplatesrenderRequestExample:
                summary: Default postTemplatesRender request
                x-microcks-default: true
                value:
                  key: example_value
                  template_name: example_value
                  template_content:
                  - name: Example Title
                    content: example_value
                  merge_vars:
                  - name: Example Title
                    content: example_value
      responses:
        '200':
          description: The rendered template HTML.
          content:
            application/json:
              schema:
                type: object
                properties:
                  html:
                    type: string
                    description: The rendered HTML of the template.
              examples:
                Posttemplatesrender200Example:
                  summary: Default postTemplatesRender 200 response
                  x-microcks-default: true
                  value:
                    html: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    ValidationError:
      description: The request parameters were invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    GeneralError:
      description: An unexpected error occurred on the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidKeyError:
      description: The provided API key is not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    TimeSeries:
      type: object
      description: An hourly time series data point with sending statistics.
      properties:
        time:
          type: string
          format: date-time
          description: The hour this data point covers (UTC).
          example: '2026-01-15T10:30:00Z'
        sent:
          type: integer
          description: Number of messages sent.
          example: 10
        hard_bounces:
          type: integer
          description: Number of hard bounces.
          example: 10
        soft_bounces:
          type: integer
          description: Number of soft bounces.
          example: 10
        rejects:
          type: integer
          description: Number of rejects.
          example: 10
        complaints:
          type: integer
          description: Number of spam complaints.
          example: 10
        unsubs:
          type: integer
          description: Number of unsubscribes.
          example: 10
        opens:
          type: integer
          description: Number of opens.
          example: 10
        unique_opens:
          type: integer
          description: Number of unique opens.
          example: 10
        clicks:
          type: integer
          description: Number of clicks.
          example: 10
        unique_clicks:
          type: integer
          description: Number of unique clicks.
          example: 10
    Error:
      type: object
      description: A standard error response from the Mandrill API.
      properties:
        status:
          type: string
          enum:
          - error
          description: Always "error" for error responses.
          example: error
        code:
          type: integer
          description: The numeric error code.
          example: 10
        name:
          type: string
          description: The name/type of the error (e.g., Invalid_Key, ValidationError).
          example: Example Title
        message:
          type: string
          description: A human-readable description of the error.
          example: example_value
    TemplateInfo:
      type: object
      description: Information about a Mandrill template.
      properties:
        slug:
          type: string
          description: The URL-safe slug for the template.
          example: example_value
        name:
          type: string
          description: The display name of the template.
          example: Example Title
        labels:
          type: array
          items:
            type: string
          description: Labels applied to the template for organization.
          example: []
        code:
          type: string
          description: The HTML code of the template.
          example: example_value
        subject:
          type: string
          description: The default subject line.
          example: example_value
        from_email:
          type: string
          format: email
          description: The default from address.
          example: user@example.com
        from_name:
          type: string
          description: The default from name.
          example: example_value
        text:
          type: string
          description: The default text content.
          example: example_value
        publish_name:
          type: string
          description: The name of the published version.
          example: example_value
        publish_code:
          type: string
          description: The HTML code of the published version.
          example: example_value
        publish_subject:
          type: string
          description: The subject of the published version.
          example: example_value
        publish_from_email:
          type: string
          format: email
          description: The from address of the published version.
          example: user@example.com
        publish_from_name:
          type: string
          description: The from name of the published version.
          example: example_value
        publish_text:
          type: string
          description: The text content of the published version.
          example: example_value
        published_at:
          type: string
          format: date-time
          description: When the template was last published.
          example: '2026-01-15T10:30:00Z'
        created_at:
          type: string
          format: date-time
          description: When the template was created.
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          description: When the template was last updated.
          example: '2026-01-15T10:30:00Z'
securityDefinitions:
  basicAuth:
    type: basic
externalDocs:
  description: Learn more with the full Mailchimp API documentation.
  url: https://mailchimp.com/developer/marketing/
x-doc-structure:
  resources:
    root:
      title: API Root
      description: The API root resource links to all other resources available in the API. Calling the root directory also returns details about the Mailchimp user account.
      paths:
      - /
      subResources: []
    chimp-chatter:
      title: Chimp Chatter Activity
      description: Get the latest Chimp Chatter activity from your account.
      paths:
      - /activity-feed/chimp-chatter
    authorized-apps:
      title: Authorized Apps
      description: Manage registered, connected apps for your Mailchimp account with the Authorized Apps endpoints.
      paths:
      - /authorized-apps
      - /authorized-apps/{app_id}
    automation:
      title: Automations
      description: Mailchimp's classic automations feature lets you build a series of emails that send to subscribers when triggered by a specific date, activity, or event. Use the API to manage Automation workflows, emails, and queues. Does not include Customer Journeys.
      paths:
      - /automations
      - /automations/{workflow_id}
      - /automations/{workflow_id}/actions/start-all-emails
      - /automations/{workflow_id}/actions/pause-all-emails
      - /automations/{workflow_id}/actions/archive
      subResources:
      - automation-email
      - automation-removed-subscribers
    automation-email:
      title: Emails
      description: Manage individual emails in a classic automation workflow.
      paths:
      - /automations/{workflow_id}/emails
      - /automations/{workflow_id}/emails/{workflow_email_id}
      - /automations/{workflow_id}/emails/{workflow_email_id}/actions/pause
      - /automations/{workflow_id}/emails/{workflow_email_id}/actions/start
      subResources:
      - automation-email-queue
    automation-email-queue:
      title: Queue
      description: Manage list member queues for classic automation emails.
      paths:
      - /automations/{workflow_id}/emails/{workflow_email_id}/queue
      - /automations/{workflow_id}/emails/{workflow_email_id}/queue/{subscriber_hash}
      subResources: []
    automation-removed-subscribers:
      title: Removed Subscribers
      description: Remove subscribers from a classic automation workflow.
      paths:
      - /automations/{workflow_id}/removed-subscribers
      - /automations/{workflow_id}/removed-subscribers/{subscriber_hash}
      subResources: []
    batch-operations:
      title: Batch Operations
      description: Use batch operations to complete multiple operations with a single call.
      paths:
      - /batches
      - /batches/{batch_id}
    batch-webhooks:
      title: Batch Webhooks
      description: 'Manage webhooks for batch operations. '
      paths:
      - /batch-webhooks
      - /batch-webhooks/{batch_webhook_id}
    account-exports:
      title: Account Exports
      description: Generate a new export or download a finished export.
      paths:
      - /account-exports
      - /account-exports/{export_id}
    campaigns:
      title: Campaigns
      description: Campaigns are how you send emails to your Mailchimp list. Use the Campaigns API calls to manage campaigns in your Mailchimp account.
      paths:
      - /campaigns
      - /campaigns/{campaign_id}
      - /campaigns/{campaign_id}/actions/cancel-send
      - /campaigns/{campaign_id}/actions/send
      - /campaigns/{campaign_id}/actions/schedule
      - /campaigns/{campaign_id}/actions/unschedule
      - /campaigns/{campaign_id}/actions/pause
      - /campaigns/{campaign_id}/actions/resume
      - /campaigns/{campaign_id}/actions/replicate
      - /campaigns/{campaign_id}/actions/test
      - /campaigns/{campaign_id}/actions/create-resend
      subResources:
      - campaign-feedback
      - campaign-checklist
      - campaign-content
    campaign-feedback:
      title: Feedback
      description: Post comments, reply to team feedback, and send test emails while you're working together on a Mailchimp campaign.
      paths:
      - /campaigns/{campaign_id}/feedback
      - /campaigns/{campaign_id}/feedback/{feedback_id}
    campaign-checklist:
      title: Send Checklist
      description: Review the send checklist for your campaign, and resolve any issues before sending.
      paths:
      - /campaigns/{campaign_id}/send-checklist
    campaign-content:
      title: Content
      description: Manage the HTML, plain-text, and template content for your Mailchimp campaigns.
      paths:
      - /campaigns/{campaign_id}/content
    connected-sites:
      title: Connected Sites
      description: Manage sites you've connected to your Mailchimp account.
      paths:
      - /connected-sites
      - /connected-sites/{connected_site_id}
      - /connected-sites/{connected_site_id}/actions/verify-script-installation
    conversations:
      title: Conversations
      description: Conversation tracking lets you view subscribers' replies to your campaigns in your Mailchimp account.
      paths:
      - /conversations
      - /conversations/{conversation_id}
      subResources:
      - conversation-messages
    conversation-messages:
      title: Messages
      description: Manage messages in a specific campaign conversation.
      paths:
      - /conversations/{conversation_id}/messages
      - /conversations/{conversation_id}/messages/{message_id}
    customer-journeys-journeys-steps-actions:
      title: Customer Journeys
      description: Manage Customer Journey automated workflows
      paths:
      - /customer-journeys/journeys/{journey_id}/steps/{step_id}/actions/trigger
      subResources: []
    file-manager:
      title: File Manager
      description: Manage files for your Mailchimp account. The File Manager is a place to store images, documents, and other files you include or link to in your campaigns, templates, or signup forms.
      paths: []
      subResources:
      - file-manager-folders
      - file-manager-files
    file-manager-folders:
      title: File Manager Folders
      description: Manage specific folders in the File Manager for your Mailchimp account.
      paths:
      - /file-manager/folders
      - /file-manager/folders/{folder_id}
      subResources:
      - file-manager-folders-files
    file-manager-files:
      title: File Manager Files
      description: Manage specific files in the File Manager for your Mailchimp account.
      paths:
      - /file-manager/files
      - /file-manager/files/{file_id}
    file-manager-folders-files:
      title: Files in Folder
      description: Manage specific files in a folder.
      paths:
      - /file-manager/folders/{folder_id}/files
    landing-pages:
      title: Landing Pages
      description: Manage your Landing Pages, including publishing and unpublishing.
      paths:
      - /landing-pages
      - /landing-pages/{page_id}
      - /landing-pages/{page_id}/actions/publish
      - /landing-pages/{page_id}/actions/unpublish
      subResources:
      - landing-pages_content
    landing-pages_content:
      title: Content
      description: The HTML content for your Mailchimp landing pages.
      paths:
      - /landing-pages/{page_id}/content
    lists:
      title: Lists/Audiences
      description: Your Mailchimp list, also known as your audience, is where you store and manage all of your contacts.
      paths:
      - /lists
      - /lists/{list_id}
      subResources:
      - interest-categories
      - list-segments
      - abuse-reports
      - list-activity
      - list-clients
      - list-growth-history
      - list-imports
      - list-members
      - list-merges
      - list-webhooks
      - list-signup-forms
      - list-locations
      - lists-tags-search
      - prebuilt-segments
      - list-preview-segment
      - list-surveys
      - list-sms-program
    list-members:
      title: Members
      description: Manage members of a specific Mailchimp list, including currently subscribed, unsubscribed, and bounced members.
      paths:
      - /lists/{list_id}/members
      - /lists/{list_id}/members/{subscriber_hash}
      - /lists/{list_id}/members/{subscriber_hash}/actions/delete-permanent
      subResources:
      - list-member-activity
      - list-member-activity-feed
      - list-member-goal
      - list-member-notes
      - list-member-tags
      - list-member-events
    list-merges:
      title: Merge Fields
      description: Manage merge fields for an audience. See [Merge Field documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/) for more.
      paths:
      - /lists/{list_id}/merge-fields
      - /lists/{list_id}/merge-fields/{merge_id}
      subResources: []
    abuse-reports:
      title: Abuse Reports
      description: Manage abuse complaints for a specific list. An abuse complaint occurs when your recipient reports an email as spam in their mail program.
      paths:
      - /lists/{list_id}/abuse-reports
      - /lists/{list_id}/abuse-reports/{report_id}
    list-activity:
      title: Activity
      description: Get recent daily, aggregated activity stats for your list. For example, view unsubscribes, signups, total emails sent, opens, clicks, and more, for up to 180 days.
      paths:
      - /lists/{list_id}/activity
    list-clients:
      title: Clients
      description: Get information about the most popular email clients for subscribers in a specific Mailchimp list.
      paths:
      - /lists/{list_id}/clients
    list-growth-history:
      title: Growth History
      description: View a summary of the month-by-month growth activity for a specific list.
      paths:
      - /lists/{list_id}/growth-history
      - /lists/{list_id}/growth-history/{month}
    list-webhooks:
      title: Webhooks
      description: Manage webhooks for a specific Mailchimp list.
      paths:
      - /lists/{list_id}/webhooks
      - /lists/{list_id}/webhooks/{webhook_id}
    list-surveys:
      title: Surveys
      description: Get survey data for this audience.
      paths:
      - /lists/{list_id}/surveys
      - /lists/{list_id}/surveys/{survey_id}
      - /lists/{list_id}/surveys/{survey_id}/actions/publish
      - /lists/{list_id}/surveys/{survey_id}/actions/unpublish
      - /lists/{list_id}/surveys/{survey_id}/actions/create-email
    interest-categories:
      title: Interest Categories
      description: Manage interest categories for a specific list. Interest categories organize interests, which are used to group subscribers based on their preferences. These correspond to 'group titles' in the Mailchimp application.
      paths:
      - /lists/{list_id}/interest-categories
      - /lists/{list_id}/interest-categories/{interest_category_id}
      subResources:
      - interests
    interests:
      title: Interests
      description: Manage interests for a specific Mailchimp list. Assign subscribers to interests to group them together. Interests are referred to as 'group names' in the Mailchimp application.
      paths:
      - /lists/{list_id}/interest-categories/{interest_category_id}/interests
      - /lists/{list_id}/interest-categories/{interest_category_id}/interests/{interest_id}
    lists-tags-search:
      title: Tag Search
      description: Search for tags on a list by name.
      paths:
      - /lists/{list_id}/tag-search
    list-segments:
      title: Segments
      description: Manage segments and tags for a specific Mailchimp list. A segment is a section of your list that includes only those subscribers who share specific common field information. Tags are labels you create to help organize your contacts.
      paths:
      - /lists/{list_id}/segments
      - /lists/{list_id}/segments/{segment_id}
      subResources:
      - list-segment-members
    list-segment-members:
      title: Segment Members
      description: Manage list members in a saved segment.
      paths:
      - /lists/{list_id}/segments/{segment_id}/members
      - /lists/{list_id}/segments/{segment_id}/members/{subscriber_hash}
    list-member-activity:
      title: Member Activity
      description: Get details about a subscriber's recent activity. Use the new activity-feed endpoint to access more events for a given contact.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/activity
    list-member-activity-feed:
      title: Member Activity Feed
      description: Get details about a subscriber's recent activity.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/activity-feed
    list-member-goal:
      title: Member Goals
      description: Get information about recent goal events for a specific list member.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/goals
    list-member-notes:
      title: Member Notes
      description: Retrieve recent notes for a specific list member.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/notes
      - /lists/{list_id}/members/{subscriber_hash}/notes/{note_id}
    list-member-tags:
      title: Member Tags
      description: Manage all the tags that have been assigned to a contact.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/tags
    list-member-events:
      title: Events
      description: 'Use the Events endpoint to collect website or in-app actions and trigger targeted automations. '
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/events
    list-signup-forms:
      title: Signup Forms
      description: Manage list signup forms.
      paths:
      - /lists/{list_id}/signup-forms
    list-locations:
      title: Locations
      description: Get the locations (countries) that the list's subscribers have been tagged to based on geocoding their IP address.
      paths:
      - /lists/{list_id}/locations
    reports:
      title: Reports
      description: 'Manage campaign reports for your Mailchimp account. All Reports endpoints are read-only. Mailchimp''s campaign and automation reports analyze clicks, opens, subscribers'' social activity, e-commerce data, and more. Note: Campaign IDs for A/B Testing Campaigns are available through the Campaign API Endpoint''s Read method.'
      paths:
      - /reports
      - /reports/{campaign_id}
      subResources:
      - campaign-abuse
      - campaign-advice
      - click-reports
      - domain-performance-reports
      - eepurl-reports
      - email-activity-reports
      - location-reports
      - sent-to-reports
      - sub-reports
      - unsub-reports
      - open-reports
      - campaign-ecommerce-product-activity
    campaign-abuse:
      title: Campaign Abuse
      description: Get information about campaign abuse complaints.
      paths:
      - /reports/{campaign_id}/abuse-reports
      - /reports/{campaign_id}/abuse-reports/{report_id}
    campaign-advice:
      title: Campaign Advice
      description: Get recent feedback based on a campaign's statistics.
      paths:
      - /reports/{campaign_id}/advice
    open-reports:
      title: Campaign Open Reports
      description: 'Get a detailed report about any emails in a specific campaign that were opened by the recipient. '
      paths:
      - /reports/{campaign_id}/open-details
      - /reports/{campaign_id}/open-details/{subscriber_hash}
    click-reports:
      title: Click Reports
      description: Get detailed information about links clicked in campaigns.
      paths:
      - /reports/{campaign_id}/click-details
      - /reports/{campaign_id}/click-details/{link_id}
      subResources:
      - link-clickers
    campaign-ecommerce-product-activity:
      title: Ecommerce Product Activity
      description: Ecommerce product activity report for a campaign.
      paths:
      - /reports/{campaign_id}/ecommerce-product-activity
    link-clickers:
      title: Click Reports Members
      description: Get information about specific subscribers who clicked on links in a campaign.
      paths:
      - /reports/{campaign_id}/click-details/{link_id}/members
      - /reports/{campaign_id}/click-details/{link_id}/members/{subscriber_hash}
    domain-performance-reports:
      title: Domain Performance
      description: Get statistics for the top-performing domains from a campaign.
      paths:
      - /reports/{campaign_id}/domain-performance
    eepurl-reports:
      title: EepURL Reports
      description: Get a summary of social activity for the campaign, tracked by EepURL.
      paths:
      - /reports/{campaign_id}/eepurl
    email-activity-reports:
      title: Email Activity
      description: Get list member activity for a specific campaign.
      paths:
      - /reports/{campaign_id}/email-activity
      - /reports/{campaign_id}/email-activity/{subscriber_hash}
    location-reports:
      title: Location
      description: Get top open locations for a specific campaign.
      paths:
      - /reports/{campaign_id}/locations
    sent-to-reports:
      title: Sent To
      description: Get details about campaign recipients.
      paths:
      - /reports/{campaign_id}/sent-to
      - /reports/{campaign_id}/sent-to/{subscriber_hash}
    sub-reports:
      title: Sub-Reports
      description: A list of reports for child campaigns of a specific parent campaign. For example, use this endpoint to view Multivariate, RSS, and A/B Testing Campaign reports.
      paths:
      - /reports/{campaign_id}/sub-reports
    unsub-reports:
      title: Unsubscribes
      description: Get information about list members who unsubscribed from a specific campaign.
      paths:
      - /reports/{campaign_id}/unsubscribed
      - /reports/{campaign_id}/unsubscribed/{subscriber_hash}
    templates:
      title: Templates
      description: 'Manage your Mailchimp templates. A template is an HTML file used to create the layout and basic design for a campaign. '
      paths:
      - /templates
      - /templates/{template_id}
      subResources:
      - template-default-content
    template-default-content:
      title: Default Content
      description: Manage the default content for a Mailchimp template.
      paths:
      - /templates/{template_id}/default-content
    template-folders:
      title: Template Folders
      description: Organize your templates using folders.
      paths:
      - /template-folders
      - /template-folders/{folder_id}
    campaign-folders:
      title: Campaign Folders
      description: Organize your campaigns using folders.
      paths:
      - /campaign-folders
      - /campaign-folders/{folder_id}
    ecommerce-stores:
      title: E-commerce Stores
      description: Connect your E-commerce Store to Mailchimp to take advantage of powerful reporting and personalization features and to learn more about your customers.
      paths:
      - /ecommerce/stores
      - /ecommerce/stores/{store_id}
      subResources:
      - ecommerce-customers
      - ecommerce-orders
      - ecommerce-products
      - ecommerce-carts
      - ecommerce-promo-rules
    ecommerce-customers:
      title: Customers
      description: Add Customers to your Store to track their orders and to view E-Commerce Data for your Mailchimp lists and campaigns. Each Customer is connected to a Mailchimp list member, so adding a Customer can also add or update a list member.
      paths:
      - /ecommerce/stores/{store_id}/customers
      - /ecommerce/stores/{store_id}/customers/{customer_id}
    ecommerce-promo-rules:
      title: Promo Rules
      description: Promo Rules help you create promo codes for your campaigns. Promo Rules define generic information about promo codes like expiration time, start time, amount of discount being offered etc. For a given promo rule you can define if it's a percentage discount or a fixed amount and if it applies for the order as a whole or if it's per item or free shipping. You can then create promo codes for this price rule. Promo codes contain the actual code that is applied at checkout along with some other information. Price Rules have one to many relationship with promo codes.
      paths:
      - /ecommerce/stores/{store_id}/promo-rules
      - /ecommerce/stores/{store_id}/promo-rules/{promo_rule_id}
      subResources:
      - ecommerce-promo-codes
    ecommerce-promo-codes:
      title: Promo Codes
[...]
