openapi: 3.2.0
info:
  version: 1.4.1
  title: Mailchimp Transactional Webhooks API
  contact:
    name: API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/transactional.openapi.json
servers:
- url: https://mandrillapp.com/api/1.3
tags:
- name: Webhooks
paths:
  /webhooks/list:
    post:
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      summary: List webhooks
      description: Get the list of all webhooks defined on the account.
      operationId: postWebhooksList
      tags:
      - Webhooks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                description: the webhooks associated with the account
                items:
                  type: object
                  description: the individual webhook info
                  properties:
                    id:
                      type: integer
                      description: a unique integer indentifier for the webhook
                      example: 1131
                    url:
                      type: string
                      description: The URL that the event data will be posted to
                      example: http://example.com/webhook
                    description:
                      type: string
                      description: a description of the webhook
                      example: My webhook
                    auth_key:
                      type: string
                      description: the key used to requests for this webhook
                      example: UHeOnTqMBMGqAEMadhA6xQ
                    events:
                      type: array
                      description: The message events that will be posted to the hook
                      items:
                        type: string
                        description: the individual message event
                        enum:
                        - send
                        - hard_bounce
                        - soft_bounce
                        - open
                        - click
                        - spam
                        - unsub
                        - reject
                        example: send
                    created_at:
                      type: string
                      format: date-time
                      description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-04-29 12:00:00'
                    last_sent_at:
                      type: string
                      format: date-time
                      description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-04-29 14:00:00'
                    batches_sent:
                      type: integer
                      description: the number of event batches that have ever been sent to this webhook
                      example: 4105
                    events_sent:
                      type: integer
                      description: the total number of events that have ever been sent to this webhook
                      example: 10000
                    last_error:
                      type: string
                      description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                      example: Connection timed out
            application/x-php:
              schema:
                type: array
                description: the webhooks associated with the account
                items:
                  type: object
                  description: the individual webhook info
                  properties:
                    id:
                      type: integer
                      description: a unique integer indentifier for the webhook
                      example: 1131
                    url:
                      type: string
                      description: The URL that the event data will be posted to
                      example: http://example.com/webhook
                    description:
                      type: string
                      description: a description of the webhook
                      example: My webhook
                    auth_key:
                      type: string
                      description: the key used to requests for this webhook
                      example: UHeOnTqMBMGqAEMadhA6xQ
                    events:
                      type: array
                      description: The message events that will be posted to the hook
                      items:
                        type: string
                        description: the individual message event
                        enum:
                        - send
                        - hard_bounce
                        - soft_bounce
                        - open
                        - click
                        - spam
                        - unsub
                        - reject
                        example: send
                    created_at:
                      type: string
                      format: date-time
                      description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-04-29 12:00:00'
                    last_sent_at:
                      type: string
                      format: date-time
                      description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-04-29 14:00:00'
                    batches_sent:
                      type: integer
                      description: the number of event batches that have ever been sent to this webhook
                      example: 4105
                    events_sent:
                      type: integer
                      description: the total number of events that have ever been sent to this webhook
                      example: 10000
                    last_error:
                      type: string
                      description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                      example: Connection timed out
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the webhooks associated with the account
                items:
                  type: object
                  description: the individual webhook info
                  properties:
                    id:
                      type: integer
                      description: a unique integer indentifier for the webhook
                      example: 1131
                    url:
                      type: string
                      description: The URL that the event data will be posted to
                      example: http://example.com/webhook
                    description:
                      type: string
                      description: a description of the webhook
                      example: My webhook
                    auth_key:
                      type: string
                      description: the key used to requests for this webhook
                      example: UHeOnTqMBMGqAEMadhA6xQ
                    events:
                      type: array
                      description: The message events that will be posted to the hook
                      items:
                        type: string
                        description: the individual message event
                        enum:
                        - send
                        - hard_bounce
                        - soft_bounce
                        - open
                        - click
                        - spam
                        - unsub
                        - reject
                        example: send
                    created_at:
                      type: string
                      format: date-time
                      description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-04-29 12:00:00'
                    last_sent_at:
                      type: string
                      format: date-time
                      description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-04-29 14:00:00'
                    batches_sent:
                      type: integer
                      description: the number of event batches that have ever been sent to this webhook
                      example: 4105
                    events_sent:
                      type: integer
                      description: the total number of events that have ever been sent to this webhook
                      example: 10000
                    last_error:
                      type: string
                      description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                      example: Connection timed out
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: a valid api key
        required: true
  /webhooks/add:
    post:
      x-custom-config:
        methodNameCamel: add
        methodNameSnake: add
      summary: Add webhook
      description: Add a new webhook.
      operationId: postWebhooksAdd
      tags:
      - Webhooks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: the information saved about the new webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 0
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 0
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
            application/x-php:
              schema:
                type: object
                description: the information saved about the new webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 0
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 0
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: the information saved about the new webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 0
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 0
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - url
              properties:
                key:
                  type: string
                  description: a valid api key
                url:
                  type: string
                  description: the URL to POST batches of events
                description:
                  type: string
                  description: an optional description of the webhook
                events:
                  type: array
                  description: an optional list of events that will be posted to the webhook
                  items:
                    type: object
                    description: the individual event to listen for
                    enum:
                    - send
                    - hard_bounce
                    - soft_bounce
                    - open
                    - click
                    - spam
                    - unsub
                    - reject
                    - blacklist
                    - whitelist
        required: true
  /webhooks/info:
    post:
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      summary: Get webhook info
      description: Given the ID of an existing webhook, return the data about it.
      operationId: postWebhooksInfo
      tags:
      - Webhooks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: the information about the webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 12
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 20
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
            application/x-php:
              schema:
                type: object
                description: the information about the webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 12
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 20
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: the information about the webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 12
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 20
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: a valid api key
                id:
                  type: integer
                  description: the unique identifier of a webhook belonging to this account
        required: true
  /webhooks/update:
    post:
      x-custom-config:
        methodNameCamel: update
        methodNameSnake: update
      summary: Update webhook
      description: Update an existing webhook.
      operationId: postWebhooksUpdate
      tags:
      - Webhooks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: the information for the updated webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 12
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 100
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
            application/x-php:
              schema:
                type: object
                description: the information for the updated webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 12
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 100
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: the information for the updated webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 12
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 100
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              - url
              properties:
                key:
                  type: string
                  description: a valid api key
                id:
                  type: number
                  description: the unique identifier of a webhook belonging to this account
                url:
                  type: string
                  description: the URL to POST batches of events. Requires webhook to exist.
                description:
                  type: string
                  description: an optional description of the webhook
                events:
                  type: array
                  description: an optional list of events that will be posted to the webhook
                  items:
                    type: object
                    description: the individual event to listen for
                    enum:
                    - send
                    - hard_bounce
                    - soft_bounce
                    - open
                    - click
                    - spam
                    - unsub
                    - reject
                    - blacklist
                    - whitelist
        required: true
  /webhooks/delete:
    post:
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      summary: Delete webhook
      description: Delete an existing webhook.
      operationId: postWebhooksDelete
      tags:
      - Webhooks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: the information for the deleted webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 100
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 100
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
            application/x-php:
              schema:
                type: object
                description: the information for the deleted webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 100
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 100
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: the information for the deleted webhook
                properties:
                  id:
                    type: integer
                    description: a unique integer indentifier for the webhook
                    example: 1131
                  url:
                    type: string
                    description: The URL that the event data will be posted to
                    example: http://example.com/webhook
                  description:
                    type: string
                    description: a description of the webhook
                    example: My webhook
                  auth_key:
                    type: string
                    description: the key used to requests for this webhook
                    example: UHeOnTqMBMGqAEMadhA6xQ
                  events:
                    type: array
                    description: The message events that will be posted to the hook
                    items:
                      type: string
                      description: the individual message event
                      enum:
                      - send
                      - hard_bounce
                      - soft_bounce
                      - open
                      - click
                      - spam
                      - unsub
                      - reject
                      example: send
                  created_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook was created as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 12:00:00'
                  last_sent_at:
                    type: string
                    format: date-time
                    description: the date and time that the webhook last successfully received events as a UTC string in YYYY-MM-DD HH:MM:SS format
                    example: '2025-04-29 14:00:00'
                  batches_sent:
                    type: integer
                    description: the number of event batches that have ever been sent to this webhook
                    example: 100
                  events_sent:
                    type: integer
                    description: the total number of events that have ever been sent to this webhook
                    example: 100
                  last_error:
                    type: string
                    description: if we've ever gotten an error trying to post to this webhook, the last error that we've seen
                    example: Connection timed out
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: a valid api key
                id:
                  type: integer
                  description: the unique identifier of a webhook belonging to this account
        required: true
x-doc-structure:
  resources:
    allowlists:
      title: Allowlists
      description: Add, list, or delete from your Rejection Allowlist.
      paths:
      - /allowlists/add
      - /allowlists/list
      - /allowlists/delete
    exports:
      title: Exports
      description: Start an export, or get information on export jobs in progress.
      paths:
      - /exports/info
      - /exports/list
      - /exports/rejects
      - /exports/whitelist
      - /exports/allowlist
      - /exports/activity
    inbound:
      title: Inbound
      description: Manage your inbound domains and routes.
      paths:
      - /inbound/domains
      - /inbound/add-domain
      - /inbound/check-domain
      - /inbound/delete-domain
      - /inbound/routes
      - /inbound/add-route
      - /inbound/update-route
      - /inbound/delete-route
      - /inbound/send-raw
    ips:
      title: IPs
      description: Request and manage Dedicated IPs for your account, and set up reverse DNS.
      paths:
      - /ips/list
      - /ips/info
      - /ips/provision
      - /ips/start-warmup
      - /ips/cancel-warmup
      - /ips/set-pool
      - /ips/delete
      - /ips/list-pools
      - /ips/pool-info
      - /ips/create-pool
      - /ips/delete-pool
      - /ips/check-custom-dns
      - /ips/set-custom-dns
    messages:
      title: Messages
      description: Send, schedule, or get information on your emails.
      paths:
      - /messages/send
      - /messages/send-sms
      - /messages/send-template
      - /messages/send-mc-template
      - /messages/search
      - /messages/search-time-series
      - /messages/info
      - /messages/content
      - /messages/parse
      - /messages/send-raw
      - /messages/list-scheduled
      - /messages/cancel-scheduled
      - /messages/reschedule
    metadata:
      title: Metadata
      description: Manage your custom metadata fields in your account.
      paths:
      - /metadata/list
      - /metadata/add
      - /metadata/update
      - /metadata/delete
    rejects:
      title: Rejects
      description: Add, list, or delete from your Rejection Denylist.
      paths:
      - /rejects/add
      - /rejects/add-sms
      - /rejects/delete
      - /rejects/delete-sms
      - /rejects/list
      - /rejects/list-sms
    senders:
      title: Senders
      description: Manage or get information about your sending domains.
      paths:
      - /senders/list
      - /senders/domains
      - /senders/add-domain
      - /senders/delete-domain
      - /senders/check-domain
      - /senders/verify-domain
      - /senders/info
      - /senders/time-series
    subaccounts:
      title: Subaccounts
      description: Manage your subaccounts, including the abilitiy to pause and resume sending.
      paths:
      - /subaccounts/list
      - /subaccounts/add
      - /subaccounts/info
      - /subaccounts/update
      - /subaccounts/delete
      - /subaccounts/pause
      - /subaccounts/resume
    tags:
      title: Tags
      description: List, delete, or get information on your Tags and their sending statistics.
      paths:
      - /tags/list
      - /tags/delete
      - /tags/info
      - /tags/time-series
      - /tags/all-time-series
    templates:
      title: Templates
      description: Manage templates created via the Mandrill UI or through the /templates endpoint.
      paths:
      - /templates/add
      - /templates/info
      - /templates/update
      - /templates/publish
      - /templates/delete
      - /templates/list
      - /templates/time-series
      - /templates/render
    mctemplates:
      title: Templates (MC)
      description: Manage templates created via the Mailchimp UI.
      paths:
      - /mctemplates/info
      - /mctemplates/list
      - /mctemplates/time-series
      - /mctemplates/render
    urls:
      title: URLs
      description: Manage your tracking domains.
      paths:
      - /urls/add-tracking-domain
      - /urls/check-tracking-domain
      - /urls/delete-tracking-domain
      - /urls/tracking-domains
    users:
      title: Users
      description: Get information about your account, or ping Transactional.
      paths:
      - /users/info
      - /users/ping
      - /users/ping2
      - /users/senders
    webhooks:
      title: Webhooks
      description: Manage the webhooks in your account.
      paths:
      - /webhooks/list
      - /webhooks/add
      - /webhooks/info
      - /webhooks/update
      - /webhooks/delete
