openapi: 3.2.0
info:
  version: 1.4.1
  title: Mailchimp Transactional Tags API
  contact:
    name: API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/transactional.openapi.json
servers:
- url: https://mandrillapp.com/api/1.3
tags:
- name: Tags
paths:
  /tags/list:
    post:
      x-custom-config:
        methodNameCamel: list
        methodNameSnake: list
      summary: List tags
      description: Return all of the user-defined tag information.
      operationId: postTagsList
      tags:
      - Tags
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                description: a list of user-defined tags
                items:
                  type: object
                  description: a user-defined tag
                  properties:
                    tag:
                      type: string
                      description: the actual tag as a string
                      example: my_tag
                    reputation:
                      type: integer
                      description: the tag's current reputation on a scale from 0 to 100.
                      minimum: 0
                      maximum: 100
                      example: 95
                    sent:
                      type: integer
                      description: the total number of messages sent with this tag
                      example: 1000
                    hard_bounces:
                      type: integer
                      description: the total number of hard bounces by messages with this tag
                      example: 50
                    soft_bounces:
                      type: integer
                      description: the total number of soft bounces by messages with this tag
                      example: 25
                    rejects:
                      type: integer
                      description: the total number of rejected messages with this tag
                      example: 10
                    complaints:
                      type: integer
                      description: the total number of spam complaints received for messages with this tag
                      example: 5
                    unsubs:
                      type: integer
                      description: the total number of unsubscribe requests received for messages with this tag
                      example: 2
                    opens:
                      type: integer
                      description: the total number of times messages with this tag have been opened
                      example: 5000
                    clicks:
                      type: integer
                      description: the total number of times tracked URLs in messages with this tag have been clicked
                      example: 1000
                    unique_opens:
                      type: integer
                      description: the number of unique opens for emails sent with this tag
                      example: 4500
                    unique_clicks:
                      type: integer
                      description: the number of unique clicks for emails sent with this tag
                      example: 900
            application/x-php:
              schema:
                type: array
                description: a list of user-defined tags
                items:
                  type: object
                  description: a user-defined tag
                  properties:
                    tag:
                      type: string
                      description: the actual tag as a string
                      example: my_tag
                    reputation:
                      type: integer
                      description: the tag's current reputation on a scale from 0 to 100.
                      minimum: 0
                      maximum: 100
                      example: 95
                    sent:
                      type: integer
                      description: the total number of messages sent with this tag
                      example: 1000
                    hard_bounces:
                      type: integer
                      description: the total number of hard bounces by messages with this tag
                      example: 50
                    soft_bounces:
                      type: integer
                      description: the total number of soft bounces by messages with this tag
                      example: 25
                    rejects:
                      type: integer
                      description: the total number of rejected messages with this tag
                      example: 10
                    complaints:
                      type: integer
                      description: the total number of spam complaints received for messages with this tag
                      example: 5
                    unsubs:
                      type: integer
                      description: the total number of unsubscribe requests received for messages with this tag
                      example: 2
                    opens:
                      type: integer
                      description: the total number of times messages with this tag have been opened
                      example: 5000
                    clicks:
                      type: integer
                      description: the total number of times tracked URLs in messages with this tag have been clicked
                      example: 1000
                    unique_opens:
                      type: integer
                      description: the number of unique opens for emails sent with this tag
                      example: 4500
                    unique_clicks:
                      type: integer
                      description: the number of unique clicks for emails sent with this tag
                      example: 900
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: a list of user-defined tags
                items:
                  type: object
                  description: a user-defined tag
                  properties:
                    tag:
                      type: string
                      description: the actual tag as a string
                      example: my_tag
                    reputation:
                      type: integer
                      description: the tag's current reputation on a scale from 0 to 100.
                      minimum: 0
                      maximum: 100
                      example: 95
                    sent:
                      type: integer
                      description: the total number of messages sent with this tag
                      example: 1000
                    hard_bounces:
                      type: integer
                      description: the total number of hard bounces by messages with this tag
                      example: 50
                    soft_bounces:
                      type: integer
                      description: the total number of soft bounces by messages with this tag
                      example: 25
                    rejects:
                      type: integer
                      description: the total number of rejected messages with this tag
                      example: 10
                    complaints:
                      type: integer
                      description: the total number of spam complaints received for messages with this tag
                      example: 5
                    unsubs:
                      type: integer
                      description: the total number of unsubscribe requests received for messages with this tag
                      example: 2
                    opens:
                      type: integer
                      description: the total number of times messages with this tag have been opened
                      example: 5000
                    clicks:
                      type: integer
                      description: the total number of times tracked URLs in messages with this tag have been clicked
                      example: 1000
                    unique_opens:
                      type: integer
                      description: the number of unique opens for emails sent with this tag
                      example: 4500
                    unique_clicks:
                      type: integer
                      description: the number of unique clicks for emails sent with this tag
                      example: 900
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: a valid api key
        required: true
  /tags/delete:
    post:
      x-custom-config:
        methodNameCamel: delete
        methodNameSnake: delete
      summary: Delete tag
      description: Deletes a tag permanently. Deleting a tag removes the tag from any messages that have been sent, and also deletes the tag's stats. There is no way to undo this operation, so use it carefully.
      operationId: postTagsDelete
      tags:
      - Tags
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: the tag that was deleted
                properties:
                  tag:
                    type: string
                    description: the actual tag as a string
                    example: my_tag
                  reputation:
                    type: integer
                    description: the tag's current reputation on a scale from 0 to 100.
                    minimum: 0
                    maximum: 100
                    example: 95
                  sent:
                    type: integer
                    description: the total number of messages sent with this tag
                    example: 1000
                  hard_bounces:
                    type: integer
                    description: the total number of hard bounces by messages with this tag
                    example: 50
                  soft_bounces:
                    type: integer
                    description: the total number of soft bounces by messages with this tag
                    example: 25
                  rejects:
                    type: integer
                    description: the total number of rejected messages with this tag
                    example: 10
                  complaints:
                    type: integer
                    description: the total number of spam complaints received for messages with this tag
                    example: 5
                  unsubs:
                    type: integer
                    description: the total number of unsubscribe requests received for messages with this tag
                    example: 2
                  opens:
                    type: integer
                    description: the total number of times messages with this tag have been opened
                    example: 100
                  clicks:
                    type: integer
                    description: the total number of times tracked URLs in messages with this tag have been clicked
                    example: 50
                  unique_opens:
                    type: integer
                    description: the number of unique opens for emails sent with this tag
                    example: 75
                  unique_clicks:
                    type: integer
                    description: the number of unique clicks for emails sent with this tag
                    example: 30
            application/x-php:
              schema:
                type: object
                description: the tag that was deleted
                properties:
                  tag:
                    type: string
                    description: the actual tag as a string
                    example: my_tag
                  reputation:
                    type: integer
                    description: the tag's current reputation on a scale from 0 to 100.
                    minimum: 0
                    maximum: 100
                    example: 95
                  sent:
                    type: integer
                    description: the total number of messages sent with this tag
                    example: 1000
                  hard_bounces:
                    type: integer
                    description: the total number of hard bounces by messages with this tag
                    example: 50
                  soft_bounces:
                    type: integer
                    description: the total number of soft bounces by messages with this tag
                    example: 25
                  rejects:
                    type: integer
                    description: the total number of rejected messages with this tag
                    example: 10
                  complaints:
                    type: integer
                    description: the total number of spam complaints received for messages with this tag
                    example: 5
                  unsubs:
                    type: integer
                    description: the total number of unsubscribe requests received for messages with this tag
                    example: 2
                  opens:
                    type: integer
                    description: the total number of times messages with this tag have been opened
                    example: 100
                  clicks:
                    type: integer
                    description: the total number of times tracked URLs in messages with this tag have been clicked
                    example: 50
                  unique_opens:
                    type: integer
                    description: the number of unique opens for emails sent with this tag
                    example: 75
                  unique_clicks:
                    type: integer
                    description: the number of unique clicks for emails sent with this tag
                    example: 30
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: the tag that was deleted
                properties:
                  tag:
                    type: string
                    description: the actual tag as a string
                    example: my_tag
                  reputation:
                    type: integer
                    description: the tag's current reputation on a scale from 0 to 100.
                    minimum: 0
                    maximum: 100
                    example: 95
                  sent:
                    type: integer
                    description: the total number of messages sent with this tag
                    example: 1000
                  hard_bounces:
                    type: integer
                    description: the total number of hard bounces by messages with this tag
                    example: 50
                  soft_bounces:
                    type: integer
                    description: the total number of soft bounces by messages with this tag
                    example: 25
                  rejects:
                    type: integer
                    description: the total number of rejected messages with this tag
                    example: 10
                  complaints:
                    type: integer
                    description: the total number of spam complaints received for messages with this tag
                    example: 5
                  unsubs:
                    type: integer
                    description: the total number of unsubscribe requests received for messages with this tag
                    example: 2
                  opens:
                    type: integer
                    description: the total number of times messages with this tag have been opened
                    example: 100
                  clicks:
                    type: integer
                    description: the total number of times tracked URLs in messages with this tag have been clicked
                    example: 50
                  unique_opens:
                    type: integer
                    description: the number of unique opens for emails sent with this tag
                    example: 75
                  unique_clicks:
                    type: integer
                    description: the number of unique clicks for emails sent with this tag
                    example: 30
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - tag
              properties:
                key:
                  type: string
                  description: a valid api key
                tag:
                  type: string
                  description: a tag name
        required: true
  /tags/info:
    post:
      x-custom-config:
        methodNameCamel: info
        methodNameSnake: info
      summary: Get tag info
      description: Return more detailed information about a single tag, including aggregates of recent stats.
      operationId: postTagsInfo
      tags:
      - Tags
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: the detailed information on the tag
                properties:
                  tag:
                    type: string
                    description: the actual tag as a string
                    example: my_tag
                  sent:
                    type: integer
                    description: the total number of messages sent with this tag
                    example: 100
                  hard_bounces:
                    type: integer
                    description: the total number of hard bounces by messages with this tag
                    example: 5
                  soft_bounces:
                    type: integer
                    description: the total number of soft bounces by messages with this tag
                    example: 25
                  rejects:
                    type: integer
                    description: the total number of rejected messages with this tag
                    example: 10
                  complaints:
                    type: integer
                    description: the total number of spam complaints received for messages with this tag
                    example: 2
                  unsubs:
                    type: integer
                    description: the total number of unsubscribe requests received for messages with this tag
                    example: 1
                  opens:
                    type: integer
                    description: the total number of times messages with this tag have been opened
                    example: 50
                  clicks:
                    type: integer
                    description: the total number of times tracked URLs in messages with this tag have been clicked
                    example: 25
                  stats:
                    type: object
                    description: an aggregate summary of the tag's sending stats
                    properties:
                      today:
                        type: object
                        description: stats with this tag so far today
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag so far today
                            example: 10
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag so far today
                            example: 1
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag so far today
                            example: 2
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender so far today
                            example: 1
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag so far today
                            example: 2
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag so far today
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag so far today
                            example: 50
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag so far today
                            example: 40
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag so far today
                            example: 25
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag so far today
                            example: 20
                      last_7_days:
                        type: object
                        description: stats with this tag in the last 7 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 7 days
                            example: 70
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 7 days
                            example: 5
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 7 days
                            example: 2
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 7 days
                            example: 1
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 7 days
                            example: 2
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 7 days
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 7 days
                            example: 50
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 7 days
                            example: 40
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 7 days
                            example: 70
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 7 days
                            example: 60
                      last_30_days:
                        type: object
                        description: stats with this tag in the last 30 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 30 days
                            example: 300
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 30 days
                            example: 50
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 30 days
                            example: 25
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 30 days
                            example: 10
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 30 days
                            example: 5
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 30 days
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 30 days
                            example: 100
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 30 days
                            example: 80
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 30 days
                            example: 60
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 30 days
                            example: 50
                      last_60_days:
                        type: object
                        description: stats with this tag in the last 60 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 60 days
                            example: 600
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 60 days
                            example: 25
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 60 days
                            example: 10
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 60 days
                            example: 5
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 60 days
                            example: 2
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 60 days
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 60 days
                            example: 100
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 60 days
                            example: 80
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 60 days
                            example: 50
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 60 days
                            example: 40
                      last_90_days:
                        type: object
                        description: stats with this tag in the last 90 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 90 days
                            example: 900
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 90 days
                            example: 10
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 90 days
                            example: 5
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 90 days
                            example: 2
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 90 days
                            example: 1
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 90 days
                            example: 0
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 90 days
                            example: 100
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 90 days
                            example: 80
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 90 days
                            example: 50
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 90 days
                            example: 40
            application/x-php:
              schema:
                type: object
                description: the detailed information on the tag
                properties:
                  tag:
                    type: string
                    description: the actual tag as a string
                    example: my_tag
                  sent:
                    type: integer
                    description: the total number of messages sent with this tag
                    example: 100
                  hard_bounces:
                    type: integer
                    description: the total number of hard bounces by messages with this tag
                    example: 5
                  soft_bounces:
                    type: integer
                    description: the total number of soft bounces by messages with this tag
                    example: 25
                  rejects:
                    type: integer
                    description: the total number of rejected messages with this tag
                    example: 10
                  complaints:
                    type: integer
                    description: the total number of spam complaints received for messages with this tag
                    example: 2
                  unsubs:
                    type: integer
                    description: the total number of unsubscribe requests received for messages with this tag
                    example: 1
                  opens:
                    type: integer
                    description: the total number of times messages with this tag have been opened
                    example: 50
                  clicks:
                    type: integer
                    description: the total number of times tracked URLs in messages with this tag have been clicked
                    example: 25
                  stats:
                    type: object
                    description: an aggregate summary of the tag's sending stats
                    properties:
                      today:
                        type: object
                        description: stats with this tag so far today
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag so far today
                            example: 10
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag so far today
                            example: 1
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag so far today
                            example: 2
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender so far today
                            example: 1
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag so far today
                            example: 2
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag so far today
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag so far today
                            example: 50
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag so far today
                            example: 40
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag so far today
                            example: 25
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag so far today
                            example: 20
                      last_7_days:
                        type: object
                        description: stats with this tag in the last 7 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 7 days
                            example: 70
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 7 days
                            example: 5
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 7 days
                            example: 2
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 7 days
                            example: 1
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 7 days
                            example: 2
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 7 days
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 7 days
                            example: 50
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 7 days
                            example: 40
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 7 days
                            example: 70
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 7 days
                            example: 60
                      last_30_days:
                        type: object
                        description: stats with this tag in the last 30 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 30 days
                            example: 300
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 30 days
                            example: 50
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 30 days
                            example: 25
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 30 days
                            example: 10
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 30 days
                            example: 5
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 30 days
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 30 days
                            example: 100
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 30 days
                            example: 80
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 30 days
                            example: 60
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 30 days
                            example: 50
                      last_60_days:
                        type: object
                        description: stats with this tag in the last 60 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 60 days
                            example: 600
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 60 days
                            example: 25
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 60 days
                            example: 10
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 60 days
                            example: 5
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 60 days
                            example: 2
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 60 days
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 60 days
                            example: 100
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 60 days
                            example: 80
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 60 days
                            example: 50
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 60 days
                            example: 40
                      last_90_days:
                        type: object
                        description: stats with this tag in the last 90 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 90 days
                            example: 900
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 90 days
                            example: 10
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 90 days
                            example: 5
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 90 days
                            example: 2
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 90 days
                            example: 1
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 90 days
                            example: 0
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 90 days
                            example: 100
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 90 days
                            example: 80
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 90 days
                            example: 50
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 90 days
                            example: 40
            application/x-yaml; charset=utf-8:
              schema:
                type: object
                description: the detailed information on the tag
                properties:
                  tag:
                    type: string
                    description: the actual tag as a string
                    example: my_tag
                  sent:
                    type: integer
                    description: the total number of messages sent with this tag
                    example: 100
                  hard_bounces:
                    type: integer
                    description: the total number of hard bounces by messages with this tag
                    example: 5
                  soft_bounces:
                    type: integer
                    description: the total number of soft bounces by messages with this tag
                    example: 25
                  rejects:
                    type: integer
                    description: the total number of rejected messages with this tag
                    example: 10
                  complaints:
                    type: integer
                    description: the total number of spam complaints received for messages with this tag
                    example: 2
                  unsubs:
                    type: integer
                    description: the total number of unsubscribe requests received for messages with this tag
                    example: 1
                  opens:
                    type: integer
                    description: the total number of times messages with this tag have been opened
                    example: 50
                  clicks:
                    type: integer
                    description: the total number of times tracked URLs in messages with this tag have been clicked
                    example: 25
                  stats:
                    type: object
                    description: an aggregate summary of the tag's sending stats
                    properties:
                      today:
                        type: object
                        description: stats with this tag so far today
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag so far today
                            example: 10
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag so far today
                            example: 1
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag so far today
                            example: 2
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender so far today
                            example: 1
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag so far today
                            example: 2
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag so far today
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag so far today
                            example: 50
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag so far today
                            example: 40
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag so far today
                            example: 25
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag so far today
                            example: 20
                      last_7_days:
                        type: object
                        description: stats with this tag in the last 7 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 7 days
                            example: 70
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 7 days
                            example: 5
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 7 days
                            example: 2
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 7 days
                            example: 1
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 7 days
                            example: 2
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 7 days
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 7 days
                            example: 50
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 7 days
                            example: 40
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 7 days
                            example: 70
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 7 days
                            example: 60
                      last_30_days:
                        type: object
                        description: stats with this tag in the last 30 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 30 days
                            example: 300
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 30 days
                            example: 50
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 30 days
                            example: 25
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 30 days
                            example: 10
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 30 days
                            example: 5
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 30 days
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 30 days
                            example: 100
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 30 days
                            example: 80
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 30 days
                            example: 60
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 30 days
                            example: 50
                      last_60_days:
                        type: object
                        description: stats with this tag in the last 60 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 60 days
                            example: 600
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 60 days
                            example: 25
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 60 days
                            example: 10
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 60 days
                            example: 5
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 60 days
                            example: 2
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 60 days
                            example: 1
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 60 days
                            example: 100
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 60 days
                            example: 80
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 60 days
                            example: 50
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 60 days
                            example: 40
                      last_90_days:
                        type: object
                        description: stats with this tag in the last 90 days
                        properties:
                          sent:
                            type: integer
                            description: the number of emails sent with this tag in the last 90 days
                            example: 900
                          hard_bounces:
                            type: integer
                            description: the number of emails hard bounced with this tag in the last 90 days
                            example: 10
                          soft_bounces:
                            type: integer
                            description: the number of emails soft bounced with this tag in the last 90 days
                            example: 5
                          rejects:
                            type: integer
                            description: the number of emails rejected for sending this sender in the last 90 days
                            example: 2
                          complaints:
                            type: integer
                            description: the number of spam complaints with this tag in the last 90 days
                            example: 1
                          unsubs:
                            type: integer
                            description: the number of unsubscribes with this tag in the last 90 days
                            example: 0
                          opens:
                            type: integer
                            description: the number of times emails have been opened with this tag in the last 90 days
                            example: 100
                          unique_opens:
                            type: integer
                            description: the number of unique opens for emails sent with this tag in the last 90 days
                            example: 80
                          clicks:
                            type: integer
                            description: the number of URLs that have been clicked with this tag in the last 90 days
                            example: 50
                          unique_clicks:
                            type: integer
                            description: the number of unique clicks for emails sent with this tag in the last 90 days
                            example: 40
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - tag
              properties:
                key:
                  type: string
                  description: a valid api key
                tag:
                  type: string
                  description: an existing tag name
        required: true
  /tags/time-series:
    post:
      x-custom-config:
        methodNameCamel: timeSeries
        methodNameSnake: time_series
      summary: View tag history
      description: Return the recent history (hourly stats for the last 30 days) for a tag.
      operationId: postTagsTimeSeries
      tags:
      - Tags
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                description: the array of history information
                items:
                  type: object
                  description: the stats for a single hour
                  properties:
                    time:
                      type: string
                      format: date-time
                      description: the hour as a UTC date string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-08-01 13:00:00'
                    sent:
                      type: integer
                      description: the number of emails that were sent during the hour
                      example: 10
                    hard_bounces:
                      type: integer
                      description: the number of emails that hard bounced during the hour
                      example: 1
                    soft_bounces:
                      type: integer
                      description: the number of emails that soft bounced during the hour
                      example: 0
                    rejects:
                      type: integer
                      description: the number of emails that were rejected during the hour
                      example: 0
                    complaints:
                      type: integer
                      description: the number of spam complaints received during the hour
                      example: 0
                    unsubs:
                      type: integer
                      description: the number of unsubscribes received during the hour
                      example: 0
                    opens:
                      type: integer
                      description: the number of emails opened during the hour
                      example: 5
                    unique_opens:
                      type: integer
                      description: the number of unique opens generated by messages sent during the hour
                      example: 4
                    clicks:
                      type: integer
                      description: the number of tracked URLs clicked during the hour
                      example: 3
                    unique_clicks:
                      type: integer
                      description: the number of unique clicks generated by messages sent during the hour
                      example: 2
            application/x-php:
              schema:
                type: array
                description: the array of history information
                items:
                  type: object
                  description: the stats for a single hour
                  properties:
                    time:
                      type: string
                      format: date-time
                      description: the hour as a UTC date string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-08-01 13:00:00'
                    sent:
                      type: integer
                      description: the number of emails that were sent during the hour
                      example: 10
                    hard_bounces:
                      type: integer
                      description: the number of emails that hard bounced during the hour
                      example: 1
                    soft_bounces:
                      type: integer
                      description: the number of emails that soft bounced during the hour
                      example: 0
                    rejects:
                      type: integer
                      description: the number of emails that were rejected during the hour
                      example: 0
                    complaints:
                      type: integer
                      description: the number of spam complaints received during the hour
                      example: 0
                    unsubs:
                      type: integer
                      description: the number of unsubscribes received during the hour
                      example: 0
                    opens:
                      type: integer
                      description: the number of emails opened during the hour
                      example: 5
                    unique_opens:
                      type: integer
                      description: the number of unique opens generated by messages sent during the hour
                      example: 4
                    clicks:
                      type: integer
                      description: the number of tracked URLs clicked during the hour
                      example: 3
                    unique_clicks:
                      type: integer
                      description: the number of unique clicks generated by messages sent during the hour
                      example: 2
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the array of history information
                items:
                  type: object
                  description: the stats for a single hour
                  properties:
                    time:
                      type: string
                      format: date-time
                      description: the hour as a UTC date string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-08-01 13:00:00'
                    sent:
                      type: integer
                      description: the number of emails that were sent during the hour
                      example: 10
                    hard_bounces:
                      type: integer
                      description: the number of emails that hard bounced during the hour
                      example: 1
                    soft_bounces:
                      type: integer
                      description: the number of emails that soft bounced during the hour
                      example: 0
                    rejects:
                      type: integer
                      description: the number of emails that were rejected during the hour
                      example: 0
                    complaints:
                      type: integer
                      description: the number of spam complaints received during the hour
                      example: 0
                    unsubs:
                      type: integer
                      description: the number of unsubscribes received during the hour
                      example: 0
                    opens:
                      type: integer
                      description: the number of emails opened during the hour
                      example: 5
                    unique_opens:
                      type: integer
                      description: the number of unique opens generated by messages sent during the hour
                      example: 4
                    clicks:
                      type: integer
                      description: the number of tracked URLs clicked during the hour
                      example: 3
                    unique_clicks:
                      type: integer
                      description: the number of unique clicks generated by messages sent during the hour
                      example: 2
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - tag
              properties:
                key:
                  type: string
                  description: a valid api key
                tag:
                  type: string
                  description: an existing tag name
        required: true
  /tags/all-time-series:
    post:
      x-custom-config:
        methodNameCamel: allTimeSeries
        methodNameSnake: all_time_series
      summary: View all tags history
      description: Return the recent history (hourly stats for the last 30 days) for all tags.
      operationId: postTagsAllTimeSeries
      tags:
      - Tags
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                description: the array of history information
                items:
                  type: object
                  description: the stats for a single hour
                  properties:
                    time:
                      type: string
                      format: date-time
                      description: the hour as a UTC date string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-08-01 13:00:00'
                    sent:
                      type: integer
                      description: the number of emails that were sent during the hour
                      example: 100
                    hard_bounces:
                      type: integer
                      description: the number of emails that hard bounced during the hour
                      example: 2
                    soft_bounces:
                      type: integer
                      description: the number of emails that soft bounced during the hour
                      example: 5
                    rejects:
                      type: integer
                      description: the number of emails that were rejected during the hour
                      example: 1
                    complaints:
                      type: integer
                      description: the number of spam complaints received during the hour
                      example: 0
                    unsubs:
                      type: integer
                      description: the number of unsubscribes received during the hour
                      example: 2
                    opens:
                      type: integer
                      description: the number of emails opened during the hour
                      example: 20
                    unique_opens:
                      type: integer
                      description: the number of unique opens generated by messages sent during the hour
                      example: 10
                    clicks:
                      type: integer
                      description: the number of tracked URLs clicked during the hour
                      example: 12
                    unique_clicks:
                      type: integer
                      description: the number of unique clicks generated by messages sent during the hour
                      example: 10
            application/x-php:
              schema:
                type: array
                description: the array of history information
                items:
                  type: object
                  description: the stats for a single hour
                  properties:
                    time:
                      type: string
                      format: date-time
                      description: the hour as a UTC date string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-08-01 13:00:00'
                    sent:
                      type: integer
                      description: the number of emails that were sent during the hour
                      example: 100
                    hard_bounces:
                      type: integer
                      description: the number of emails that hard bounced during the hour
                      example: 2
                    soft_bounces:
                      type: integer
                      description: the number of emails that soft bounced during the hour
                      example: 5
                    rejects:
                      type: integer
                      description: the number of emails that were rejected during the hour
                      example: 1
                    complaints:
                      type: integer
                      description: the number of spam complaints received during the hour
                      example: 0
                    unsubs:
                      type: integer
                      description: the number of unsubscribes received during the hour
                      example: 2
                    opens:
                      type: integer
                      description: the number of emails opened during the hour
                      example: 20
                    unique_opens:
                      type: integer
                      description: the number of unique opens generated by messages sent during the hour
                      example: 10
                    clicks:
                      type: integer
                      description: the number of tracked URLs clicked during the hour
                      example: 12
                    unique_clicks:
                      type: integer
                      description: the number of unique clicks generated by messages sent during the hour
                      example: 10
            application/x-yaml; charset=utf-8:
              schema:
                type: array
                description: the array of history information
                items:
                  type: object
                  description: the stats for a single hour
                  properties:
                    time:
                      type: string
                      format: date-time
                      description: the hour as a UTC date string in YYYY-MM-DD HH:MM:SS format
                      example: '2025-08-01 13:00:00'
                    sent:
                      type: integer
                      description: the number of emails that were sent during the hour
                      example: 100
                    hard_bounces:
                      type: integer
                      description: the number of emails that hard bounced during the hour
                      example: 2
                    soft_bounces:
                      type: integer
                      description: the number of emails that soft bounced during the hour
                      example: 5
                    rejects:
                      type: integer
                      description: the number of emails that were rejected during the hour
                      example: 1
                    complaints:
                      type: integer
                      description: the number of spam complaints received during the hour
                      example: 0
                    unsubs:
                      type: integer
                      description: the number of unsubscribes received during the hour
                      example: 2
                    opens:
                      type: integer
                      description: the number of emails opened during the hour
                      example: 20
                    unique_opens:
                      type: integer
                      description: the number of unique opens generated by messages sent during the hour
                      example: 10
                    clicks:
                      type: integer
                      description: the number of tracked URLs clicked during the hour
                      example: 12
                    unique_clicks:
                      type: integer
                      description: the number of unique clicks generated by messages sent during the hour
                      example: 10
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: a valid api key
        required: true
x-doc-structure:
  resources:
    allowlists:
      title: Allowlists
      description: Add, list, or delete from your Rejection Allowlist.
      paths:
      - /allowlists/add
      - /allowlists/list
      - /allowlists/delete
    exports:
      title: Exports
      description: Start an export, or get information on export jobs in progress.
      paths:
      - /exports/info
      - /exports/list
      - /exports/rejects
      - /exports/whitelist
      - /exports/allowlist
      - /exports/activity
    inbound:
      title: Inbound
      description: Manage your inbound domains and routes.
      paths:
      - /inbound/domains
      - /inbound/add-domain
      - /inbound/check-domain
      - /inbound/delete-domain
      - /inbound/routes
      - /inbound/add-route
      - /inbound/update-route
      - /inbound/delete-route
      - /inbound/send-raw
    ips:
      title: IPs
      description: Request and manage Dedicated IPs for your account, and set up reverse DNS.
      paths:
      - /ips/list
      - /ips/info
      - /ips/provision
      - /ips/start-warmup
      - /ips/cancel-warmup
      - /ips/set-pool
      - /ips/delete
      - /ips/list-pools
      - /ips/pool-info
      - /ips/create-pool
      - /ips/delete-pool
      - /ips/check-custom-dns
      - /ips/set-custom-dns
    messages:
      title: Messages
      description: Send, schedule, or get information on your emails.
      paths:
      - /messages/send
      - /messages/send-sms
      - /messages/send-template
      - /messages/send-mc-template
      - /messages/search
      - /messages/search-time-series
      - /messages/info
      - /messages/content
      - /messages/parse
      - /messages/send-raw
      - /messages/list-scheduled
      - /messages/cancel-scheduled
      - /messages/reschedule
    metadata:
      title: Metadata
      description: Manage your custom metadata fields in your account.
      paths:
      - /metadata/list
      - /metadata/add
      - /metadata/update
      - /metadata/delete
    rejects:
      title: Rejects
      description: Add, list, or delete from your Rejection Denylist.
      paths:
      - /rejects/add
      - /rejects/add-sms
      - /rejects/delete
      - /rejects/delete-sms
      - /rejects/list
      - /rejects/list-sms
    senders:
      title: Senders
      description: Manage or get information about your sending domains.
      paths:
      - /senders/list
      - /senders/domains
      - /senders/add-domain
      - /senders/delete-domain
      - /senders/check-domain
      - /senders/verify-domain
      - /senders/info
      - /senders/time-series
    subaccounts:
      title: Subaccounts
      description: Manage your subaccounts, including the abilitiy to pause and resume sending.
      paths:
      - /subaccounts/list
      - /subaccounts/add
      - /subaccounts/info
      - /subaccounts/update
      - /subaccounts/delete
      - /subaccounts/pause
      - /subaccounts/resume
    tags:
      title: Tags
      description: List, delete, or get information on your Tags and their sending statistics.
      paths:
      - /tags/list
      - /tags/delete
      - /tags/info
      - /tags/time-series
      - /tags/all-time-series
    templates:
      title: Templates
      description: Manage templates created via the Mandrill UI or through the /templates endpoint.
      paths:
      - /templates/add
      - /templates/info
      - /templates/update
      - /templates/publish
      - /templates/delete
      - /templates/list
      - /templates/time-series
      - /templates/render
    mctemplates:
      title: Templates (MC)
      description: Manage templates created via the Mailchimp UI.
      paths:
      - /mctemplates/info
      - /mctemplates/list
      - /mctemplates/time-series
      - /mctemplates/render
    urls:
      title: URLs
      description: Manage your tracking domains.
      paths:
      - /urls/add-tracking-domain
      - /urls/check-tracking-domain
      - /urls/delete-tracking-domain
      - /urls/tracking-domains
    users:
      title: Users
      description: Get information about your account, or ping Transactional.
      paths:
      - /users/info
      - /users/ping
      - /users/ping2
      - /users/senders
    webhooks:
      title: Webhooks
      description: Manage the webhooks in your account.
      paths:
      - /webhooks/list
      - /webhooks/add
      - /webhooks/info
      - /webhooks/update
      - /webhooks/delete
