swagger: '2.0'
info:
  version: 3.0.55
  title: Mailchimp Marketing Abuse Messages API
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json
  description: '

    The Mailchimp Marketing API provides programmatic access to Mailchimp data

    and functionality, allowing developers to build custom features to do

    things like sync email activity and campaign analytics with their

    database, manage audiences and campaigns, and more.'
host: server.api.mailchimp.com
basePath: /3.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/problem+json
security:
- basicAuth: []
tags:
- name: Messages
paths:
  /conversations/{conversation_id}/messages:
    get:
      summary: Mailchimp List Messages
      description: Get messages from a specific conversation. Conversations has been deprecated in favor of Inbox and these endpoints don't include Inbox data. Past Conversations are still available via this endpoint, but new campaign replies and other Inbox messages arent available using this endpoint.
      operationId: getConversationsIdMessages
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - in: path
        name: conversation_id
        x-title: Conversation ID
        type: string
        required: true
        description: The unique id for the conversation.
        example: '500123'
      - name: is_read
        x-title: Is Read
        in: query
        description: Whether a conversation message has been marked as read.
        required: false
        type: string
        enum:
        - 'true'
        - 'false'
        example: example_value
      - name: before_timestamp
        x-title: Before Timestamp
        in: query
        description: 'Restrict the response to messages created before the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        type: string
        format: date-time
        required: false
        example: example_value
      - name: since_timestamp
        x-title: Since Timestamp
        in: query
        description: 'Restrict the response to messages created after the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        type: string
        format: date-time
        required: false
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Collection of Conversation Messages
            description: Messages from a specific conversation.
            properties:
              conversation_messages:
                type: array
                items:
                  type: object
                  title: Conversation Message
                  description: An individual message in a conversation. Conversation tracking is a feature available to paid accounts that lets you view replies to your campaigns in your Mailchimp account.
                  properties:
                    id:
                      type: string
                      title: ID
                      description: A string that uniquely identifies this message
                      readOnly: true
                    conversation_id:
                      type: string
                      title: Conversation ID
                      description: A string that identifies this message's conversation
                      readOnly: true
                    list_id:
                      type: integer
                      title: List ID
                      description: The list's web ID
                      readOnly: true
                    from_label:
                      type: string
                      title: From Label
                      description: A label representing the sender of this message
                      readOnly: true
                    from_email:
                      type: string
                      title: From Email
                      description: A label representing the email of the sender of this message
                    subject:
                      type: string
                      title: Subject
                      description: The subject of this message
                    message:
                      type: string
                      title: Message
                      description: The plain-text content of the message
                    read:
                      type: boolean
                      title: Read
                      description: Whether this message has been marked as read
                    timestamp:
                      type: string
                      title: Timestamp
                      description: The date and time the message was either sent or received in ISO 8601 format.
                      format: date-time
                      readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
                title: Conversation Messages
                description: An array of objects, each representing a conversation messages resources.
              conversation_id:
                type: string
                title: Conversation ID
                description: A string that identifies this conversation.
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: true
      tags:
      - Messages
      x-custom-config:
        methodNameSnake: get_conversation_messages
        methodNameCamel: getConversationMessages
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /conversations/{conversation_id}/messages/{message_id}:
    get:
      summary: Mailchimp Get Message
      description: Get an individual message in a conversation. Conversations has been deprecated in favor of Inbox and these endpoints don't include Inbox data. Past Conversations are still available via this endpoint, but new campaign replies and other Inbox messages arent available using this endpoint.
      operationId: getConversationsIdMessagesId
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - in: path
        name: conversation_id
        x-title: Conversation ID
        type: string
        required: true
        description: The unique id for the conversation.
        example: '500123'
      - in: path
        name: message_id
        x-title: Message ID
        type: string
        required: true
        description: The unique id for the conversation message.
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Conversation Message
            description: An individual message in a conversation. Conversation tracking is a feature available to paid accounts that lets you view replies to your campaigns in your Mailchimp account.
            properties:
              id:
                type: string
                title: ID
                description: A string that uniquely identifies this message
                readOnly: true
              conversation_id:
                type: string
                title: Conversation ID
                description: A string that identifies this message's conversation
                readOnly: true
              list_id:
                type: integer
                title: List ID
                description: The list's web ID
                readOnly: true
              from_label:
                type: string
                title: From Label
                description: A label representing the sender of this message
                readOnly: true
              from_email:
                type: string
                title: From Email
                description: A label representing the email of the sender of this message
              subject:
                type: string
                title: Subject
                description: The subject of this message
              message:
                type: string
                title: Message
                description: The plain-text content of the message
              read:
                type: boolean
                title: Read
                description: Whether this message has been marked as read
              timestamp:
                type: string
                title: Timestamp
                description: The date and time the message was either sent or received in ISO 8601 format.
                format: date-time
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: true
      tags:
      - Messages
      x-custom-config:
        methodNameSnake: get_conversation_message
        methodNameCamel: getConversationMessage
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/send:
    post:
      operationId: postMessagesSend
      summary: Mailchimp Send a Transactional Email
      description: Send a new transactional message through Mandrill. Supports HTML and plain-text content, inline images, attachments, merge variables, metadata, and per-recipient customization.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - message
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                message:
                  $ref: '#/components/schemas/MessagePayload'
                async:
                  type: boolean
                  description: Enable background sending mode optimized for bulk sending. In async mode, the response will not include per-recipient status, and failures will be handled by retry or webhook.
                  default: false
                ip_pool:
                  type: string
                  description: The name of the dedicated IP pool that should be used to send this message.
                send_at:
                  type: string
                  format: date-time
                  description: Schedule the message for future delivery. The date/time must be in UTC and formatted as YYYY-MM-DD HH:MM:SS. Messages can be scheduled up to 7 days in advance.
            examples:
              PostmessagessendRequestExample:
                summary: Default postMessagesSend request
                x-microcks-default: true
                value:
                  key: example_value
                  message:
                    html: example_value
                    text: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    to:
                    - email: user@example.com
                      name: Example Title
                      type: to
                    headers: example_value
                    important: true
                    track_opens: true
                    track_clicks: true
                    auto_text: true
                    auto_html: true
                    inline_css: true
                    url_strip_qs: https://www.example.com
                    preserve_recipients: true
                    view_content_link: true
                    bcc_address: example_value
                    tracking_domain: example_value
                    signing_domain: example_value
                    return_path_domain: example_value
                    merge: true
                    merge_language: mailchimp
                    global_merge_vars:
                    - name: Example Title
                      content: example_value
                    merge_vars:
                    - rcpt: example_value
                      vars: {}
                    tags:
                    - example_value
                    subaccount: example_value
                    google_analytics_domains:
                    - example_value
                    google_analytics_campaign: example_value
                    metadata: example_value
                    recipient_metadata:
                    - rcpt: example_value
                      values: example_value
                    attachments:
                    - type: example_value
                      name: Example Title
                      content: example_value
                    images:
                    - type: example_value
                      name: Example Title
                      content: example_value
                  async: true
                  ip_pool: example_value
                  send_at: '2026-01-15T10:30:00Z'
      responses:
        '200':
          description: An array of sending results, one per recipient. Each object contains the email address, status, reject reason (if any), and the message ID.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SendResult'
              examples:
                Postmessagessend200Example:
                  summary: Default postMessagesSend 200 response
                  x-microcks-default: true
                  value:
                  - email: user@example.com
                    status: sent
                    reject_reason: hard-bounce
                    queued_reason: example_value
                    _id: '500123'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/send-template:
    post:
      operationId: postMessagesSendTemplate
      summary: Mailchimp Send an Email Using a Template
      description: Send a new transactional message using a stored template. Template content blocks can be overridden with the template_content parameter. Merge variables in the template are populated from the message object.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - template_name
              - template_content
              - message
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                template_name:
                  type: string
                  description: The slug or name of the template stored in Mandrill to use for this message.
                template_content:
                  type: array
                  description: An array of objects with name/content pairs for injecting content into editable regions defined in the template using mc:edit attributes.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the mc:edit content block to set.
                      content:
                        type: string
                        description: The HTML content to replace the block with.
                message:
                  $ref: '#/components/schemas/MessagePayload'
                async:
                  type: boolean
                  default: false
                  description: Enable background sending mode.
                ip_pool:
                  type: string
                  description: The name of the dedicated IP pool to use.
                send_at:
                  type: string
                  format: date-time
                  description: Schedule message for future delivery in UTC.
            examples:
              PostmessagessendtemplateRequestExample:
                summary: Default postMessagesSendTemplate request
                x-microcks-default: true
                value:
                  key: example_value
                  template_name: example_value
                  template_content:
                  - name: Example Title
                    content: example_value
                  message:
                    html: example_value
                    text: example_value
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    to:
                    - email: user@example.com
                      name: Example Title
                      type: to
                    headers: example_value
                    important: true
                    track_opens: true
                    track_clicks: true
                    auto_text: true
                    auto_html: true
                    inline_css: true
                    url_strip_qs: https://www.example.com
                    preserve_recipients: true
                    view_content_link: true
                    bcc_address: example_value
                    tracking_domain: example_value
                    signing_domain: example_value
                    return_path_domain: example_value
                    merge: true
                    merge_language: mailchimp
                    global_merge_vars:
                    - name: Example Title
                      content: example_value
                    merge_vars:
                    - rcpt: example_value
                      vars: {}
                    tags:
                    - example_value
                    subaccount: example_value
                    google_analytics_domains:
                    - example_value
                    google_analytics_campaign: example_value
                    metadata: example_value
                    recipient_metadata:
                    - rcpt: example_value
                      values: example_value
                    attachments:
                    - type: example_value
                      name: Example Title
                      content: example_value
                    images:
                    - type: example_value
                      name: Example Title
                      content: example_value
                  async: true
                  ip_pool: example_value
                  send_at: '2026-01-15T10:30:00Z'
      responses:
        '200':
          description: An array of sending results, one per recipient.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SendResult'
              examples:
                Postmessagessendtemplate200Example:
                  summary: Default postMessagesSendTemplate 200 response
                  x-microcks-default: true
                  value:
                  - email: user@example.com
                    status: sent
                    reject_reason: hard-bounce
                    queued_reason: example_value
                    _id: '500123'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/search:
    post:
      operationId: postMessagesSearch
      summary: Mailchimp Search Sent Messages
      description: Search recently sent messages and return matching results. You can filter by sending status, sender, tags, recipient, subject, and date range. Results are limited to the last 7 days.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                query:
                  type: string
                  description: Search terms to filter results. Supports full-text search across message subject and email addresses.
                date_from:
                  type: string
                  format: date-time
                  description: Start date for the search range (UTC).
                date_to:
                  type: string
                  format: date-time
                  description: End date for the search range (UTC).
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags that must be present on matching messages.
                senders:
                  type: array
                  items:
                    type: string
                  description: Sender addresses to filter by.
                api_keys:
                  type: array
                  items:
                    type: string
                  description: API keys to filter by for subaccount isolation.
                limit:
                  type: integer
                  default: 100
                  description: Maximum number of results to return (max 1000).
            examples:
              PostmessagessearchRequestExample:
                summary: Default postMessagesSearch request
                x-microcks-default: true
                value:
                  key: example_value
                  query: example_value
                  date_from: '2026-01-15T10:30:00Z'
                  date_to: '2026-01-15T10:30:00Z'
                  tags:
                  - example_value
                  senders:
                  - example_value
                  api_keys:
                  - example_value
                  limit: 10
      responses:
        '200':
          description: An array of message info objects matching the search criteria.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageInfo'
              examples:
                Postmessagessearch200Example:
                  summary: Default postMessagesSearch 200 response
                  x-microcks-default: true
                  value:
                  - ts: 10
                    _id: '500123'
                    sender: example_value
                    template: example_value
                    subject: example_value
                    email: user@example.com
                    tags:
                    - example_value
                    opens: 10
                    opens_detail:
                    - ts: 10
                      ip: example_value
                      location: example_value
                      ua: example_value
                    clicks: 10
                    clicks_detail:
                    - ts: 10
                      url: https://www.example.com
                      ip: example_value
                      location: example_value
                      ua: example_value
                    state: sent
                    metadata: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/search-time-series:
    post:
      operationId: postMessagesSearchTimeSeries
      summary: Mailchimp Search Message Time Series
      description: Search the content of recently sent messages and return aggregated hourly statistics for matching messages over time.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                query:
                  type: string
                  description: Search terms to filter results.
                date_from:
                  type: string
                  format: date-time
                  description: Start date for the search range (UTC).
                date_to:
                  type: string
                  format: date-time
                  description: End date for the search range (UTC).
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags that must be present on matching messages.
                senders:
                  type: array
                  items:
                    type: string
                  description: Sender addresses to filter by.
            examples:
              PostmessagessearchtimeseriesRequestExample:
                summary: Default postMessagesSearchTimeSeries request
                x-microcks-default: true
                value:
                  key: example_value
                  query: example_value
                  date_from: '2026-01-15T10:30:00Z'
                  date_to: '2026-01-15T10:30:00Z'
                  tags:
                  - example_value
                  senders:
                  - example_value
      responses:
        '200':
          description: An array of time series data points with hourly statistics.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeSeries'
              examples:
                Postmessagessearchtimeseries200Example:
                  summary: Default postMessagesSearchTimeSeries 200 response
                  x-microcks-default: true
                  value:
                  - time: '2026-01-15T10:30:00Z'
                    sent: 10
                    hard_bounces: 10
                    soft_bounces: 10
                    rejects: 10
                    complaints: 10
                    unsubs: 10
                    opens: 10
                    unique_opens: 10
                    clicks: 10
                    unique_clicks: 10
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/info:
    post:
      operationId: postMessagesInfo
      summary: Mailchimp Get Message Info
      description: Get the information for a single recently sent message including delivery status, open/click tracking, and metadata.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                id:
                  type: string
                  description: The unique message ID returned from a send call.
            examples:
              PostmessagesinfoRequestExample:
                summary: Default postMessagesInfo request
                x-microcks-default: true
                value:
                  key: example_value
                  id: abc123
      responses:
        '200':
          description: Detailed information about the message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageDetail'
              examples:
                Postmessagesinfo200Example:
                  summary: Default postMessagesInfo 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/content:
    post:
      operationId: postMessagesContent
      summary: Mailchimp Get Message Content
      description: Get the full content of a recently sent message including the HTML body, text body, headers, and attachments.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                id:
                  type: string
                  description: The unique message ID.
            examples:
              PostmessagescontentRequestExample:
                summary: Default postMessagesContent request
                x-microcks-default: true
                value:
                  key: example_value
                  id: abc123
      responses:
        '200':
          description: The full content of the message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContent'
              examples:
                Postmessagescontent200Example:
                  summary: Default postMessagesContent 200 response
                  x-microcks-default: true
                  value:
                    ts: 10
                    _id: '500123'
                    from_email: user@example.com
                    from_name: example_value
                    subject: example_value
                    to:
                      email: user@example.com
                      name: Example Title
                    tags:
                    - example_value
                    headers: example_value
                    text: example_value
                    html: example_value
                    attachments:
                    - name: Example Title
                      type: example_value
                      content: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/parse:
    post:
      operationId: postMessagesParse
      summary: Mailchimp Parse a Raw Mime Message
      description: Parse the full MIME document for an email message, returning the subject, recipients, HTML body, text body, headers, and attachments.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - raw_message
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                raw_message:
                  type: string
                  description: The full MIME document of the message to parse.
            examples:
              PostmessagesparseRequestExample:
                summary: Default postMessagesParse request
                x-microcks-default: true
                value:
                  key: example_value
                  raw_message: example_value
      responses:
        '200':
          description: The parsed message content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsedMessage'
              examples:
                Postmessagesparse200Example:
                  summary: Default postMessagesParse 200 response
                  x-microcks-default: true
                  value:
                    subject: example_value
                    from_email: user@example.com
                    from_name: example_value
                    to:
                    - email: user@example.com
                      name: Example Title
                    headers: example_value
                    text: example_value
                    html: example_value
                    attachments:
                    - name: Example Title
                      type: example_value
                      content: example_value
                    images:
                    - name: Example Title
                      type: example_value
                      content: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/send-raw:
    post:
      operationId: postMessagesSendRaw
      summary: Mailchimp Send a Raw Mime Message
      description: Take a raw MIME document and send it exactly as provided. Mandrill will not modify the message content, but will track opens and clicks if the appropriate headers are included.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - raw_message
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                raw_message:
                  type: string
                  description: The full MIME document of the message to send.
                from_email:
                  type: string
                  format: email
                  description: Override the from address in the raw message. If not specified, the from address in the raw message is used.
                from_name:
                  type: string
                  description: Override the from name in the raw message.
                to:
                  type: array
                  items:
                    type: string
                    format: email
                  description: Override the recipients in the raw message. If not provided, recipients from the MIME headers are used.
                async:
                  type: boolean
                  default: false
                  description: Enable background sending mode.
                ip_pool:
                  type: string
                  description: The name of the dedicated IP pool to use.
                send_at:
                  type: string
                  format: date-time
                  description: Schedule message for future delivery in UTC.
                return_path_domain:
                  type: string
                  description: Custom domain for the return-path header.
            examples:
              PostmessagessendrawRequestExample:
                summary: Default postMessagesSendRaw request
                x-microcks-default: true
                value:
                  key: example_value
                  raw_message: example_value
                  from_email: user@example.com
                  from_name: example_value
                  to:
                  - example_value
                  async: true
                  ip_pool: example_value
                  send_at: '2026-01-15T10:30:00Z'
                  return_path_domain: example_value
      responses:
        '200':
          description: An array of sending results, one per recipient.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SendResult'
              examples:
                Postmessagessendraw200Example:
                  summary: Default postMessagesSendRaw 200 response
                  x-microcks-default: true
                  value:
                  - email: user@example.com
                    status: sent
                    reject_reason: hard-bounce
                    queued_reason: example_value
                    _id: '500123'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/list-scheduled:
    post:
      operationId: postMessagesListScheduled
      summary: Mailchimp List Scheduled Messages
      description: Get a list of messages that are scheduled for future delivery. Messages can be scheduled up to 7 days in advance.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                to:
                  type: string
                  format: email
                  description: Optional recipient email address to restrict results to messages scheduled for a specific recipient.
            examples:
              PostmessageslistscheduledRequestExample:
                summary: Default postMessagesListScheduled request
                x-microcks-default: true
                value:
                  key: example_value
                  to: example_value
      responses:
        '200':
          description: An array of scheduled message objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledMessage'
              examples:
                Postmessageslistscheduled200Example:
                  summary: Default postMessagesListScheduled 200 response
                  x-microcks-default: true
                  value:
                  - _id: '500123'
                    created_at: '2026-01-15T10:30:00Z'
                    send_at: '2026-01-15T10:30:00Z'
                    from_email: user@example.com
                    to: example_value
                    subject: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/cancel-scheduled:
    post:
      operationId: postMessagesCancelScheduled
      summary: Mailchimp Cancel a Scheduled Message
      description: Cancel a message that has been scheduled for future delivery. The message must not have already been sent.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                id:
                  type: string
                  description: The unique ID of the scheduled message to cancel.
            examples:
              PostmessagescancelscheduledRequestExample:
                summary: Default postMessagesCancelScheduled request
                x-microcks-default: true
                value:
                  key: example_value
                  id: abc123
      responses:
        '200':
          description: The details of the cancelled scheduled message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
              examples:
                Postmessagescancelscheduled200Example:
                  summary: Default postMessagesCancelScheduled 200 response
                  x-microcks-default: true
                  value:
                    _id: '500123'
                    created_at: '2026-01-15T10:30:00Z'
                    send_at: '2026-01-15T10:30:00Z'
                    from_email: user@example.com
                    to: example_value
                    subject: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /messages/reschedule:
    post:
      operationId: postMessagesReschedule
      summary: Mailchimp Reschedule a Message
      description: Reschedule a message that was previously scheduled for future delivery to a new date and time.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - id
              - send_at
              properties:
                key:
                  type: string
                  description: A valid Mandrill API key.
                id:
                  type: string
                  description: The unique ID of the scheduled message to reschedule.
                send_at:
                  type: string
                  format: date-time
                  description: The new date and time to send the message in UTC.
            examples:
              PostmessagesrescheduleRequestExample:
                summary: Default postMessagesReschedule request
                x-microcks-default: true
                value:
                  key: example_value
                  id: abc123
                  send_at: '2026-01-15T10:30:00Z'
      responses:
        '200':
          description: The updated scheduled message details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
              examples:
                Postmessagesreschedule200Example:
                  summary: Default postMessagesReschedule 200 response
                  x-microcks-default: true
                  value:
                    _id: '500123'
                    created_at: '2026-01-15T10:30:00Z'
                    send_at: '2026-01-15T10:30:00Z'
                    from_email: user@example.com
                    to: example_value
                    subject: example_value
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/InvalidKeyError'
        '500':
          $ref: '#/components/responses/GeneralError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    ValidationError:
      description: The request parameters were invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    GeneralError:
      description: An unexpected error occurred on the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidKeyError:
      description: The provided API key is not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    MessageContent:
      type: object
      description: The full content of a sent message.
      properties:
        ts:
          type: integer
          description: Unix timestamp of when the message was sent.
          example: 10
        _id:
          type: string
          description: The unique message ID.
          example: '500123'
        from_email:
          type: string
          format: email
          description: The sender email address.
          example: user@example.com
        from_name:
          type: string
          description: The sender display name.
          example: example_value
        subject:
          type: string
          description: The message subject line.
          example: example_value
        to:
          type: object
          properties:
            email:
              type: string
              format: email
              description: Recipient email address.
            name:
              type: string
              description: Recipient display name.
          description: The primary recipient.
          example: example_value
        tags:
          type: array
          items:
            type: string
          description: Tags applied to the message.
          example: []
        headers:
          type: object
          additionalProperties:
            type: string
          description: The full message headers.
          example: example_value
        text:
          type: string
          description: The plain-text body of the message.
          example: example_value
        html:
          type: string
          description: The HTML body of the message.
          example: example_value
        attachments:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The attachment file name.
              type:
                type: string
                description: The MIME type of the attachment.
              content:
                type: string
                description: Base64-encoded attachment content.
          description: File attachments included in the message.
          example: []
    SendResult:
      type: object
      description: The result of sending a message to a single recipient.
      properties:
        email:
          type: string
          format: email
          description: The recipient email address.
          example: user@example.com
        status:
          type: string
          enum:
          - sent
          - queued
          - scheduled
          - rejected
          - invalid
          description: The sending status for this recipient.
          example: sent
        reject_reason:
          type: string
          enum:
          - hard-bounce
          - soft-bounce
          - spam
          - unsub
          - custom
          - invalid-sender
          - invalid
          - test-mode-limit
          - unsigned
          - rule
          description: The reason the message was rejected, if applicable.
          example: hard-bounce
        queued_reason:
          type: string
          description: The reason the message was queued instead of sent immediately.
          example: example_value
        _id:
          type: string
          description: The unique message ID for this recipient's message.
          example: '500123'
    TimeSeries:
      type: object
      description: An hourly time series data point with sending statistics.
      properties:
        time:
          type: string
          format: date-time
          description: The hour this data point covers (UTC).
          example: '2026-01-15T10:30:00Z'
        sent:
          type: integer
          description: Number of messages sent.
          example: 10
        hard_bounces:
          type: integer
          description: Number of hard bounces.
          example: 10
        soft_bounces:
          type: integer
          description: Number of soft bounces.
          example: 10
        rejects:
          type: integer
          description: Number of rejects.
          example: 10
        complaints:
          type: integer
          description: Number of spam complaints.
          example: 10
        unsubs:
          type: integer
          description: Number of unsubscribes.
          example: 10
        opens:
          type: integer
          description: Number of opens.
          example: 10
        unique_opens:
          type: integer
          description: Number of unique opens.
          example: 10
        clicks:
          type: integer
          description: Number of clicks.
          example: 10
        unique_clicks:
          type: integer
          description: Number of unique clicks.
          example: 10
    MessagePayload:
      type: object
      description: The message object containing all parameters for a transactional email, including recipients, content, attachments, and tracking options.
      properties:
        html:
          type: string
          description: The full HTML content of the message.
          example: example_value
        text:
          type: string
          description: The full plain-text content of the message.
          example: example_value
        subject:
          type: string
          description: The message subject line.
          example: example_value
        from_email:
          type: string
          format: email
          description: The sender email address.
          example: user@example.com
        from_name:
          type: string
          description: The sender display name.
          example: example_value
        to:
          type: array
          description: An array of recipient objects.
          items:
            type: object
            required:
            - email
            properties:
              email:
                type: string
                format: email
                description: The recipient email address.
              name:
                type: string
                description: The recipient display name.
              type:
                type: string
                enum:
                - to
                - cc
                - bcc
                default: to
                description: The recipient type (to, cc, or bcc).
          example: []
        headers:
          type: object
          additionalProperties:
            type: string
          description: Optional extra headers to add to the message (e.g., Reply-To).
          example: example_value
        important:
          type: boolean
          default: false
          description: Whether this message is important and should be delivered ahead of non-important messages.
          example: true
        track_opens:
          type: boolean
          description: Whether to enable open tracking for this message.
          example: true
        track_clicks:
          type: boolean
          description: Whether to enable click tracking for this message.
          example: true
        auto_text:
          type: boolean
          description: Whether to automatically generate a plain-text version from the HTML content.
          example: true
        auto_html:
          type: boolean
          description: Whether to automatically generate HTML from the plain-text content.
          example: true
        inline_css:
          type: boolean
          description: Whether to automatically inline all CSS styles from style blocks in the HTML content.
          example: true
        url_strip_qs:
          type: boolean
          description: Whether to strip query strings from URLs when aggregating tracked click data.
          example: https://www.example.com
        preserve_recipients:
          type: boolean
          description: Whether to show all recipients in the To header of each email.
          example: true
        view_content_link:
          type: boolean
          description: Whether to include a View Content Link in the Mandrill dashboard for this message.
          example: true
        bcc_address:
          type: string
          format: email
          description: An optional address to BCC on the message.
          example: example_value
        tracking_domain:
          type: string
          description: A custom domain to use for tracking opens and clicks.
          example: example_value
        signing_domain:
          type: string
          description: A custom domain to use for DKIM signing instead of the default.
          example: example_value
        return_path_domain:
          type: string
          description: A custom domain to use for the return-path header.
          example: example_value
        merge:
          type: boolean
          default: true
          description: Whether to evaluate merge tags in the message.
          example: true
        merge_language:
          type: string
          enum:
          - mailchimp
          - handlebars
          default: mailchimp
          description: The merge tag language to use (Mailchimp or Handlebars).
          example: mailchimp
        global_merge_vars:
          type: array
          description: Global merge variables applied to all recipients.
          items:
            type: object
            properties:
              name:
                type: string
                description: The global merge variable name.
              content:
                type: string
                description: The global merge variable value.
          example: []
        merge_vars:
          type: array
          description: Per-recipient merge variables.
          items:
            type: object
            properties:
              rcpt:
                type: string
                format: email
                description: The recipient email address.
              vars:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The merge variable name.
                    content:
                      type: string
                      description: The merge variable value.
          example: []
        tags:
          type: array
          items:
            type: string
          description: An array of string tags to apply to this message for analytics.
          example: []
        subaccount:
          type: string
          description: The unique ID of a subaccount for this message.
          example: example_value
        google_analytics_domains:
          type: array
          items:
            type: string
          description: An array of domains for which Google Analytics tracking parameters will be appended.
          example: []
        google_analytics_campaign:
          type: string
          description: The utm_campaign tracking parameter for Google Analytics.
          example: example_value
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Key-value metadata to associate with the message.
          example: example_value
        recipient_metadata:
          type: array
          description: Per-recipient metadata.
          items:
            type: object
            properties:
              rcpt:
                type: string
                format: email
                description: The recipient email address.
              values:
                type: object
                additionalProperties:
                  type: string
                description: Key-value metadata for this recipient.
          example: []
        attachments:
          type: array
          description: An array of file attachments.
          items:
            type: object
            properties:
              type:
                type: string
                description: The MIME type of the attachment.
              name:
                type: string
                description: The file name of the attachment.
              content:
                type: string
                description: Base64-encoded content of the attachment.
          example: []
        images:
          type: array
          description: An array of inline images referenced with "cid:" in the HTML content.
          items:
            type: object
            properties:
              type:
                type: string
                description: The MIME type of the image (e.g., image/png).
              name:
                type: string
                description: The Content-ID of the image, referenced as "cid:name" in HTML.
              content:
                type: string
                description: Base64-encoded content of the image.
          example: []
    Error:
      type: object
      description: A standard error response from the Mandrill API.
      properties:
        status:
          type: string
          enum:
          - error
          description: Always "error" for error responses.
          example: error
        code:
          type: integer
          description: The numeric error code.
          example: 10
        name:
          type: string
          description: The name/type of the error (e.g., Invalid_Key, ValidationError).
          example: Example Title
        message:
          type: string
          description: A human-readable description of the error.
          example: example_value
    ParsedMessage:
      type: object
      description: A parsed MIME message.
      properties:
        subject:
          type: string
          description: The parsed subject line.
          example: example_value
        from_email:
          type: string
          format: email
          description: The parsed sender email address.
          example: user@example.com
        from_name:
          type: string
          description: The parsed sender name.
          example: example_value
        to:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
                format: email
              name:
                type: string
          description: Parsed recipient list.
          example: []
        headers:
          type: object
          additionalProperties:
            type: string
          description: All parsed headers.
          example: example_value
        text:
          type: string
          description: The plain-text body.
          example: example_value
        html:
          type: string
          description: The HTML body.
          example: example_value
        attachments:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              content:
                type: string
          description: Parsed file attachments.
          example: []
        images:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              content:
                type: string
          description: Parsed inline images.
          example: []
    ScheduledMessage:
      type: object
      description: A message scheduled for future delivery.
      properties:
        _id:
          type: string
          description: The unique scheduled message ID.
          example: '500123'
        created_at:
          type: string
          format: date-time
          description: When the scheduled message was created.
          example: '2026-01-15T10:30:00Z'
        send_at:
          type: string
          format: date-time
          description: When the message is scheduled to be sent.
          example: '2026-01-15T10:30:00Z'
        from_email:
          type: string
          format: email
          description: The sender email address.
          example: user@example.com
        to:
          type: string
          format: email
          description: The recipient email address.
          example: example_value
        subject:
          type: string
          description: The message subject line.
          example: example_value
    MessageDetail:
      type: object
      description: Detailed information about a specific message.
      allOf:
      - $ref: '#/components/schemas/MessageInfo'
      - type: object
        properties:
          smtp_events:
            type: array
            description: SMTP event log for the message delivery.
            items:
              type: object
              properties:
                ts:
                  type: integer
                  description: Unix timestamp of the SMTP event.
                type:
                  type: string
                  description: The type of SMTP event.
                diag:
                  type: string
                  description: Diagnostic information from the receiving server.
          resends:
            type: array
            description: A list of resend attempts for this message.
            items:
              type: object
              properties:
                ts:
                  type: integer
                  description: Unix timestamp of the resend.
    MessageInfo:
      type: object
      description: Summary information about a sent message.
      properties:
        ts:
          type: integer
          description: The Unix timestamp when the message was sent.
          example: 10
        _id:
          type: string
          description: The unique message ID.
          example: '500123'
        sender:
          type: string
          format: email
          description: The sender email address.
          example: example_value
        template:
          type: string
          description: The template slug used, if any.
          example: example_value
        subject:
          type: string
          description: The subject line of the message.
          example: example_value
        email:
          type: string
          format: email
          description: The recipient email address.
          example: user@example.com
        tags:
          type: array
          items:
            type: string
          description: Tags applied to the message.
          example: []
        opens:
          type: integer
          description: The number of times the message was opened.
          example: 10
        opens_detail:
          type: array
          items:
            type: object
            properties:
              ts:
                type: integer
                description: Unix timestamp of the open event.
              ip:
                type: string
                description: IP address from which the message was opened.
              location:
                type: string
                description: Approximate geographic location of the open.
              ua:
                type: string
                description: User agent string of the client.
          description: Detailed open tracking events.
          example: []
        clicks:
          type: integer
          description: The number of link clicks in the message.
          example: 10
        clicks_detail:
          type: array
          items:
            type: object
            properties:
              ts:
                type: integer
                description: Unix timestamp of the click event.
              url:
                type: string
                description: The URL that was clicked.
              ip:
                type: string
                description: IP address of the clicker.
              location:
                type: string
                description: Approximate geographic location of the click.
              ua:
                type: string
                description: User agent string of the client.
          description: Detailed click tracking events.
          example: []
        state:
          type: string
          enum:
          - sent
          - bounced
          - rejected
          - soft-bounced
          - spam
          - unsub
          description: The current state of the message.
          example: sent
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Custom metadata attached to the message.
          example: example_value
securityDefinitions:
  basicAuth:
    type: basic
externalDocs:
  description: Learn more with the full Mailchimp API documentation.
  url: https://mailchimp.com/developer/marketing/
x-doc-structure:
  resources:
    root:
      title: API Root
      description: The API root resource links to all other resources available in the API. Calling the root directory also returns details about the Mailchimp user account.
      paths:
      - /
      subResources: []
    chimp-chatter:
      title: Chimp Chatter Activity
      description: Get the latest Chimp Chatter activity from your account.
      paths:
      - /activity-feed/chimp-chatter
    authorized-apps:
      title: Authorized Apps
      description: Manage registered, connected apps for your Mailchimp account with the Authorized Apps endpoints.
      paths:
      - /authorized-apps
      - /authorized-apps/{app_id}
    automation:
      title: Automations
      description: Mailchimp's classic automations feature lets you build a series of emails that send to subscribers when triggered by a specific date, activity, or event. Use the API to manage Automation workflows, emails, and queues. Does not include Customer Journeys.
      paths:
      - /automations
      - /automations/{workflow_id}
      - /automations/{workflow_id}/actions/start-all-emails
      - /automations/{workflow_id}/actions/pause-all-emails
      - /automations/{workflow_id}/actions/archive
      subResources:
      - automation-email
      - automation-removed-subscribers
    automation-email:
      title: Emails
      description: Manage individual emails in a classic automation workflow.
      paths:
      - /automations/{workflow_id}/emails
      - /automations/{workflow_id}/emails/{workflow_email_id}
      - /automations/{workflow_id}/emails/{workflow_email_id}/actions/pause
      - /automations/{workflow_id}/emails/{workflow_email_id}/actions/start
      subResources:
      - automation-email-queue
    automation-email-queue:
      title: Queue
      description: Manage list member queues for classic automation emails.
      paths:
      - /automations/{workflow_id}/emails/{workflow_email_id}/queue
      - /automations/{workflow_id}/emails/{workflow_email_id}/queue/{subscriber_hash}
      subResources: []
    automation-removed-subscribers:
      title: Removed Subscribers
      description: Remove subscribers from a classic automation workflow.
      paths:
      - /automations/{workflow_id}/removed-subscribers
      - /automations/{workflow_id}/removed-subscribers/{subscriber_hash}
      subResources: []
    batch-operations:
      title: Batch Operations
      description: Use batch operations to complete multiple operations with a single call.
      paths:
      - /batches
      - /batches/{batch_id}
    batch-webhooks:
      title: Batch Webhooks
      description: 'Manage webhooks for batch operations. '
      paths:
      - /batch-webhooks
      - /batch-webhooks/{batch_webhook_id}
    account-exports:
      title: Account Exports
      description: Generate a new export or download a finished export.
      paths:
      - /account-exports
      - /account-exports/{export_id}
    campaigns:
      title: Campaigns
      description: Campaigns are how you send emails to your Mailchimp list. Use the Campaigns API calls to manage campaigns in your Mailchimp account.
      paths:
      - /campaigns
      - /campaigns/{campaign_id}
      - /campaigns/{campaign_id}/actions/cancel-send
      - /campaigns/{campaign_id}/actions/send
      - /campaigns/{campaign_id}/actions/schedule
      - /campaigns/{campaign_id}/actions/unschedule
      - /campaigns/{campaign_id}/actions/pause
      - /campaigns/{campaign_id}/actions/resume
      - /campaigns/{campaign_id}/actions/replicate
      - /campaigns/{campaign_id}/actions/test
      - /campaigns/{campaign_id}/actions/create-resend
      subResources:
      - campaign-feedback
      - campaign-checklist
      - campaign-content
    campaign-feedback:
      title: Feedback
      description: Post comments, reply to team feedback, and send test emails while you're working together on a Mailchimp campaign.
      paths:
      - /campaigns/{campaign_id}/feedback
      - /campaigns/{campaign_id}/feedback/{feedback_id}
    campaign-checklist:
      title: Send Checklist
      description: Review the send checklist for your campaign, and resolve any issues before sending.
      paths:
      - /campaigns/{campaign_id}/send-checklist
    campaign-content:
      title: Content
      description: Manage the HTML, plain-text, and template content for your Mailchimp campaigns.
      paths:
      - /campaigns/{campaign_id}/content
    connected-sites:
      title: Connected Sites
      description: Manage sites you've connected to your Mailchimp account.
      paths:
      - /connected-sites
      - /connected-sites/{connected_site_id}
      - /connected-sites/{connected_site_id}/actions/verify-script-installation
    conversations:
      title: Conversations
      description: Conversation tracking lets you view subscribers' replies to your campaigns in your Mailchimp account.
      paths:
      - /conversations
      - /conversations/{conversation_id}
      subResources:
      - conversation-messages
    conversation-messages:
      title: Messages
      description: Manage messages in a specific campaign conversation.
      paths:
      - /conversations/{conversation_id}/messages
      - /conversations/{conversation_id}/messages/{message_id}
    customer-journeys-journeys-steps-actions:
      title: Customer Journeys
      description: Manage Customer Journey automated workflows
      paths:
      - /customer-journeys/journeys/{journey_id}/steps/{step_id}/actions/trigger
      subResources: []
    file-manager:
      title: File Manager
      description: Manage files for your Mailchimp account. The File Manager is a place to store images, documents, and other files you include or link to in your campaigns, templates, or signup forms.
      paths: []
      subResources:
      - file-manager-folders
      - file-manager-files
    file-manager-folders:
      title: File Manager Folders
      description: Manage specific folders in the File Manager for your Mailchimp account.
      paths:
      - /file-manager/folders
      - /file-manager/folders/{folder_id}
      subResources:
      - file-manager-folders-files
    file-manager-files:
      title: File Manager Files
      description: Manage specific files in the File Manager for your Mailchimp account.
      paths:
      - /file-manager/files
      - /file-manager/files/{file_id}
    file-manager-folders-files:
      title: Files in Folder
      description: Manage specific files in a folder.
      paths:
      - /file-manager/folders/{folder_id}/files
    landing-pages:
      title: Landing Pages
      description: Manage your Landing Pages, including publishing and unpublishing.
      paths:
      - /landing-pages
      - /landing-pages/{page_id}
      - /landing-pages/{page_id}/actions/publish
      - /landing-pages/{page_id}/actions/unpublish
      subResources:
      - landing-pages_content
    landing-pages_content:
      title: Content
      description: The HTML content for your Mailchimp landing pages.
      paths:
      - /landing-pages/{page_id}/content
    lists:
      title: Lists/Audiences
      description: Your Mailchimp list, also known as your audience, is where you store and manage all of your contacts.
      paths:
      - /lists
      - /lists/{list_id}
      subResources:
      - interest-categories
      - list-segments
      - abuse-reports
      - list-activity
      - list-clients
      - list-growth-history
      - list-imports
      - list-members
      - list-merges
      - list-webhooks
      - list-signup-forms
      - list-locations
      - lists-tags-search
      - prebuilt-segments
      - list-preview-segment
      - list-surveys
      - list-sms-program
    list-members:
      title: Members
      description: Manage members of a specific Mailchimp list, including currently subscribed, unsubscribed, and bounced members.
      paths:
      - /lists/{list_id}/members
      - /lists/{list_id}/members/{subscriber_hash}
      - /lists/{list_id}/members/{subscriber_hash}/actions/delete-permanent
      subResources:
      - list-member-activity
      - list-member-activity-feed
      - list-member-goal
      - list-member-notes
      - list-member-tags
      - list-member-events
    list-merges:
      title: Merge Fields
      description: Manage merge fields for an audience. See [Merge Field documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/) for more.
      paths:
      - /lists/{list_id}/merge-fields
      - /lists/{list_id}/merge-fields/{merge_id}
      subResources: []
    abuse-reports:
      title: Abuse Reports
      description: Manage abuse complaints for a specific list. An abuse complaint occurs when your recipient reports an email as spam in their mail program.
      paths:
      - /lists/{list_id}/abuse-reports
      - /lists/{list_id}/abuse-reports/{report_id}
    list-activity:
      title: Activity
      description: Get recent daily, aggregated activity stats for your list. For example, view unsubscribes, signups, total emails sent, opens, clicks, and more, for up to 180 days.
      paths:
      - /lists/{list_id}/activity
    list-clients:
      title: Clients
      description: Get information about the most popular email clients for subscribers in a specific Mailchimp list.
      paths:
      - /lists/{list_id}/clients
    list-growth-history:
      title: Growth History
      description: View a summary of the month-by-month growth activity for a specific list.
      paths:
      - /lists/{list_id}/growth-history
      - /lists/{list_id}/growth-history/{month}
    list-webhooks:
      title: Webhooks
      description: Manage webhooks for a specific Mailchimp list.
      paths:
      - /lists/{list_id}/webhooks
      - /lists/{list_id}/webhooks/{webhook_id}
    list-surveys:
      title: Surveys
      description: Get survey data for this audience.
      paths:
      - /lists/{list_id}/surveys
      - /lists/{list_id}/surveys/{survey_id}
      - /lists/{list_id}/surveys/{survey_id}/actions/publish
      - /lists/{list_id}/surveys/{survey_id}/actions/unpublish
      - /lists/{list_id}/surveys/{survey_id}/actions/create-email
    interest-categories:
      title: Interest Categories
      description: Manage interest categories for a specific list. Interest categories organize interests, which are used to group subscribers based on their preferences. These correspond to 'group titles' in the Mailchimp application.
      paths:
      - /lists/{list_id}/interest-categories
      - /lists/{list_id}/interest-categories/{interest_category_id}
      subResources:
      - interests
    interests:
      title: Interests
      description: Manage interests for a specific Mailchimp list. Assign subscribers to interests to group them together. Interests are referred to as 'group names' in the Mailchimp application.
      paths:
      - /lists/{list_id}/interest-categories/{interest_category_id}/interests
      - /lists/{list_id}/interest-categories/{interest_category_id}/interests/{interest_id}
    lists-tags-search:
      title: Tag Search
      description: Search for tags on a list by name.
      paths:
      - /lists/{list_id}/tag-search
    list-segments:
      title: Segments
      description: Manage segments and tags for a specific Mailchimp list. A segment is a section of your list that includes only those subscribers who share specific common field information. Tags are labels you create to help organize your contacts.
      paths:
      - /lists/{list_id}/segments
      - /lists/{list_id}/segments/{segment_id}
      subResources:
      - list-segment-members
    list-segment-members:
      title: Segment Members
      description: Manage list members in a saved segment.
      paths:
      - /lists/{list_id}/segments/{segment_id}/members
      - /lists/{list_id}/segments/{segment_id}/members/{subscriber_hash}
    list-member-activity:
      title: Member Activity
      description: Get details about a subscriber's recent activity. Use the new activity-feed endpoint to access more events for a given contact.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/activity
    list-member-activity-feed:
      title: Member Activity Feed
      description: Get details about a subscriber's recent activity.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/activity-feed
    list-member-goal:
      title: Member Goals
      description: Get information about recent goal events for a specific list member.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/goals
    list-member-notes:
      title: Member Notes
      description: Retrieve recent notes for a specific list member.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/notes
      - /lists/{list_id}/members/{subscriber_hash}/notes/{note_id}
    list-member-tags:
      title: Member Tags
      description: Manage all the tags that have been assigned to a contact.
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/tags
    list-member-events:
      title: Events
      description: 'Use the Events endpoint to collect website or in-app actions and trigger targeted automations. '
      paths:
      - /lists/{list_id}/members/{subscriber_hash}/events
    list-signup-forms:
      title: Signup Forms
      description: Manage list signup forms.
      paths:
      - /lists/{list_id}/signup-forms
    list-locations:
      title: Locations
      description: Get the locations (countries) that the list's subscribers have been tagged to based on geocoding their IP address.
      paths:
      - /lists/{list_id}/locations
    reports:
      title: Reports
      description: 'Manage campaign reports for your Mailchimp account. All Reports endpoints are read-only. Mailchimp''s campaign and automation reports analyze clicks, opens, subscribers'' social activity, e-commerce data, and more. Note: Campaign IDs for A/B Testing Campaigns are available through the Campaign API Endpoint''s Read method.'
      paths:
      - /reports
      - /reports/{campaign_id}
      subResources:
      - campaign-abuse
      - campaign-advice
      - click-reports
      - domain-performance-reports
      - eepurl-reports
      - email-activity-reports
      - location-reports
      - sent-to-reports
      - sub-reports
      - unsub-reports
      - open-reports
      - campaign-ecommerce-product-activity
    campaign-abuse:
      title: Campaign Abuse
      description: Get information about campaign abuse complaints.
      paths:
      - /reports/{campaign_id}/abuse-reports
      - /reports/{campaign_id}/abuse-reports/{report_id}
    campaign-advice:
      title: Campaign Advice
      description: Get recent feedback based on a campaign's statistics.
      paths:
      - /reports/{campaign_id}/advice
    open-reports:
      title: Campaign Open Reports
      description: 'Get a detailed report about any emails in a specific campaign that were opened by the recipient. '
      paths:
      - /reports/{campaign_id}/open-details
      - /reports/{campaign_id}/open-details/{subscriber_hash}
    click-reports:
      title: Click Reports
      description: Get detailed information about links clicked in campaigns.
      paths:
      - /reports/{campaign_id}/click-details
      - /reports/{campaign_id}/click-details/{link_id}
      subResources:
      - link-clickers
    campaign-ecommerce-product-activity:
      title: Ecommerce Product Activity
      description: Ecommerce product activity report for a campaign.
      paths:
      - /reports/{campaign_id}/ecommerce-product-activity
    link-clickers:
      title: Click Reports Members
      description: Get information about specific subscribers who clicked on links in a campaign.
      paths:
      - /reports/{campaign_id}/click-details/{link_id}/members
      - /reports/{campaign_id}/click-details/{link_id}/members/{subscriber_hash}
    domain-performance-reports:
      title: Domain Performance
      description: Get statistics for the top-performing domains from a campaign.
      paths:
      - /reports/{campaign_id}/domain-performance
    eepurl-reports:
      title: EepURL Reports
      description: Get a summary of social activity for the campaign, tracked by EepURL.
      paths:
      - /reports/{campaign_id}/eepurl
    email-activity-reports:
      title: Email Activity
      description: Get list member activity for a specific campaign.
      paths:
      - /reports/{campaign_id}/email-activity
      - /reports/{campaign_id}/email-activity/{subscriber_hash}
    location-reports:
      title: Location
      description: Get top open locations for a specific campaign.
      paths:
      - /reports/{campaign_id}/locations
    sent-to-reports:
      title: Sent To
      description: Get details about campaign recipients.
      paths:
      - /reports/{campaign_id}/sent-to
      - /reports/{campaign_id}/sent-to/{subscriber_hash}
    sub-reports:
      title: Sub-Reports
      description: A list of reports for child campaigns of a specific parent campaign. For example, use this endpoint to view Multivariate, RSS, and A/B Testing Campaign reports.
      paths:
      - /reports/{campaign_id}/sub-reports
    unsub-reports:
      title: Unsubscribes
      description: Get information about list members who unsubscribed from a specific campaign.
      paths:
      - /reports/{campaign_id}/unsubscribed
      - /reports/{campaign_id}/unsubscribed/{subscriber_hash}
    templates:
      title: Templates
      description: 'Manage your Mailchimp templates. A template is an HTML file used to create the layout and basic design for a campaign. '
      paths:
      - /templates
      - /templates/{template_id}
      subResources:
      - template-default-content
    template-default-content:
      title: Default Content
      description: Manage the default content for a Mailchimp template.
      paths:
      - /templates/{template_id}/default-content
    template-folders:
      title: Template Folders
      description: Organize your templates using folders.
      paths:
      - /template-folders
      - /template-folders/{folder_id}
    campaign-folders:
      title: Campaign Folders
      description: Organize your campaigns using folders.
      paths:
      - /campaign-folders
      - /campaign-folders/{folder_id}
    ecommerce-stores:
      title: E-commerce Stores
      description: Connect your E-commerce Store to Mailchimp to take advantage of powerful reporting and personalization features and to learn more about your customers.
      paths:
      - /ecommerce/stores
      - /ecommerce/stores/{store_id}
      subResources:
      - ecommerce-customers
      - ecommerce-orders
      - ecommerce-products
      - ecommerce-carts
      - ecommerce-promo-rules
    ecommerce-customers:
      title: Customers
      description: Add Customers to your Store to track their orders and to view E-Commerce Data for your Mailchimp lists and campaigns. Each Customer is connected to a Mailchimp list member, so adding a Customer can also add or update a list member.
      paths:
      - /ecommerce/stores/{store_id}/customers
      - /ecommerce/stores/{store_id}/customers/{customer_id}
    ecommerce-promo-rules:
      title: Promo Rules
      description: Promo Rules help you create promo codes for your campaigns. Promo Rules define generic information about promo codes like expiration time, start time, amount of discount being offered etc. For a given promo rule you can define if it's a percentage discount or a fixed amount and if it applies for the order as a whole or if it's per item or free shipping. You can then create promo codes for this price rule. Promo codes contain the actual code that is applied at checkout along with some other information. Price Rules have one to many relationship with promo codes.
      paths:
      - /ecommerce/stores/{store_id}/promo-rules
      - /ecommerce/stores/{store_id}/promo-rules/{promo_rule_id}
      subResources:
      - ecommerce-promo-codes
    ecommerce-promo-codes:
      title: Promo Codes
      description: Promo codes can be created for a given price rule. All the promo codes under a price rule share the generic information defined for that rule like the amount, type, expiration date etc. Promo code defines the more specific information about a promo code like the actual code, redemption_url, usage_count, etc that's unique to a code. Promo Code must be defined under a promo rule.
      paths:
      - /ecommerce/stores/{store_id}/promo-rules/{promo_rule_id}/promo-codes
      - /ecommerce/stores/{store_id}/promo-rules/{promo_rule_id}/promo-codes/{promo_code_id}
    ecommerce-orders:
      title: Orders
      description: Orders represent successful e-commerce transactions, and this data can be used to provide more detailed campaign reports, track sales, and personalize emails to your targeted consumers, and view other e-commerce data in your Mailchimp account.
      paths:
      - /ecommerce/orders
      - /ecommerce/stores/{store_id}/orders
      - /ecommerce/stores/{store_id}/orders/{order_id}
      subResources:
      - ecommerce-order-lines
    ecommerce-order-lines:
      title: Order Lines
      description: Each Order contains one or more Order Lines, which represent a specific Product Variant that a Customer purchases.
      paths:
      - /ecommerce/stores/{store_id}/orders/{order_id}/lines
      - /ecommerce/stores/{store_id}/orders/{order_id}/lines/{line_id}
    ecommerce-products:
      title: Products
      description: E-commerce items for sale in your store need to be created as Products so you can add the items to a Cart or an Order. Each Product requires at least one Product Variant.
      paths:
      - /ecommerce/stores/{store_id}/products
      - /ecommerce/stores/{store_id}/products/{product_id}
      subResources:
      - ecommerce-product-variants
      - ecommerce-product-images
    ecommerce-product-variants:
      title: Product Variants
      description: A Product Variant represents a specific item for purchase, and is contained within a parent Product. At least one Product Variant is required for each Product.
      paths:
      - /ecommerce/stores/{store_id}/products/{product_id}/variants
      - /ecommerce/stores/{store_id}/products/{product_id}/variants/{variant_id}
    ecommerce-product-images:
      title: Product Images
      description: A Product Image represents a specific product image.
      paths:
      - /ecommerce/stores/{store_id}/products/{product_id}/images
      - /ecommerce/stores/{store_id}/products/{product_id}/images/{image_id}
    ecommerce-carts:
      title: Carts
      description: Use Carts to represent unfinished e-commerce transactions. This can be used to create an Abandoned Cart workflow, or to save a consumers shopping cart pending a successful Order.
      paths:
      - /ecommerce/stores/{store_id}/carts
      - /ecommerce/stores/{store_id}/carts/{cart_id}
      subResources:
      - ecommerce-cart-lines
    ecommerce-cart-lines:
      title: Cart Lines
      description: Each Cart contains one or more Cart Lines, which represent a specific Product Variant that a Customer has added to their shopping cart.
      paths:
      - /ecommerce/stores/{store_id}/carts/{cart_id}/lines
      - /ecommerce/stores/{store_id}/carts/{cart_id}/lines/{line_id}
    facebook-ads:
      title: Facebook Ads
      description: Get information about Facebook Ads.
      paths:
      - /facebook-ads
[...]
