swagger: '2.0'
info:
  version: 3.0.55
  title: Mailchimp Marketing Abuse List_id API
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json
  description: '

    The Mailchimp Marketing API provides programmatic access to Mailchimp data

    and functionality, allowing developers to build custom features to do

    things like sync email activity and campaign analytics with their

    database, manage audiences and campaigns, and more.'
host: server.api.mailchimp.com
basePath: /3.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/problem+json
security:
- basicAuth: []
tags:
- name: List_id
paths:
  /lists/{list_id}:
    get:
      summary: Mailchimp Get List Info
      description: Get information about a specific list in your Mailchimp account. Results include list members who have signed up but haven't confirmed their subscription yet and unsubscribed or cleaned.
      operationId: getListsId
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: include_total_contacts
        x-title: Include Total Contacts
        in: query
        description: Return the total_contacts field in the stats response, which contains an approximate count of all contacts in any state.
        required: false
        type: boolean
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Subscriber List
            description: Information about a specific list.
            properties:
              id:
                type: string
                title: List ID
                description: A string that uniquely identifies this list.
                readOnly: true
              web_id:
                type: integer
                title: List Web ID
                description: The ID used in the Mailchimp web application. View this list in your Mailchimp account at `https://{dc}.admin.mailchimp.com/lists/members/?id={web_id}`.
                readOnly: true
              name:
                type: string
                title: List Name
                description: The name of the list.
              contact:
                type: object
                title: List Contact
                description: '[Contact information displayed in campaign footers](https://mailchimp.com/help/about-campaign-footers/) to comply with international spam laws.'
                properties:
                  company:
                    type: string
                    title: Company Name
                    description: The company name for the list.
                  address1:
                    type: string
                    title: Address
                    description: The street address for the list contact.
                  address2:
                    type: string
                    title: Address
                    description: The street address for the list contact.
                  city:
                    type: string
                    title: City
                    description: The city for the list contact.
                  state:
                    type: string
                    title: State
                    description: The state for the list contact.
                  zip:
                    type: string
                    title: Postal Code
                    description: The postal or zip code for the list contact.
                  country:
                    type: string
                    title: Country Code
                    description: A two-character ISO3166 country code. Defaults to US if invalid.
                  phone:
                    type: string
                    title: Phone Number
                    description: The phone number for the list contact.
              permission_reminder:
                type: string
                title: Permission Reminder
                description: The [permission reminder](https://mailchimp.com/help/edit-the-permission-reminder/) for the list.
              use_archive_bar:
                type: boolean
                title: Use Archive Bar
                description: Whether campaigns for this list use the [Archive Bar](https://mailchimp.com/help/about-email-campaign-archives-and-pages/) in archives by default.
                default: false
              campaign_defaults:
                type: object
                title: Campaign Defaults
                description: '[Default values for campaigns](https://mailchimp.com/help/edit-your-emails-subject-preview-text-from-name-or-from-email-address/) created for this list.'
                properties:
                  from_name:
                    type: string
                    title: Sender's Name
                    description: The default from name for campaigns sent to this list.
                  from_email:
                    type: string
                    title: Sender's Email Address
                    description: The default from email for campaigns sent to this list.
                  subject:
                    type: string
                    title: Subject
                    description: The default subject line for campaigns sent to this list.
                  language:
                    type: string
                    title: Language
                    description: The default language for this lists's forms.
              notify_on_subscribe:
                type: string
                title: Notify on Subscribe
                description: The email address to send [subscribe notifications](https://mailchimp.com/help/change-subscribe-and-unsubscribe-notifications/) to.
                default: false
              notify_on_unsubscribe:
                type: string
                title: Notify on Unsubscribe
                description: The email address to send [unsubscribe notifications](https://mailchimp.com/help/change-subscribe-and-unsubscribe-notifications/) to.
                default: false
              date_created:
                type: string
                title: Creation Date
                description: The date and time that this list was created in ISO 8601 format.
                format: date-time
                readOnly: true
              list_rating:
                type: integer
                title: List Rating
                description: An auto-generated activity score for the list (0-5).
                readOnly: true
              email_type_option:
                type: boolean
                title: Email Type Option
                description: Whether the list supports [multiple formats for emails](https://mailchimp.com/help/change-audience-name-defaults/). When set to `true`, subscribers can choose whether they want to receive HTML or plain-text emails. When set to `false`, subscribers will receive HTML emails, with a plain-text alternative backup.
              subscribe_url_short:
                type: string
                title: Subscribe URL Short
                description: Our [url shortened](https://mailchimp.com/help/share-your-signup-form/) version of this list's subscribe form.
                readOnly: true
              subscribe_url_long:
                type: string
                title: Subscribe URL Long
                description: The full version of this list's subscribe form (host will vary).
                readOnly: true
              beamer_address:
                type: string
                title: Beamer Address
                description: The list's [Email Beamer](https://mailchimp.com/help/use-email-beamer-to-create-a-campaign/) address.
                readOnly: true
              visibility:
                type: string
                title: Visibility
                enum:
                - pub
                - prv
                description: Legacy - visibility settings are no longer used
              double_optin:
                type: boolean
                title: Double Opt In
                description: Whether or not to require the subscriber to confirm subscription via email.
                default: false
              has_welcome:
                type: boolean
                title: Has Welcome
                description: 'Whether or not this list has a welcome automation connected. Welcome Automations: welcomeSeries, singleWelcome, emailFollowup.'
                default: false
                example: false
              marketing_permissions:
                type: boolean
                title: Marketing Permissions
                description: Whether or not the list has marketing permissions (eg. GDPR) enabled.
                default: false
              modules:
                type: array
                title: Modules
                description: Any list-specific modules installed for this list.
                items:
                  type: string
                readOnly: true
              stats:
                type: object
                title: Statistics
                description: Stats for the list. Many of these are cached for at least five minutes.
                readOnly: true
                properties:
                  member_count:
                    type: integer
                    title: Member Count
                    description: The number of active members in the list.
                    readOnly: true
                  total_contacts:
                    type: integer
                    title: Total Contacts
                    description: The number of contacts in the list, including subscribed, unsubscribed, pending, cleaned, deleted, transactional, and those that need to be reconfirmed. Requires include_total_contacts query parameter to be included.
                    readOnly: true
                  unsubscribe_count:
                    type: integer
                    title: Unsubscribe Count
                    description: The number of members who have unsubscribed from the list.
                    readOnly: true
                  cleaned_count:
                    type: integer
                    title: Cleaned Count
                    description: The number of members cleaned from the list.
                    readOnly: true
                  member_count_since_send:
                    type: integer
                    title: Member Count Since Send
                    description: The number of active members in the list since the last campaign was sent.
                    readOnly: true
                  unsubscribe_count_since_send:
                    type: integer
                    title: Unsubscribe Count Since Send
                    description: The number of members who have unsubscribed since the last campaign was sent.
                    readOnly: true
                  cleaned_count_since_send:
                    type: integer
                    title: Cleaned Count Since Send
                    description: The number of members cleaned from the list since the last campaign was sent.
                    readOnly: true
                  campaign_count:
                    type: integer
                    title: Campaign Count
                    description: The number of campaigns in any status that use this list.
                    readOnly: true
                  campaign_last_sent:
                    type: string
                    format: date-time
                    title: Campaign Last Sent
                    description: The date and time the last campaign was sent to this list in ISO 8601 format. This is updated when a campaign is sent to 10 or more recipients.
                    readOnly: true
                  merge_field_count:
                    type: integer
                    title: Merge Field Count
                    description: The number of merge fields ([audience field](https://mailchimp.com/help/getting-started-with-merge-tags/)) for this list (doesn't include EMAIL).
                    readOnly: true
                  avg_sub_rate:
                    type: number
                    title: Average Subscription Rate
                    description: The average number of subscriptions per month for the list (not returned if we haven't calculated it yet).
                    readOnly: true
                  avg_unsub_rate:
                    type: number
                    title: Average Unsubscription Rate
                    description: The average number of unsubscriptions per month for the list (not returned if we haven't calculated it yet).
                    readOnly: true
                  target_sub_rate:
                    type: number
                    title: Average Subscription Rate
                    description: The target number of subscriptions per month for the list to keep it growing (not returned if we haven't calculated it yet).
                    readOnly: true
                  open_rate:
                    type: number
                    title: Open Rate
                    description: The average open rate (a percentage represented as a number between 0 and 100) per campaign for the list (not returned if we haven't calculated it yet).
                    readOnly: true
                  click_rate:
                    type: number
                    title: Click Rate
                    description: The average click rate (a percentage represented as a number between 0 and 100) per campaign for the list (not returned if we haven't calculated it yet).
                    readOnly: true
                  last_sub_date:
                    type: string
                    format: date-time
                    title: Date of Last List Subscribe
                    description: The date and time of the last time someone subscribed to this list in ISO 8601 format.
                    readOnly: true
                  last_unsub_date:
                    type: string
                    format: date-time
                    title: Date of Last List Unsubscribe
                    description: The date and time of the last time someone unsubscribed from this list in ISO 8601 format.
                    readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - List_id
      x-custom-config:
        methodNameSnake: get_list
        methodNameCamel: getList
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Mailchimp Update Lists
      description: Update the settings for a specific list.
      operationId: patchListsId
      parameters:
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: body
        in: body
        required: true
        schema:
          type: object
          title: Subscriber List
          description: Information about a specific list.
          required:
          - name
          - permission_reminder
          - email_type_option
          - contact
          - campaign_defaults
          properties:
            name:
              type: string
              title: List Name
              description: The name of the list.
            contact:
              type: object
              title: List Contact
              description: '[Contact information displayed in campaign footers](https://mailchimp.com/help/about-campaign-footers/) to comply with international spam laws.'
              required:
              - company
              - address1
              - city
              - state
              - zip
              - country
              properties:
                company:
                  type: string
                  title: Company Name
                  description: The company name for the list.
                address1:
                  type: string
                  title: Address
                  description: The street address for the list contact.
                address2:
                  type: string
                  title: Address
                  description: The street address for the list contact.
                city:
                  type: string
                  title: City
                  description: The city for the list contact.
                state:
                  type: string
                  title: State
                  description: The state for the list contact.
                zip:
                  type: string
                  title: Postal Code
                  description: The postal or zip code for the list contact.
                country:
                  type: string
                  title: Country Code
                  description: A two-character ISO3166 country code. Defaults to US if invalid.
                phone:
                  type: string
                  title: Phone Number
                  description: The phone number for the list contact.
            permission_reminder:
              type: string
              title: Permission Reminder
              description: The [permission reminder](https://mailchimp.com/help/edit-the-permission-reminder/) for the list.
            use_archive_bar:
              type: boolean
              title: Use Archive Bar
              description: Whether campaigns for this list use the [Archive Bar](https://mailchimp.com/help/about-email-campaign-archives-and-pages/) in archives by default.
              default: false
            campaign_defaults:
              type: object
              title: Campaign Defaults
              description: '[Default values for campaigns](https://mailchimp.com/help/edit-your-emails-subject-preview-text-from-name-or-from-email-address/) created for this list.'
              required:
              - from_name
              - from_email
              - subject
              - language
              properties:
                from_name:
                  type: string
                  title: Sender's Name
                  description: The default from name for campaigns sent to this list.
                from_email:
                  type: string
                  title: Sender's Email Address
                  description: The default from email for campaigns sent to this list.
                subject:
                  type: string
                  title: Subject
                  description: The default subject line for campaigns sent to this list.
                language:
                  type: string
                  title: Language
                  description: The default language for this lists's forms.
            notify_on_subscribe:
              type: string
              title: Notify on Subscribe
              description: The email address to send [subscribe notifications](https://mailchimp.com/help/change-subscribe-and-unsubscribe-notifications/) to.
              default: false
            notify_on_unsubscribe:
              type: string
              title: Notify on Unsubscribe
              description: The email address to send [unsubscribe notifications](https://mailchimp.com/help/change-subscribe-and-unsubscribe-notifications/) to.
              default: false
            email_type_option:
              type: boolean
              title: Email Type Option
              description: Whether the list supports [multiple formats for emails](https://mailchimp.com/help/change-audience-name-defaults/). When set to `true`, subscribers can choose whether they want to receive HTML or plain-text emails. When set to `false`, subscribers will receive HTML emails, with a plain-text alternative backup.
            double_optin:
              type: boolean
              title: Double Opt In
              description: Whether or not to require the subscriber to confirm subscription via email.
              default: false
            marketing_permissions:
              type: boolean
              title: Marketing Permissions
              description: Whether or not the list has marketing permissions (eg. GDPR) enabled.
              default: false
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Subscriber List
            description: Information about a specific list.
            properties:
              id:
                type: string
                title: List ID
                description: A string that uniquely identifies this list.
                readOnly: true
              web_id:
                type: integer
                title: List Web ID
                description: The ID used in the Mailchimp web application. View this list in your Mailchimp account at `https://{dc}.admin.mailchimp.com/lists/members/?id={web_id}`.
                readOnly: true
              name:
                type: string
                title: List Name
                description: The name of the list.
              contact:
                type: object
                title: List Contact
                description: '[Contact information displayed in campaign footers](https://mailchimp.com/help/about-campaign-footers/) to comply with international spam laws.'
                properties:
                  company:
                    type: string
                    title: Company Name
                    description: The company name for the list.
                  address1:
                    type: string
                    title: Address
                    description: The street address for the list contact.
                  address2:
                    type: string
                    title: Address
                    description: The street address for the list contact.
                  city:
                    type: string
                    title: City
                    description: The city for the list contact.
                  state:
                    type: string
                    title: State
                    description: The state for the list contact.
                  zip:
                    type: string
                    title: Postal Code
                    description: The postal or zip code for the list contact.
                  country:
                    type: string
                    title: Country Code
                    description: A two-character ISO3166 country code. Defaults to US if invalid.
                  phone:
                    type: string
                    title: Phone Number
                    description: The phone number for the list contact.
              permission_reminder:
                type: string
                title: Permission Reminder
                description: The [permission reminder](https://mailchimp.com/help/edit-the-permission-reminder/) for the list.
              use_archive_bar:
                type: boolean
                title: Use Archive Bar
                description: Whether campaigns for this list use the [Archive Bar](https://mailchimp.com/help/about-email-campaign-archives-and-pages/) in archives by default.
                default: false
              campaign_defaults:
                type: object
                title: Campaign Defaults
                description: '[Default values for campaigns](https://mailchimp.com/help/edit-your-emails-subject-preview-text-from-name-or-from-email-address/) created for this list.'
                properties:
                  from_name:
                    type: string
                    title: Sender's Name
                    description: The default from name for campaigns sent to this list.
                  from_email:
                    type: string
                    title: Sender's Email Address
                    description: The default from email for campaigns sent to this list.
                  subject:
                    type: string
                    title: Subject
                    description: The default subject line for campaigns sent to this list.
                  language:
                    type: string
                    title: Language
                    description: The default language for this lists's forms.
              notify_on_subscribe:
                type: string
                title: Notify on Subscribe
                description: The email address to send [subscribe notifications](https://mailchimp.com/help/change-subscribe-and-unsubscribe-notifications/) to.
                default: false
              notify_on_unsubscribe:
                type: string
                title: Notify on Unsubscribe
                description: The email address to send [unsubscribe notifications](https://mailchimp.com/help/change-subscribe-and-unsubscribe-notifications/) to.
                default: false
              date_created:
                type: string
                title: Creation Date
                description: The date and time that this list was created in ISO 8601 format.
                format: date-time
                readOnly: true
              list_rating:
                type: integer
                title: List Rating
                description: An auto-generated activity score for the list (0-5).
                readOnly: true
              email_type_option:
                type: boolean
                title: Email Type Option
                description: Whether the list supports [multiple formats for emails](https://mailchimp.com/help/change-audience-name-defaults/). When set to `true`, subscribers can choose whether they want to receive HTML or plain-text emails. When set to `false`, subscribers will receive HTML emails, with a plain-text alternative backup.
              subscribe_url_short:
                type: string
                title: Subscribe URL Short
                description: Our [url shortened](https://mailchimp.com/help/share-your-signup-form/) version of this list's subscribe form.
                readOnly: true
              subscribe_url_long:
                type: string
                title: Subscribe URL Long
                description: The full version of this list's subscribe form (host will vary).
                readOnly: true
              beamer_address:
                type: string
                title: Beamer Address
                description: The list's [Email Beamer](https://mailchimp.com/help/use-email-beamer-to-create-a-campaign/) address.
                readOnly: true
              visibility:
                type: string
                title: Visibility
                enum:
                - pub
                - prv
                description: Legacy - visibility settings are no longer used
              double_optin:
                type: boolean
                title: Double Opt In
                description: Whether or not to require the subscriber to confirm subscription via email.
                default: false
              has_welcome:
                type: boolean
                title: Has Welcome
                description: 'Whether or not this list has a welcome automation connected. Welcome Automations: welcomeSeries, singleWelcome, emailFollowup.'
                default: false
                example: false
              marketing_permissions:
                type: boolean
                title: Marketing Permissions
                description: Whether or not the list has marketing permissions (eg. GDPR) enabled.
                default: false
              modules:
                type: array
                title: Modules
                description: Any list-specific modules installed for this list.
                items:
                  type: string
                readOnly: true
              stats:
                type: object
                title: Statistics
                description: Stats for the list. Many of these are cached for at least five minutes.
                readOnly: true
                properties:
                  member_count:
                    type: integer
                    title: Member Count
                    description: The number of active members in the list.
                    readOnly: true
                  total_contacts:
                    type: integer
                    title: Total Contacts
                    description: The number of contacts in the list, including subscribed, unsubscribed, pending, cleaned, deleted, transactional, and those that need to be reconfirmed. Requires include_total_contacts query parameter to be included.
                    readOnly: true
                  unsubscribe_count:
                    type: integer
                    title: Unsubscribe Count
                    description: The number of members who have unsubscribed from the list.
                    readOnly: true
                  cleaned_count:
                    type: integer
                    title: Cleaned Count
                    description: The number of members cleaned from the list.
                    readOnly: true
                  member_count_since_send:
                    type: integer
                    title: Member Count Since Send
                    description: The number of active members in the list since the last campaign was sent.
                    readOnly: true
                  unsubscribe_count_since_send:
                    type: integer
                    title: Unsubscribe Count Since Send
                    description: The number of members who have unsubscribed since the last campaign was sent.
                    readOnly: true
                  cleaned_count_since_send:
                    type: integer
                    title: Cleaned Count Since Send
                    description: The number of members cleaned from the list since the last campaign was sent.
                    readOnly: true
                  campaign_count:
                    type: integer
                    title: Campaign Count
                    description: The number of campaigns in any status that use this list.
                    readOnly: true
                  campaign_last_sent:
                    type: string
                    format: date-time
                    title: Campaign Last Sent
                    description: The date and time the last campaign was sent to this list in ISO 8601 format. This is updated when a campaign is sent to 10 or more recipients.
                    readOnly: true
                  merge_field_count:
                    type: integer
                    title: Merge Field Count
                    description: The number of merge fields ([audience field](https://mailchimp.com/help/getting-started-with-merge-tags/)) for this list (doesn't include EMAIL).
                    readOnly: true
                  avg_sub_rate:
                    type: number
                    title: Average Subscription Rate
                    description: The average number of subscriptions per month for the list (not returned if we haven't calculated it yet).
                    readOnly: true
                  avg_unsub_rate:
                    type: number
                    title: Average Unsubscription Rate
                    description: The average number of unsubscriptions per month for the list (not returned if we haven't calculated it yet).
                    readOnly: true
                  target_sub_rate:
                    type: number
                    title: Average Subscription Rate
                    description: The target number of subscriptions per month for the list to keep it growing (not returned if we haven't calculated it yet).
                    readOnly: true
                  open_rate:
                    type: number
                    title: Open Rate
                    description: The average open rate (a percentage represented as a number between 0 and 100) per campaign for the list (not returned if we haven't calculated it yet).
                    readOnly: true
                  click_rate:
                    type: number
                    title: Click Rate
                    description: The average click rate (a percentage represented as a number between 0 and 100) per campaign for the list (not returned if we haven't calculated it yet).
                    readOnly: true
                  last_sub_date:
                    type: string
                    format: date-time
                    title: Date of Last List Subscribe
                    description: The date and time of the last time someone subscribed to this list in ISO 8601 format.
                    readOnly: true
                  last_unsub_date:
                    type: string
                    format: date-time
                    title: Date of Last List Unsubscribe
                    description: The date and time of the last time someone unsubscribed from this list in ISO 8601 format.
                    readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - List_id
      x-custom-config:
        methodNameSnake: update_list
        methodNameCamel: updateList
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Mailchimp Delete List
      description: Delete a list from your Mailchimp account. If you delete a list, you'll lose the list historyincluding subscriber activity, unsubscribes, complaints, and bounces. Youll also lose subscribers email addresses, unless you exported and backed up your list.
      operationId: deleteListsId
      parameters:
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      responses:
        '204':
          description: Empty Response
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - List_id
      x-custom-config:
        methodNameSnake: delete_list
        methodNameCamel: deleteList
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Mailchimp Batch Subscribe or Unsubscribe
      description: Batch subscribe or unsubscribe list members.
      operationId: postListsId
      parameters:
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: skip_merge_validation
        x-title: Skip Merge Validation
        in: query
        description: If skip_merge_validation is true, member data will be accepted without merge field values, even if the merge field is usually required. This defaults to false.
        required: false
        type: boolean
        example: example_value
      - name: skip_duplicate_check
        x-title: Skip Duplicate Check
        in: query
        description: If skip_duplicate_check is true, we will ignore duplicates sent in the request when using the batch sub/unsub on the lists endpoint. The status of the first appearance in the request will be saved. This defaults to false.
        required: false
        type: boolean
        example: example_value
      - name: body
        in: body
        description: ''
        required: true
        schema:
          type: object
          title: Members to Subscribe/Unsubscribe to/from a List in batch
          description: Members to subscribe to or unsubscribe from a list.
          required:
          - members
          properties:
            members:
              type: array
              title: List Members
              description: An array of objects, each representing an email address and the subscription status for a specific list. Up to 500 members may be added or updated with each API call.
              items:
                type: object
                title: Add List Members
                description: Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.
                properties:
                  email_address:
                    type: string
                    title: Email Address
                    description: Email address for a subscriber.
                  email_type:
                    type: string
                    title: Email Type
                    description: Type of email this member asked to get ('html' or 'text').
                  status:
                    type: string
                    title: Status
                    description: Subscriber's current status.
                    enum:
                    - subscribed
                    - unsubscribed
                    - cleaned
                    - pending
                    - transactional
                  merge_fields:
                    type: object
                    title: Merge Fields
                    description: A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.
                    additionalProperties:
                      description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
                  interests:
                    type: object
                    title: Subscriber Interests
                    description: The key of this object's properties is the ID of the interest in question.
                    additionalProperties:
                      type: boolean
                      title: Interest Value
                      description: Keys are interest IDs, values are booleans that describe whether the list member is in that group or not.
                  language:
                    type: string
                    title: Language
                    description: If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/).
                  vip:
                    type: boolean
                    title: VIP
                    description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
                  location:
                    type: object
                    title: Location
                    description: Subscriber location information.
                    properties:
                      latitude:
                        type: number
                        title: Latitude
                        description: The location latitude.
                      longitude:
                        type: number
                        title: Longitude
                        description: The location longitude.
                  ip_signup:
                    type: string
                    title: Signup IP
                    description: IP address the subscriber signed up from.
                  timestamp_signup:
                    type: string
                    title: Signup Timestamp
                    description: The date and time the subscriber signed up for the list in ISO 8601 format.
                    format: date-time
                  ip_opt:
                    type: string
                    title: Opt-in IP
                    description: The IP address the subscriber used to confirm their opt-in status.
                  timestamp_opt:
                    type: string
                    title: Opt-in Timestamp
                    description: The date and time the subscriber confirmed their opt-in status in ISO 8601 format.
                    format: date-time
            sync_tags:
              type: boolean
              title: Sync Tags
              description: Whether this batch operation will replace all existing tags with tags in request.
            update_existing:
              type: boolean
              title: Update Existing Members
              description: Whether this batch operation will change existing members' subscription status.
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Batch update List members
            description: Batch update list members.
            properties:
              new_members:
                type: array
                title: New members
                description: An array of objects, each representing a new member that was added to the list.
                items:
                  type: object
                  title: List Members
                  description: Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.
                  properties:
                    id:
                      type: string
                      title: Email ID
                      description: The MD5 hash of the lowercase version of the list member's email address.
                      readOnly: true
                    email_address:
                      type: string
                      title: Email Address
                      description: Email address for a subscriber.
                    unique_email_id:
                      type: string
                      title: Unique Email ID
                      description: An identifier for the address across all of Mailchimp.
                      readOnly: true
                    email_type:
                      type: string
                      title: Email Type
                      description: Type of email this member asked to get ('html' or 'text').
                    status:
                      type: string
                      title: Status
                      description: Subscriber's current status.
                      enum:
                      - subscribed
                      - unsubscribed
                      - cleaned
                      - pending
                      - transactional
                    merge_fields:
                      type: object
                      title: Member Merge Var
                      description: An individual merge var and value for a member.
                      additionalProperties:
                        description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
                    interests:
                      type: object
                      title: Subscriber Interests
                      description: The key of this object's properties is the ID of the interest in question.
                      additionalProperties:
                        type: boolean
                        title: Interest Value
                        description: Keys are interest IDs, values are booleans that describe whether the list member is in that group or not.
                    stats:
                      type: object
                      title: Subscriber Stats
                      description: Open and click rates for this subscriber.
                      readOnly: true
                      properties:
                        avg_open_rate:
                          type: number
                          title: Average Open Rate
                          description: A subscriber's average open rate.
                          readOnly: true
                        avg_click_rate:
                          type: number
                          title: Average Click Rate
                          description: A subscriber's average clickthrough rate.
                          readOnly: true
                    ip_signup:
                      type: string
                      title: Signup IP
                      description: IP address the subscriber signed up from.
                      readOnly: true
                    timestamp_signup:
                      type: string
                      title: Signup Timestamp
                      description: The date and time the subscriber signed up for the list in ISO 8601 format.
                      format: date-time
                      readOnly: true
                    ip_opt:
                      type: string
                      title: Opt-in IP
                      description: The IP address the subscriber used to confirm their opt-in status.
                      readOnly: true
                    timestamp_opt:
                      type: string
                      title: Opt-in Timestamp
                      description: The date and time the subscriber confirmed their opt-in status in ISO 8601 format.
                      readOnly: true
                      format: date-time
                    member_rating:
                      type: integer
                      title: Member Rating
                      description: Star rating for this member, between 1 and 5.
                      readOnly: true
                    last_changed:
                      type: string
                      title: Last Changed Date
                      description: The date and time the member's info was last changed in ISO 8601 format.
                      readOnly: true
                      format: date-time
                    language:
                      type: string
                      title: Language
                      description: If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/).
                    vip:
                      type: boolean
                      title: VIP
                      description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
                    email_client:
                      type: string
                      title: Email Client
                      description: The list member's email client.
                      readOnly: true
                    location:
                      type: object
                      title: Location
                      description: Subscriber location information.
                      properties:
                        latitude:
                          type: number
                          title: Latitude
                          description: The location latitude.
                        longitude:
                          type: number
                          title: Longitude
                          description: The location longitude.
                        gmtoff:
                          type: integer
                          title: GMT Offset
                          description: The time difference in hours from GMT.
                          readOnly: true
                        dstoff:
                          type: integer
                          title: DST Offset
                          description: The offset for timezones where daylight saving time is observed.
                          readOnly: true
                        country_code:
                          type: string
                          title: Country Code
                          description: The unique code for the location country.
                          readOnly: true
                        timezone:
                          type: string
                          title: Timezone
                          description: The timezone for the location.
                          readOnly: true
                    last_note:
                      type: object
                      title: Notes
                      description: The most recent Note added about this member.
                      readOnly: true
                      properties:
                        note_id:
                          type: integer
                          title: Note ID
                          description: The note id.
                          readOnly: true
                        created_at:
                          type: string
                          title: Created Time
                          description: The date and time the note was created in ISO 8601 format.
                          format: date-time
                          readOnly: true
                        created_by:
                          type: string
                          title: Author
                          description: The author of the note.
                          readOnly: true
                        note:
                          type: string
                          title: Note
                          description: The content of the note.
                          readOnly: true
                    tags_count:
                      type: integer
                      title: Tags Count
                      description: The number of tags applied to this member.
                      readOnly: true
                    tags:
                      type: array
                      title: Tags
                      description: The tags applied to this member.
                      readOnly: false
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            title: Tag ID
                            description: The tag id.
                            readOnly: true
                          name:
                            type: string
                            title: Tag Name
                            description: The name of the tag
                            readOnly: true
                    list_id:
                      type: string
                      title: List ID
                      description: The list id.
                      readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
              updated_members:
                type: array
                title: Updated Members
                description: An array of objects, each representing an existing list member whose subscription status was updated.
                items:
                  type: object
                  title: List Members
                  description: Individuals who are currently or have been previously subscribed to this list, including members who have bounced or unsubscribed.
                  properties:
                    id:
                      type: string
                      title: Email ID
                      description: The MD5 hash of the lowercase version of the list member's email address.
                      readOnly: true
                    email_address:
                      type: string
                      title: Email Address
                      description: Email address for a subscriber.
                    unique_email_id:
                      type: string
                      title: Unique Email ID
                      description: An identifier for the address across all of Mailchimp.
                      readOnly: true
                    email_type:
                      type: string
                      title: Email Type
                      description: Type of email this member asked to get ('html' or 'text').
                    status:
                      type: string
                      title: Status
                      description: Subscriber's current status.
                      enum:
                      - subscribed
                      - unsubscribed
                      - cleaned
                      - pending
                      - transactional
                    merge_fields:
                      type: object
                      title: Member Merge Var
                      description: An individual merge var and value for a member.
                      additionalProperties:
                        description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
                    interests:
                      type: object
                      title: Subscriber Interests
                      description: The key of this object's properties is the ID of the interest in question.
                      additionalProperties:
                        type: boolean
                        title: Interest Value
                        description: Keys are interest IDs, values are booleans that describe whether the list member is in that group or not.
                    stats:
                      type: object
                      title: Subscriber Stats
                      description: Open and click rates for this subscriber.
                      readOnly: true
                      properties:
                        avg_open_rate:
                          type: number
                          title: Average Open Rate
                          description: A subscriber's average open rate.
                          readOnly: true
                        avg_click_rate:
                          type: number
                          title: Average Click Rate
                          description: A subscriber's average clickthrough rate.
                          readOnly: true
                    ip_signup:
                      type: string
                      title: Signup IP
                      description: IP address the subscriber signed up from.
                      readOnly: true
                    timestamp_signup:
                      type: string
                      title: Signup Timestamp
                      description: The date and time the subscriber signed up for the list in ISO 8601 format.
                      format: date-time
                      readOnly: true
                    ip_opt:
                      type: string
                      title: Opt-in IP
                      description: The IP address the subscriber used to confirm their opt-in status.
                      readOnly: true
                    timestamp_opt:
                      type: string
                      title: Opt-in Timestamp
                      description: The date and time the subscriber confirmed their opt-in status in ISO 8601 format.
                      readOnly: true
                      format: date-time
                    member_rating:
                      type: integer
                      title: Member Rating
                      description: Star rating for this member, between 1 and 5.
                      readOnly: true
                    last_changed:
                      type: string
                      title: Last Changed Date
                      description: The date and time the member's info was last changed in ISO 8601 format.
                      readOnly: true
                      format: date-time
                    language:
                      type: string
                      title: Language
                      description: If set/detected, the [subscriber's language](https://mailchimp.com/help/view-and-edit-contact-languages/).
                    vip:
                      type: boolean
                      title: VIP
                      description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
                    email_client:
                      type: string
                      title: Email Client
                      description: The list member's email client.
                      readOnly: true
                    location:
                      type: object
                      title: Location
                      description: Subscriber location information.
                      properties:
                        latitude:
                          type: number
                          title: Latitude
                          description: The location latitude.
                        longitude:
                          type: number
                          title: Longitude
                          description: The location longitude.
                        gmtoff:
                          type: integer
                          title: GMT Offset
                          description: The time difference in hours from GMT.
                          readOnly: true
                        dstoff:
                          type: integer
                          title: DST Offset
                          description: The offset for timezones where daylight saving time is observed.
                          readOnly: true
                        country_code:
                          type: string
                          title: Country Code
                          description: The unique code for the location country.
                          readOnly: true
                        timezone:
                          type: string
                          title: Timezone
                          description: The timezone for the location.
                          readOnly: true
                    last_note:
                      type: object
                      title: Notes
                      description: The most recent Note added about this member.
                      readOnly: true
                      properties:
                        note_id:
                          type: integer
                          title: Note ID
                          description: The note id.
                          readOnly: true
                        created_at:
                          type: string
                          title: Created Time
                          description: The date and time the note was created in ISO 8601 format.
                          format: date-time
                          readOnly: true
                        created_by:
                          type: string
                          title: Author
                          description: The author of the note.
                          readOnly: true
                        note:
                          type: string
                          title: Note
                          description: The content of the note.
                          readOnly: true
                    tags_count:
                      type: integer
                      title: Tags Count
                      description: The number of tags applied to this member.
                      readOnly: true
                    tags:
                      type: array
                      title: Tags
                      description: The tags applied to this member.
                      readOnly: false
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            title: Tag ID
                            description: The tag id.
                            readOnly: true
                          name:
                            type: string
                            title: Tag Name
                            description: The name of the tag
                            readOnly: true
                    list_id:
                      type: string
                      title: List ID
                      description: The list id.
                      readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
              errors:
                type: array
                title: Errors
                description: An array of objects, each representing an email address that could not be added to the list or updated and an error message providing more details.
                items:
                  type: object
                  properties:
                    email_address:
                      type: string
                      title: Member Email address
                      description: The email address that could not be added or updated.
                    error:
                      type: string
                      title: Error message
                      description: The error message indicating why the email address could not be added or updated.
                    error_code:
                      type: string
                      title: Error code
                      description: A unique code that identifies this specifc error.
                      enum:
                      - ERROR_CONTACT_EXISTS
                      - ERROR_GENERIC
                    field:
                      type: string
                      title: Field
                      description: If the error is field-related, information about which field is at issue.
                    field_message:
                      type: string
                      title: Field message
                      description: Message indicating how to resolve a field-related error.
              total_created:
                type: integer
                title: Item Count
                description: The total number of items matching the query, irrespective of pagination.
                example: 42
              total_updated:
                type: integer
                title: Item Count
                description: The total number of items matching the query, irrespective of pagination.
                example: 42
              error_count:
                type: integer
                title: Item Count
                description: The total number of items matching the query, irrespective of pagination.
                example: 42
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - List_id
      x-custom-config:
        methodNameSnake: batch_list_members
        methodNameCamel: batchListMembers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lists/{list_id}/abuse-reports:
    get:
      summary: Mailchimp List Abuse Reports
      description: Get all abuse reports for a specific list.
      operationId: getListsIdAbuseReports
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Abuse Complaints
            description: A collection of abuse complaints for a specific list. An abuse complaint occurs when your recipient clicks to 'report spam' in their email program.
            properties:
              abuse_reports:
                type: array
                items:
                  type: object
                  title: Abuse Complaint
                  description: Details of abuse complaints for a specific list. An abuse complaint occurs when your recipient clicks to 'report spam' in their email program.
                  properties:
                    id:
                      type: integer
                      title: Abuse Report ID
                      description: The id for the abuse report
                      readOnly: true
                    campaign_id:
                      type: string
                      title: Campaign ID
                      description: The campaign id for the abuse report
                      readOnly: true
                    list_id:
                      type: string
                      title: List ID
                      description: The list id for the abuse report.
                      readOnly: true
                    email_id:
                      type: string
                      title: Email Hash
                      description: The MD5 hash of the lowercase version of the list member's email address.
                      readOnly: true
                    email_address:
                      type: string
                      title: Email Address
                      description: Email address for a subscriber.
                      readOnly: true
                    merge_fields:
                      type: object
                      title: Merge Fields
                      description: A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.
                      additionalProperties:
                        description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
                    vip:
                      type: boolean
                      title: VIP
                      description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
                      readOnly: true
                    date:
                      type: string
                      title: Date
                      description: Date for the abuse report
                      readOnly: true
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
                title: Abuse Reports
                description: An array of objects, each representing an abuse report resource.
              list_id:
                type: string
                title: List ID
                description: The list id for the abuse report.
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - List_id
      x-custom-config:
        methodNameSnake: get_list_abuse_reports
        methodNameCamel: getListAbuseReports
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /lists/{list_id}/abuse-reports/{report_id}:
    get:
      summary: Mailchimp Get Abuse Report
      description: Get details about a specific abuse report.
      operationId: getListsIdAbuseReportsId
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - name: list_id
        x-title: List ID
        in: path
        description: The unique ID for the list.
        required: true
        type: string
        example: '500123'
      - name: report_id
        in: path
        required: true
        type: string
        description: The id for the abuse report.
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: Abuse Complaint
            description: Details of abuse complaints for a specific list. An abuse complaint occurs when your recipient clicks to 'report spam' in their email program.
            properties:
              id:
                type: integer
                title: Abuse Report ID
                description: The id for the abuse report
                readOnly: true
              campaign_id:
                type: string
                title: Campaign ID
                description: The campaign id for the abuse report
                readOnly: true
              list_id:
                type: string
                title: List ID
                description: The list id for the abuse report.
                readOnly: true
              email_id:
                type: string
                title: Email Hash
                description: The MD5 hash of the lowercase version of the list member's email address.
                readOnly: true
              email_address:
                type: string
                title: Email Address
                description: Email address for a subscriber.
                readOnly: true
              merge_fields:
                type: object
                title: Merge Fields
                description: A dictionary of merge fields where the keys are the merge tags. See the [Merge Fields documentation](https://mailchimp.com/developer/marketing/docs/merge-fields/#structure) for more about the structure.
                additionalProperties:
                  description: This object's keys are merge tags (like FNAME). It's values are the values to be added to the merge field.
              vip:
                type: boolean
                title: VIP
                description: '[VIP status](https://mailchimp.com/help/designate-and-send-to-vip-contacts/) for subscriber.'
                readOnly: true
              date:
                type: string
                title: Date
                description: Date for the abuse report
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
[...]
