swagger: '2.0'
info:
  version: 3.0.55
  title: Mailchimp Marketing Abuse Ecommerce API
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json
  description: '

    The Mailchimp Marketing API provides programmatic access to Mailchimp data

    and functionality, allowing developers to build custom features to do

    things like sync email activity and campaign analytics with their

    database, manage audiences and campaigns, and more.'
host: server.api.mailchimp.com
basePath: /3.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
- application/problem+json
security:
- basicAuth: []
tags:
- name: Ecommerce
paths:
  /reports/{campaign_id}/ecommerce-product-activity:
    get:
      description: Get breakdown of product activity for a campaign
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: count
        x-title: Count
        in: query
        description: The number of records to return. Default value is 10. Maximum value is 1000
        required: false
        default: 10
        maximum: 1000
        type: integer
        example: example_value
      - name: offset
        x-title: Offset
        in: query
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.
        required: false
        default: 0
        type: integer
        example: example_value
      - in: path
        name: campaign_id
        x-title: Campaign ID
        type: string
        required: true
        description: The unique id for the campaign.
        example: '500123'
      - name: sort_field
        x-title: Sort By Field
        description: Returns files sorted by the specified field.
        in: query
        required: false
        type: string
        enum:
        - title
        - total_revenue
        - total_purchased
        example: example_value
      responses:
        '200':
          description: Ecommerce Product Activity Instance
          schema:
            type: object
            description: A collection of ecommerce products.
            properties:
              products:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    sku:
                      type: string
                    image_url:
                      type: string
                    total_revenue:
                      type: number
                    total_purchased:
                      type: number
                    currency_code:
                      type: string
                    recommendation_total:
                      type: integer
                    recommendation_purchased:
                      type: integer
              total_items:
                type: integer
                title: Item Count
                description: The total number of items matching the query regardless of pagination.
                readOnly: true
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      tags:
      - Ecommerce
      x-custom-config:
        methodNameSnake: get_ecommerce_product_activity_for_campaign
        methodNameCamel: getEcommerceProductActivityForCampaign
      summary: Mailchimp List Campaign Product Activity
      operationId: getReportsIdEcommerceProductActivity
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ecommerce/stores/{store_id}:
    get:
      summary: Mailchimp Get Store Info
      description: Get information about a specific store.
      operationId: getEcommerceStoresId
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: store_id
        x-title: Store ID
        description: The store id.
        in: path
        required: true
        type: string
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: E-commerce Store
            description: An individual store in an account.
            properties:
              id:
                type: string
                title: Store Foreign ID
                description: The unique identifier for the store.
                readOnly: true
                example: example_store
              list_id:
                type: string
                title: List ID
                description: The unique identifier for the list that's associated with the store. The `list_id` for a specific store can't change.
                readOnly: true
                example: 1a2df69511
              name:
                type: string
                title: Store Name
                description: The name of the store.
                example: Freddie's Cat Hat Emporium
              platform:
                type: string
                title: Platform
                description: The e-commerce platform of the store.
              domain:
                type: string
                title: Domain
                description: The store domain.  The store domain must be unique within a user account.
                example: example.com
              is_syncing:
                type: boolean
                title: Is Syncing
                description: Whether to disable automations because the store is currently [syncing](https://mailchimp.com/developer/marketing/docs/e-commerce/#pausing-store-automations).
              email_address:
                type: string
                title: Email Address
                description: The email address for the store.
                example: freddie@mailchimp.com
              currency_code:
                type: string
                title: Currency
                description: The three-letter ISO 4217 code for the currency that the store accepts.
                example: USD
              money_format:
                type: string
                title: Money Format
                description: 'The currency format for the store. For example: `$`, ``, etc.'
                example: $
              primary_locale:
                type: string
                title: Primary Locale
                description: 'The primary locale for the store. For example: `en`, `de`, etc.'
                example: fr
              timezone:
                type: string
                title: Timezone
                description: The timezone for the store.
                example: Eastern
              phone:
                type: string
                title: Phone
                description: The store phone number.
                example: 404-444-4444
              address:
                type: object
                title: Address
                description: The store address.
                properties:
                  address1:
                    type: string
                    title: Address Field 1
                    description: The store's mailing address.
                    example: 675 Ponce de Leon Ave NE
                  address2:
                    type: string
                    title: Address Field 2
                    description: An additional field for the store's mailing address.
                    example: Suite 5000
                  city:
                    type: string
                    title: 'City '
                    description: The city the store is located in.
                    example: Atlanta
                  province:
                    type: string
                    title: Province
                    description: The store's state name or normalized province.
                    example: Georgia
                  province_code:
                    type: string
                    title: Province Code
                    description: The two-letter code for the store's province or state.
                    example: GA
                  postal_code:
                    type: string
                    title: Postal Code
                    description: The store's postal or zip code.
                    example: '30308'
                  country:
                    type: string
                    title: Country Code
                    description: The store's country.
                    example: United States
                  country_code:
                    type: string
                    title: Country Code
                    description: The two-letter code for to the store's country.
                    example: US
                  longitude:
                    type: number
                    title: Longitude
                    description: The longitude of the store location.
                    example: -75.68903
                  latitude:
                    type: number
                    title: Latitude
                    description: The latitude of the store location.
                    example: 45.427408
              connected_site:
                type: object
                title: Connected Site
                description: The Connected Site associated with the store.
                readOnly: true
                properties:
                  site_foreign_id:
                    type: string
                    title: Connected Site Foreign ID
                    description: The unique identifier for the connected site.
                    readOnly: true
                    example: a180c384d7db88b if created in-app, MC001 if created via API
                  site_script:
                    type: object
                    title: Script
                    description: The script used to connect your site with Mailchimp.
                    readOnly: true
                    properties:
                      url:
                        type: string
                        title: Script URL
                        description: The URL used for any integrations that offer built-in support for connected sites.
                        readOnly: true
                        example: https://chimpstatic.com/mcjs-connected/js/users/{user-hash}/{site-hash}.js
                      fragment:
                        type: string
                        title: Script Fragment
                        description: A pre-built script that you can copy-and-paste into your site to integrate it with Mailchimp.
                        readOnly: true
                        example: <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/{user-hash}/{site-hash}.js");</script>
              automations:
                type: object
                title: Automations
                description: Details for the automations attached to this store.
                readOnly: true
                properties:
                  abandoned_cart:
                    type: object
                    title: Abandoned Cart Automation
                    description: abandonedCart automation details.
                    readOnly: true
                    properties:
                      is_supported:
                        type: boolean
                        title: Is Supported
                        description: Whether this store supports the abandonedCart automation.
                        readOnly: true
                        example: false
                      id:
                        type: string
                        title: ID
                        description: Unique ID of automation parent campaign.
                        readOnly: true
                        example: 355a72bfc3
                      status:
                        type: string
                        title: Status
                        description: Status of the abandonedCart automation.
                        enum:
                        - save
                        - sending
                        - paused
                        readOnly: true
                        example: sending
                  abandoned_browse:
                    type: object
                    title: Abandoned Browse Automation
                    description: abandonedBrowse automation details. abandonedBrowse is also known as Product Retargeting Email or Retarget Site Visitors on the web.
                    readOnly: true
                    properties:
                      is_supported:
                        type: boolean
                        title: Is Supported
                        description: Whether this store supports the abandonedBrowse automation.
                        readOnly: true
                        example: false
                      id:
                        type: string
                        title: ID
                        description: Unique ID of automation parent campaign.
                        readOnly: true
                        example: 355a72bfc3
                      status:
                        type: string
                        title: Status
                        description: Status of the abandonedBrowse automation.
                        enum:
                        - save
                        - sending
                        - paused
                        readOnly: true
                        example: sending
              list_is_active:
                type: boolean
                title: List Status
                description: The status of the list connected to the store, namely if it's deleted or disabled.
                readOnly: true
              created_at:
                type: string
                title: Creation Time
                format: date-time
                description: The date and time the store was created in ISO 8601 format.
                readOnly: true
                example: '2015-07-15T19:28:00+00:00'
              updated_at:
                type: string
                title: Update Time
                format: date-time
                description: The date and time the store was last updated in ISO 8601 format.
                readOnly: true
                example: '2015-07-15T19:28:00+00:00'
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Ecommerce
      x-custom-config:
        methodNameSnake: get_store
        methodNameCamel: getStore
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Mailchimp Update Store
      description: Update a store.
      operationId: patchEcommerceStoresId
      parameters:
      - name: store_id
        x-title: Store ID
        description: The store id.
        in: path
        required: true
        type: string
        example: '500123'
      - name: body
        in: body
        description: ''
        required: true
        schema:
          type: object
          title: E-commerce Store
          description: An individual store in an account.
          properties:
            name:
              type: string
              title: Store Name
              description: The name of the store.
              example: Freddie's Cat Hat Emporium
            platform:
              type: string
              title: Platform
              description: The e-commerce platform of the store.
            domain:
              type: string
              title: Domain
              description: The store domain.
              example: example.com
            is_syncing:
              type: boolean
              title: Is Syncing
              description: Whether to disable automations because the store is currently [syncing](https://mailchimp.com/developer/marketing/docs/e-commerce/#pausing-store-automations).
            email_address:
              type: string
              title: Email Address
              description: The email address for the store.
              example: freddie@mailchimp.com
            currency_code:
              type: string
              title: Currency
              description: The three-letter ISO 4217 code for the currency that the store accepts.
              example: USD
            money_format:
              type: string
              title: Money Format
              description: 'The currency format for the store. For example: `$`, ``, etc.'
              example: $
            primary_locale:
              type: string
              title: Primary Locale
              description: 'The primary locale for the store. For example: `en`, `de`, etc.'
              example: fr
            timezone:
              type: string
              title: Timezone
              description: The timezone for the store.
              example: Eastern
            phone:
              type: string
              title: Phone
              description: The store phone number.
              example: 404-444-4444
            address:
              type: object
              title: Address
              description: The store address.
              properties:
                address1:
                  type: string
                  title: Address Field 1
                  description: The store's mailing address.
                  example: 675 Ponce de Leon Ave NE
                address2:
                  type: string
                  title: Address Field 2
                  description: An additional field for the store's mailing address.
                  example: Suite 5000
                city:
                  type: string
                  title: 'City '
                  description: The city the store is located in.
                  example: Atlanta
                province:
                  type: string
                  title: Province
                  description: The store's state name or normalized province.
                  example: Georgia
                province_code:
                  type: string
                  title: Province Code
                  description: The two-letter code for the store's province or state.
                  example: GA
                postal_code:
                  type: string
                  title: Postal Code
                  description: The store's postal or zip code.
                  example: '30308'
                country:
                  type: string
                  title: Country Code
                  description: The store's country.
                  example: United States
                country_code:
                  type: string
                  title: Country Code
                  description: The two-letter code for to the store's country.
                  example: US
                longitude:
                  type: number
                  title: Longitude
                  description: The longitude of the store location.
                  example: -75.68903
                latitude:
                  type: number
                  title: Latitude
                  description: The latitude of the store location.
                  example: 45.427408
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: E-commerce Store
            description: An individual store in an account.
            properties:
              id:
                type: string
                title: Store Foreign ID
                description: The unique identifier for the store.
                readOnly: true
                example: example_store
              list_id:
                type: string
                title: List ID
                description: The unique identifier for the list that's associated with the store. The `list_id` for a specific store can't change.
                readOnly: true
                example: 1a2df69511
              name:
                type: string
                title: Store Name
                description: The name of the store.
                example: Freddie's Cat Hat Emporium
              platform:
                type: string
                title: Platform
                description: The e-commerce platform of the store.
              domain:
                type: string
                title: Domain
                description: The store domain.  The store domain must be unique within a user account.
                example: example.com
              is_syncing:
                type: boolean
                title: Is Syncing
                description: Whether to disable automations because the store is currently [syncing](https://mailchimp.com/developer/marketing/docs/e-commerce/#pausing-store-automations).
              email_address:
                type: string
                title: Email Address
                description: The email address for the store.
                example: freddie@mailchimp.com
              currency_code:
                type: string
                title: Currency
                description: The three-letter ISO 4217 code for the currency that the store accepts.
                example: USD
              money_format:
                type: string
                title: Money Format
                description: 'The currency format for the store. For example: `$`, ``, etc.'
                example: $
              primary_locale:
                type: string
                title: Primary Locale
                description: 'The primary locale for the store. For example: `en`, `de`, etc.'
                example: fr
              timezone:
                type: string
                title: Timezone
                description: The timezone for the store.
                example: Eastern
              phone:
                type: string
                title: Phone
                description: The store phone number.
                example: 404-444-4444
              address:
                type: object
                title: Address
                description: The store address.
                properties:
                  address1:
                    type: string
                    title: Address Field 1
                    description: The store's mailing address.
                    example: 675 Ponce de Leon Ave NE
                  address2:
                    type: string
                    title: Address Field 2
                    description: An additional field for the store's mailing address.
                    example: Suite 5000
                  city:
                    type: string
                    title: 'City '
                    description: The city the store is located in.
                    example: Atlanta
                  province:
                    type: string
                    title: Province
                    description: The store's state name or normalized province.
                    example: Georgia
                  province_code:
                    type: string
                    title: Province Code
                    description: The two-letter code for the store's province or state.
                    example: GA
                  postal_code:
                    type: string
                    title: Postal Code
                    description: The store's postal or zip code.
                    example: '30308'
                  country:
                    type: string
                    title: Country Code
                    description: The store's country.
                    example: United States
                  country_code:
                    type: string
                    title: Country Code
                    description: The two-letter code for to the store's country.
                    example: US
                  longitude:
                    type: number
                    title: Longitude
                    description: The longitude of the store location.
                    example: -75.68903
                  latitude:
                    type: number
                    title: Latitude
                    description: The latitude of the store location.
                    example: 45.427408
              connected_site:
                type: object
                title: Connected Site
                description: The Connected Site associated with the store.
                readOnly: true
                properties:
                  site_foreign_id:
                    type: string
                    title: Connected Site Foreign ID
                    description: The unique identifier for the connected site.
                    readOnly: true
                    example: a180c384d7db88b if created in-app, MC001 if created via API
                  site_script:
                    type: object
                    title: Script
                    description: The script used to connect your site with Mailchimp.
                    readOnly: true
                    properties:
                      url:
                        type: string
                        title: Script URL
                        description: The URL used for any integrations that offer built-in support for connected sites.
                        readOnly: true
                        example: https://chimpstatic.com/mcjs-connected/js/users/{user-hash}/{site-hash}.js
                      fragment:
                        type: string
                        title: Script Fragment
                        description: A pre-built script that you can copy-and-paste into your site to integrate it with Mailchimp.
                        readOnly: true
                        example: <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/{user-hash}/{site-hash}.js");</script>
              automations:
                type: object
                title: Automations
                description: Details for the automations attached to this store.
                readOnly: true
                properties:
                  abandoned_cart:
                    type: object
                    title: Abandoned Cart Automation
                    description: abandonedCart automation details.
                    readOnly: true
                    properties:
                      is_supported:
                        type: boolean
                        title: Is Supported
                        description: Whether this store supports the abandonedCart automation.
                        readOnly: true
                        example: false
                      id:
                        type: string
                        title: ID
                        description: Unique ID of automation parent campaign.
                        readOnly: true
                        example: 355a72bfc3
                      status:
                        type: string
                        title: Status
                        description: Status of the abandonedCart automation.
                        enum:
                        - save
                        - sending
                        - paused
                        readOnly: true
                        example: sending
                  abandoned_browse:
                    type: object
                    title: Abandoned Browse Automation
                    description: abandonedBrowse automation details. abandonedBrowse is also known as Product Retargeting Email or Retarget Site Visitors on the web.
                    readOnly: true
                    properties:
                      is_supported:
                        type: boolean
                        title: Is Supported
                        description: Whether this store supports the abandonedBrowse automation.
                        readOnly: true
                        example: false
                      id:
                        type: string
                        title: ID
                        description: Unique ID of automation parent campaign.
                        readOnly: true
                        example: 355a72bfc3
                      status:
                        type: string
                        title: Status
                        description: Status of the abandonedBrowse automation.
                        enum:
                        - save
                        - sending
                        - paused
                        readOnly: true
                        example: sending
              list_is_active:
                type: boolean
                title: List Status
                description: The status of the list connected to the store, namely if it's deleted or disabled.
                readOnly: true
              created_at:
                type: string
                title: Creation Time
                format: date-time
                description: The date and time the store was created in ISO 8601 format.
                readOnly: true
                example: '2015-07-15T19:28:00+00:00'
              updated_at:
                type: string
                title: Update Time
                format: date-time
                description: The date and time the store was last updated in ISO 8601 format.
                readOnly: true
                example: '2015-07-15T19:28:00+00:00'
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Ecommerce
      x-custom-config:
        methodNameSnake: update_store
        methodNameCamel: updateStore
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Mailchimp Delete Store
      description: Delete a store. Deleting a store will also delete any associated subresources, including Customers, Orders, Products, and Carts.
      operationId: deleteEcommerceStoresId
      parameters:
      - name: store_id
        x-title: Store ID
        description: The store id.
        in: path
        required: true
        type: string
        example: '500123'
      responses:
        '204':
          description: Empty Response
          schema:
            description: Empty Response
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Ecommerce
      x-custom-config:
        methodNameSnake: delete_store
        methodNameCamel: deleteStore
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ecommerce/stores/{store_id}/carts/{cart_id}:
    get:
      summary: Mailchimp Get Cart Info
      description: Get information about a specific cart.
      operationId: getEcommerceStoresIdCartsId
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: store_id
        x-title: Store ID
        description: The store id.
        in: path
        required: true
        type: string
        example: '500123'
      - name: cart_id
        x-title: Cart ID
        description: The id for the cart.
        in: path
        required: true
        type: string
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: E-commerce Cart
            description: Information about a specific cart.
            properties:
              id:
                type: string
                title: Cart Foreign ID
                description: A unique identifier for the cart.
                readOnly: true
              customer:
                type: object
                title: E-commerce Customer
                description: Information about a specific customer.
                properties:
                  id:
                    type: string
                    title: Customer Foreign ID
                    description: A unique identifier for the customer.
                    readOnly: true
                  email_address:
                    type: string
                    title: Email Address
                    description: The customer's email address.
                    readOnly: true
                  opt_in_status:
                    type: boolean
                    title: Opt-in Status
                    description: The customer's opt-in status. This value will never overwrite the opt-in status of a pre-existing Mailchimp list member, but will apply to list members that are added through the e-commerce API endpoints. Customers who don't opt in to your Mailchimp list [will be added as `Transactional` members](https://mailchimp.com/developer/marketing/docs/e-commerce/#customers).
                  company:
                    type: string
                    title: Company
                    description: The customer's company.
                  first_name:
                    type: string
                    title: First Name
                    description: The customer's first name.
                  last_name:
                    type: string
                    title: Last Name
                    description: The customer's last name.
                  orders_count:
                    type: integer
                    title: Orders Count
                    description: The customer's total order count.
                    readOnly: true
                    example: 4
                  total_spent:
                    type: number
                    title: Total Spent
                    description: The total amount the customer has spent.
                    readOnly: true
                    example: 100
                  address:
                    type: object
                    title: Address
                    description: The customer's address.
                    properties:
                      address1:
                        type: string
                        title: Address Field 1
                        description: The mailing address of the customer.
                        example: 675 Ponce de Leon Ave NE
                      address2:
                        type: string
                        title: Address Field 2
                        description: An additional field for the customer's mailing address.
                        example: Suite 5000
                      city:
                        type: string
                        title: 'City '
                        description: The city the customer is located in.
                        example: Atlanta
                      province:
                        type: string
                        title: Province
                        description: The customer's state name or normalized province.
                        example: Georgia
                      province_code:
                        type: string
                        title: Province Code
                        description: The two-letter code for the customer's province or state.
                        example: GA
                      postal_code:
                        type: string
                        title: Postal Code
                        description: The customer's postal or zip code.
                        example: '30308'
                      country:
                        type: string
                        title: Country Code
                        description: The customer's country.
                        example: United States
                      country_code:
                        type: string
                        title: Country Code
                        description: The two-letter code for the customer's country.
                        example: US
                  created_at:
                    type: string
                    title: Creation Time
                    format: date-time
                    description: The date and time the customer was created in ISO 8601 format.
                    readOnly: true
                    example: '2015-07-15T19:28:00+00:00'
                  updated_at:
                    type: string
                    title: Update Time
                    format: date-time
                    description: The date and time the customer was last updated in ISO 8601 format.
                    readOnly: true
                    example: '2015-07-15T19:28:00+00:00'
                  _links:
                    title: Links
                    description: A list of link types and descriptions for the API schema documents.
                    type: array
                    items:
                      type: object
                      title: Resource Link
                      description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                      properties:
                        rel:
                          type: string
                          title: Rel
                          description: As with an HTML 'rel' attribute, this describes the type of link.
                          readOnly: true
                        href:
                          type: string
                          title: Href
                          description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                          readOnly: true
                        method:
                          type: string
                          title: Method
                          description: The HTTP method that should be used when accessing the URL defined in 'href'.
                          enum:
                          - GET
                          - POST
                          - PUT
                          - PATCH
                          - DELETE
                          - OPTIONS
                          - HEAD
                          readOnly: true
                        targetSchema:
                          type: string
                          title: Target Schema
                          description: For GETs, this is a URL representing the schema that the response should conform to.
                          readOnly: true
                        schema:
                          type: string
                          title: Schema
                          description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                          readOnly: true
                    readOnly: true
              campaign_id:
                type: string
                title: Campaign ID
                description: A string that uniquely identifies the campaign associated with a cart.
                example: 839488a60b
              checkout_url:
                type: string
                title: Checkout URL
                description: The URL for the cart. This parameter is required for [Abandoned Cart](https://mailchimp.com/help/create-an-abandoned-cart-email/) automations.
              currency_code:
                type: string
                title: Currency Code
                description: The three-letter ISO 4217 code for the currency that the cart uses.
              order_total:
                type: number
                title: Order Total
                description: The order total for the cart.
              tax_total:
                type: number
                title: Tax Total
                description: The total tax for the cart.
              lines:
                type: array
                title: Cart Line Items
                description: An array of the cart's line items.
                items:
                  type: object
                  title: E-commerce Cart Line Item
                  description: Information about a specific cart line item.
                  properties:
                    id:
                      type: string
                      title: Cart Line Item Foreign ID
                      description: A unique identifier for the cart line item.
                      readOnly: true
                    product_id:
                      type: string
                      title: Cart Line Product Foreign ID
                      description: A unique identifier for the product associated with the cart line item.
                    product_title:
                      type: string
                      title: Cart Line Product Title
                      description: The name of the product for the cart line item.
                      readOnly: true
                    product_variant_id:
                      type: string
                      title: Cart Line Product Variant Foreign ID
                      description: A unique identifier for the product variant associated with the cart line item.
                    product_variant_title:
                      type: string
                      title: Cart Line Product Variant Title
                      description: The name of the product variant for the cart line item.
                      readOnly: true
                    quantity:
                      type: integer
                      title: Quantity
                      description: The quantity of a cart line item.
                    price:
                      type: number
                      title: Price
                      description: The price of a cart line item.
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
              created_at:
                type: string
                title: Creation Time
                format: date-time
                description: The date and time the cart was created in ISO 8601 format.
                readOnly: true
                example: '2015-07-15T19:28:00+00:00'
              updated_at:
                type: string
                title: Update Time
                format: date-time
                description: The date and time the cart was last updated in ISO 8601 format.
                readOnly: true
                example: '2015-07-15T19:28:00+00:00'
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Ecommerce
      x-custom-config:
        methodNameSnake: get_store_cart
        methodNameCamel: getStoreCart
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Mailchimp Update Cart
      description: Update a specific cart.
      operationId: patchEcommerceStoresIdCartsId
      parameters:
      - name: store_id
        x-title: Store ID
        description: The store id.
        in: path
        required: true
        type: string
        example: '500123'
      - name: cart_id
        x-title: Cart ID
        description: The id for the cart.
        in: path
        required: true
        type: string
        example: '500123'
      - name: body
        in: body
        description: ''
        required: true
        schema:
          type: object
          title: E-commerce Cart
          description: Information about a specific cart.
          properties:
            customer:
              type: object
              title: E-commerce Customer
              description: Information about a specific customer. Orders for existing customers should include only the `id` parameter in the `customer` object body.
              properties:
                opt_in_status:
                  type: boolean
                  title: Opt-in Status
                  description: The customer's opt-in status. This value will never overwrite the opt-in status of a pre-existing Mailchimp list member, but will apply to list members that are added through the e-commerce API endpoints. Customers who don't opt in to your Mailchimp list [will be added as `Transactional` members](https://mailchimp.com/developer/marketing/docs/e-commerce/#customers).
                company:
                  type: string
                  title: Company
                  description: The customer's company.
                first_name:
                  type: string
                  title: First Name
                  description: The customer's first name.
                last_name:
                  type: string
                  title: Last Name
                  description: The customer's last name.
                address:
                  type: object
                  title: Address
                  description: The customer's address.
                  properties:
                    address1:
                      type: string
                      title: Address Field 1
                      description: The mailing address of the customer.
                      example: 675 Ponce de Leon Ave NE
                    address2:
                      type: string
                      title: Address Field 2
                      description: An additional field for the customer's mailing address.
                      example: Suite 5000
                    city:
                      type: string
                      title: 'City '
                      description: The city the customer is located in.
                      example: Atlanta
                    province:
                      type: string
                      title: Province
                      description: The customer's state name or normalized province.
                      example: Georgia
                    province_code:
                      type: string
                      title: Province Code
                      description: The two-letter code for the customer's province or state.
                      example: GA
                    postal_code:
                      type: string
                      title: Postal Code
                      description: The customer's postal or zip code.
                      example: '30308'
                    country:
                      type: string
                      title: Country Code
                      description: The customer's country.
                      example: United States
                    country_code:
                      type: string
                      title: Country Code
                      description: The two-letter code for the customer's country.
                      example: US
            campaign_id:
              type: string
              title: Campaign ID
              description: A string that uniquely identifies the campaign associated with a cart.
              example: 839488a60b
            checkout_url:
              type: string
              title: Checkout URL
              description: The URL for the cart. This parameter is required for [Abandoned Cart](https://mailchimp.com/help/create-an-abandoned-cart-email/) automations.
            currency_code:
              type: string
              title: Currency Code
              description: The three-letter ISO 4217 code for the currency that the cart uses.
            order_total:
              type: number
              title: Order Total
              description: The order total for the cart.
            tax_total:
              type: number
              title: Tax Total
              description: The total tax for the cart.
            lines:
              type: array
              title: Cart Line Items
              description: An array of the cart's line items.
              items:
                type: object
                title: E-commerce Cart Line Item
                description: Information about a specific cart line item.
                properties:
                  product_id:
                    type: string
                    title: Cart Line Product Foreign ID
                    description: A unique identifier for the product associated with the cart line item.
                  product_variant_id:
                    type: string
                    title: Cart Line Product Variant Foreign ID
                    description: A unique identifier for the product variant associated with the cart line item.
                  quantity:
                    type: integer
                    title: Quantity
                    description: The quantity of a cart line item.
                  price:
                    type: number
                    title: Price
                    description: The price of a cart line item.
        example: example_value
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: E-commerce Cart
            description: Information about a specific cart.
            properties:
              id:
                type: string
                title: Cart Foreign ID
                description: A unique identifier for the cart.
                readOnly: true
              customer:
                type: object
                title: E-commerce Customer
                description: Information about a specific customer.
                properties:
                  id:
                    type: string
                    title: Customer Foreign ID
                    description: A unique identifier for the customer.
                    readOnly: true
                  email_address:
                    type: string
                    title: Email Address
                    description: The customer's email address.
                    readOnly: true
                  opt_in_status:
                    type: boolean
                    title: Opt-in Status
                    description: The customer's opt-in status. This value will never overwrite the opt-in status of a pre-existing Mailchimp list member, but will apply to list members that are added through the e-commerce API endpoints. Customers who don't opt in to your Mailchimp list [will be added as `Transactional` members](https://mailchimp.com/developer/marketing/docs/e-commerce/#customers).
                  company:
                    type: string
                    title: Company
                    description: The customer's company.
                  first_name:
                    type: string
                    title: First Name
                    description: The customer's first name.
                  last_name:
                    type: string
                    title: Last Name
                    description: The customer's last name.
                  orders_count:
                    type: integer
                    title: Orders Count
                    description: The customer's total order count.
                    readOnly: true
                    example: 4
                  total_spent:
                    type: number
                    title: Total Spent
                    description: The total amount the customer has spent.
                    readOnly: true
                    example: 100
                  address:
                    type: object
                    title: Address
                    description: The customer's address.
                    properties:
                      address1:
                        type: string
                        title: Address Field 1
                        description: The mailing address of the customer.
                        example: 675 Ponce de Leon Ave NE
                      address2:
                        type: string
                        title: Address Field 2
                        description: An additional field for the customer's mailing address.
                        example: Suite 5000
                      city:
                        type: string
                        title: 'City '
                        description: The city the customer is located in.
                        example: Atlanta
                      province:
                        type: string
                        title: Province
                        description: The customer's state name or normalized province.
                        example: Georgia
                      province_code:
                        type: string
                        title: Province Code
                        description: The two-letter code for the customer's province or state.
                        example: GA
                      postal_code:
                        type: string
                        title: Postal Code
                        description: The customer's postal or zip code.
                        example: '30308'
                      country:
                        type: string
                        title: Country Code
                        description: The customer's country.
                        example: United States
                      country_code:
                        type: string
                        title: Country Code
                        description: The two-letter code for the customer's country.
                        example: US
                  created_at:
                    type: string
                    title: Creation Time
                    format: date-time
                    description: The date and time the customer was created in ISO 8601 format.
                    readOnly: true
                    example: '2015-07-15T19:28:00+00:00'
                  updated_at:
                    type: string
                    title: Update Time
                    format: date-time
                    description: The date and time the customer was last updated in ISO 8601 format.
                    readOnly: true
                    example: '2015-07-15T19:28:00+00:00'
                  _links:
                    title: Links
                    description: A list of link types and descriptions for the API schema documents.
                    type: array
                    items:
                      type: object
                      title: Resource Link
                      description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                      properties:
                        rel:
                          type: string
                          title: Rel
                          description: As with an HTML 'rel' attribute, this describes the type of link.
                          readOnly: true
                        href:
                          type: string
                          title: Href
                          description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                          readOnly: true
                        method:
                          type: string
                          title: Method
                          description: The HTTP method that should be used when accessing the URL defined in 'href'.
                          enum:
                          - GET
                          - POST
                          - PUT
                          - PATCH
                          - DELETE
                          - OPTIONS
                          - HEAD
                          readOnly: true
                        targetSchema:
                          type: string
                          title: Target Schema
                          description: For GETs, this is a URL representing the schema that the response should conform to.
                          readOnly: true
                        schema:
                          type: string
                          title: Schema
                          description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                          readOnly: true
                    readOnly: true
              campaign_id:
                type: string
                title: Campaign ID
                description: A string that uniquely identifies the campaign associated with a cart.
                example: 839488a60b
              checkout_url:
                type: string
                title: Checkout URL
                description: The URL for the cart. This parameter is required for [Abandoned Cart](https://mailchimp.com/help/create-an-abandoned-cart-email/) automations.
              currency_code:
                type: string
                title: Currency Code
                description: The three-letter ISO 4217 code for the currency that the cart uses.
              order_total:
                type: number
                title: Order Total
                description: The order total for the cart.
              tax_total:
                type: number
                title: Tax Total
                description: The total tax for the cart.
              lines:
                type: array
                title: Cart Line Items
                description: An array of the cart's line items.
                items:
                  type: object
                  title: E-commerce Cart Line Item
                  description: Information about a specific cart line item.
                  properties:
                    id:
                      type: string
                      title: Cart Line Item Foreign ID
                      description: A unique identifier for the cart line item.
                      readOnly: true
                    product_id:
                      type: string
                      title: Cart Line Product Foreign ID
                      description: A unique identifier for the product associated with the cart line item.
                    product_title:
                      type: string
                      title: Cart Line Product Title
                      description: The name of the product for the cart line item.
                      readOnly: true
                    product_variant_id:
                      type: string
                      title: Cart Line Product Variant Foreign ID
                      description: A unique identifier for the product variant associated with the cart line item.
                    product_variant_title:
                      type: string
                      title: Cart Line Product Variant Title
                      description: The name of the product variant for the cart line item.
                      readOnly: true
                    quantity:
                      type: integer
                      title: Quantity
                      description: The quantity of a cart line item.
                    price:
                      type: number
                      title: Price
                      description: The price of a cart line item.
                    _links:
                      title: Links
                      description: A list of link types and descriptions for the API schema documents.
                      type: array
                      items:
                        type: object
                        title: Resource Link
                        description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                        properties:
                          rel:
                            type: string
                            title: Rel
                            description: As with an HTML 'rel' attribute, this describes the type of link.
                            readOnly: true
                          href:
                            type: string
                            title: Href
                            description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                            readOnly: true
                          method:
                            type: string
                            title: Method
                            description: The HTTP method that should be used when accessing the URL defined in 'href'.
                            enum:
                            - GET
                            - POST
                            - PUT
                            - PATCH
                            - DELETE
                            - OPTIONS
                            - HEAD
                            readOnly: true
                          targetSchema:
                            type: string
                            title: Target Schema
                            description: For GETs, this is a URL representing the schema that the response should conform to.
                            readOnly: true
                          schema:
                            type: string
                            title: Schema
                            description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                            readOnly: true
                      readOnly: true
              created_at:
                type: string
                title: Creation Time
                format: date-time
                description: The date and time the cart was created in ISO 8601 format.
                readOnly: true
                example: '2015-07-15T19:28:00+00:00'
              updated_at:
                type: string
                title: Update Time
                format: date-time
                description: The date and time the cart was last updated in ISO 8601 format.
                readOnly: true
                example: '2015-07-15T19:28:00+00:00'
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Ecommerce
      x-custom-config:
        methodNameSnake: update_store_cart
        methodNameCamel: updateStoreCart
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Mailchimp Delete Cart
      description: Delete a cart.
      operationId: deleteEcommerceStoresIdCartsId
      parameters:
      - name: store_id
        x-title: Store ID
        description: The store id.
        in: path
        required: true
        type: string
        example: '500123'
      - name: cart_id
        x-title: Cart ID
        description: The id for the cart.
        in: path
        required: true
        type: string
        example: '500123'
      responses:
        '204':
          description: Empty Response
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Ecommerce
      x-custom-config:
        methodNameSnake: delete_store_cart
        methodNameCamel: deleteStoreCart
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ecommerce/stores/{store_id}/carts/{cart_id}/lines/{line_id}:
    get:
      summary: Mailchimp Get Cart Line Item
      description: Get information about a specific cart line item.
      operationId: getEcommerceStoresIdCartsIdLinesId
      parameters:
      - name: fields
        x-title: Fields
        in: query
        description: A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: exclude_fields
        x-title: Exclude Fields
        in: query
        description: A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.
        required: false
        type: array
        collectionFormat: csv
        items:
          type: string
        example: example_value
      - name: store_id
        x-title: Store ID
        description: The store id.
        in: path
        required: true
        type: string
        example: '500123'
      - name: cart_id
        x-title: Cart ID
        description: The id for the cart.
        in: path
        required: true
        type: string
        example: '500123'
      - name: line_id
        x-title: Cart Line ID
        description: The id for the line item of a cart.
        in: path
        required: true
        type: string
        example: '500123'
      responses:
        '200':
          description: ''
          schema:
            type: object
            title: E-commerce Cart Line Item
            description: Information about a specific cart line item.
            properties:
              id:
                type: string
                title: Cart Line Item Foreign ID
                description: A unique identifier for the cart line item.
                readOnly: true
              product_id:
                type: string
                title: Cart Line Product Foreign ID
                description: A unique identifier for the product associated with the cart line item.
              product_title:
                type: string
                title: Cart Line Product Title
                description: The name of the product for the cart line item.
                readOnly: true
              product_variant_id:
                type: string
                title: Cart Line Product Variant Foreign ID
                description: A unique identifier for the product variant associated with the cart line item.
              product_variant_title:
                type: string
                title: Cart Line Product Variant Title
                description: The name of the product variant for the cart line item.
                readOnly: true
              quantity:
                type: integer
                title: Quantity
                description: The quantity of a cart line item.
              price:
                type: number
                title: Price
                description: The price of a cart line item.
              _links:
                title: Links
                description: A list of link types and descriptions for the API schema documents.
                type: array
                items:
                  type: object
                  title: Resource Link
                  description: This object represents a link from the resource where it is found to another resource or action that may be performed.
                  properties:
                    rel:
                      type: string
                      title: Rel
                      description: As with an HTML 'rel' attribute, this describes the type of link.
                      readOnly: true
                    href:
                      type: string
                      title: Href
                      description: This property contains a fully-qualified URL that can be called to retrieve the linked resource or perform the linked action.
                      readOnly: true
                    method:
                      type: string
                      title: Method
                      description: The HTTP method that should be used when accessing the URL defined in 'href'.
                      enum:
                      - GET
                      - POST
                      - PUT
                      - PATCH
                      - DELETE
                      - OPTIONS
                      - HEAD
                      readOnly: true
                    targetSchema:
                      type: string
                      title: Target Schema
                      description: For GETs, this is a URL representing the schema that the response should conform to.
                      readOnly: true
                    schema:
                      type: string
                      title: Schema
                      description: For HTTP methods that can receive bodies (POST and PUT), this is a URL representing the schema that the body should conform to.
                      readOnly: true
                readOnly: true
        default:
          description: An error generated by the Mailchimp API.
          schema:
            type: object
            title: Problem Detail Document
            description: An error generated by the Mailchimp API. Conforms to IETF draft 'draft-nottingham-http-problem-06'.
            required:
            - type
            - title
            - status
            - detail
            - instance
            properties:
              type:
                type: string
                title: Problem Type
                description: An absolute URI that identifies the problem type. When dereferenced, it should provide human-readable documentation for the problem type.
                example: https://mailchimp.com/developer/marketing/docs/errors/
              title:
                type: string
                title: Error Title
                description: A short, human-readable summary of the problem type. It shouldn't change based on the occurrence of the problem, except for purposes of localization.
                example: Resource Not Found
              status:
                type: integer
                title: HTTP Status Code
                description: The HTTP status code (RFC2616, Section 6) generated by the origin server for this occurrence of the problem.
                example: 404
              detail:
                type: string
                title: Error Message
                description: A human-readable explanation specific to this occurrence of the problem. [Learn more about errors](/developer/guides/get-started-with-mailchimp-api-3/#Errors).
                example: The requested resource could not be found.
              instance:
                type: string
                title: Instance ID
                description: A string that identifies this specific occurrence of the problem. Please provide this ID when contacting support.
                example: 995c5cb0-3280-4a6e-808b-3b096d0bb219
      deprecated: false
      tags:
      - Ecommerce
      x-custom-config:
        methodNameSnake: get_cart_line_item
        methodNameCamel: getCartLineItem
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      summary: Mailchimp Update Cart Line Item
      description: Update a specific cart line item.
      operationId: patchEcommerceStoresIdCartsIdLinesId
      parameters:
      - name: store_id
        x-title: Store ID
        description: The store id.
        in: path
        required: true
        type: string
        example: '500123'
      - name: cart_id
        x-title: Cart ID
        description: The id for the cart.
        in: path
        required: true
        type: string
        example: '500123'
      - name: line_id
        x-title: Cart Line ID
        description: The id for the line item of a cart.
        in: path
        required: true
        type: string
        example: '500123'
      - name: body
        in: body
        description: ''
        required: true
        schema:
          type: object
          title: E-commerce Cart Line Item
          description: Information about a specific cart line item.
          properties:
            product_id:
              type: string
              title: Cart Line Product Foreign ID
              description: A unique identifier for the product associated with the cart line item.
            product_variant_id:
              type: string
              title: Cart Line Product Variant Foreign ID
              description: A unique identifier for the product variant associated with the cart line item.
            quantity:
              type: integer
              title: Quantity
              description: The quantity of a cart line item.
[...]
